@import '../../../assets/less/_vars';


:host ::ng-deep {

  nav {
    .flex;
    width: 100%;
    border-bottom: 1px solid @toxic;

    ul {
      .flex;
      .center-top;
    }

    a{
      display: block;
      width: 100%;
      height: 100%;
      margin: 0 5px;
      padding: 5px;
      color: @toxic;
      opacity: .5;
      font-size: 1.2rem;
      //text-transform: uppercase;
      .transition;
      font-family: 'Major Mono Display', monospace;
      //font-family: 'Philosopher', sans-serif;
      //font-family: 'Roboto', sans-serif;
      //font-family: 'Sarabun', sans-serif;
      //font-family: 'Noticia Text', serif;

      i {
        display: none;
        text-align: center;
        padding: 0 10px;
      }

      &:hover, &.l-active-route  {
        .transition;
        opacity: 1;
      }

      &.l-active-route {
        .transition_fast;
      }

      &.l-active-route {
        pointer-events: none;
        margin-top: 20px;
        position: relative;

        &:after {
          content: '';
          width: 0;
          height: 0;
          border: 7px solid transparent;
          border-top: 7px solid @toxic;
          position: absolute;
          bottom: -14px;
          left: 50%;
          margin-left: -7px;
        }
      }
    }
  }

  @media all and (max-width: @mobile) {
    nav {
      a {
        span {
          display: none;
        }

        i{
          display: block;
        }
      }
    }
  }
}
