<div class="popup-styles ">
  <div class="popup-inner-wrapper flex col">
    <div class="logo flex center-left center-top">
      <iu-ui-img src="shared-assets/img/logo.svg" alt="UPay-logo">
      </iu-ui-img>
    </div>
    <!--<div class="pay-block flex col">-->
      <!--<div class="flex space-between">"Յուփեյ" ՓԲԸ<span>ՀՎՀՀ {{tin}}</span></div>-->
      <!--<div class="flex space-between">Հեռ. {{phone}}</div>-->
    <!--</div>-->

    <div *ngIf="isPos" class="title_isPos"><b>Անկանխիկ գործարք</b></div>

    <div class="pay-block" *ngFor="let p of selectedList" [ngClass]="p.paymentState">
      Կարգավիճակ: <span class="payment_state">{{p.paymentState | translate}}</span>
      <!--<div class="flex space-between">Գործարքի համարը<span>{{p.searchFormData.transactionId}}</span></div>-->
      <div class="flex space-between">
        Բաժանորդային համար
        <span>{{p.transferMappedData.customerIdKey}} [{{p.providerData.config.displayText | translate}}]</span>
      </div>
      <div class="flex space-between" *ngIf="p.transferMappedData.customerName">
        Բաժանորդ
        <span>{{p.transferMappedData.customerName}}</span>
      </div>
      <div class="flex space-between">Վճարվել է <span>{{getTotalForItem(p)}} դր</span></div>
    </div>

    <div class="pay-block total-block">
      <div class="flex space-between total">Ընդամենը<b>{{totalAmount}}դր</b></div>
      <div class="flex space-between">Ընդամենը վճարվել է <b>{{inAmount}}դր</b></div>
      <div class="flex space-between" *ngIf="diff">Մնացորդ <span>{{diff}}դր</span></div>
    </div>

    <div class="pay-block total-block return-block" *ngIf="failedPayments.length">
      <div class="flex space-between total">Չկայացած գործարքների հետևանքով հաճախորդին անհրաժեշտ է վերադարձնել
        <b>{{returnAmount}}դր</b>
      </div>
    </div>



    <!--<div class="pay-block total-block flex col">-->
      <!--Շնորհակալություն-->
      <!--<span>{{date}} {{time}}</span>-->
    <!--</div>-->

    <div class="flex cta-btn" *ngIf="ctaBtn">
      <iu-ui-button text="Վճարել"
                    (click)="onPayClick()" *ngIf="!activePrintBtn">
      </iu-ui-button>
      <iu-ui-button text="Տպել"
                    (click)="onPrintClick()" *ngIf="activePrintBtn">
      </iu-ui-button>
    </div>
  </div>
</div>

