@import '_variables';

.title_isPos{
  padding-left: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.pay-block {
  font-size: .8rem;

  padding: 10px 0;
  padding-left: 5px;
  border-bottom: 1px solid @gray-200;

  span.payment_state{
    font-style: italic;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: .75rem;
    line-height: 1rem;
    display: inline-block;
    color: @grey-900;
  }

  &.total-block {
    margin-top: 20px;

    .total {
      margin-bottom: 5px;
    }

  }

  &.pending {
    border-left: 3px solid @purple;
  }

  &.error {
    border-left: 3px solid @red;
  }

  &.success {
    border-left: 3px solid transparent;
  }

  &.return-block {
    color: @red;
  }
}

:host ::ng-deep {
  .logo{
    margin-top: 20px;
    margin-bottom: 10px;
  }
  img {
    // max-width: 65px;
  }

  .resend {
    button {
      .btn;
      .btn-rounded;
      .btn-green;
    }

    .cancel {
      button {
        background: @red;
      }
    }
  }

  .cta-btn{
    padding-left: 5px;
    iu-ui-button{
      margin: 0 auto;
    }
  }
}
