<div class="app-service-categories whitebox">
  <iu-ui-navigation>
    <li class="app-service-categories-item sidebar" *ngFor="let n of navigation">
      <iu-ui-link-with-icon [link]="n.key"
                            [iconClassName]="n.icon"
                            [text]="n.displayText | translate">
      </iu-ui-link-with-icon>
    </li>
  </iu-ui-navigation>
</div>
