

<table style="width:100%">
  <tr>
    <th>Providers</th>
    <th>percentage</th>
    <th>Price</th>
  </tr>
  <tr *ngFor="let p of providers">
    <td>
      <img [src]="'assets/img/' + p.logo"/>
      {{p.text}}
    </td>
    <td>{{p.percentage}} %</td>
    <td>{{p.price}} </td>
  </tr>
</table>
