<div class="get-in-touch flex center-top">
  <span>{{cta}}</span>
  <div class="cta">
    <lavash-link *ngFor="let link of socialLinks"
                 [icon]="link.icon"
                 [href]="link.href"
                 target="_blank">
    </lavash-link>
  </div>
</div>