// flex
.flex { display: flex;}
.col { flex-direction: column; }
.col-reverse { flex-direction: column-reverse; }
.row { flex-direction: row; }
.row-reverse { flex-direction: row-reverse; }
.center-top { align-items: center; }
.center-left { justify-content: center; }
.flex-bottom { justify-content: flex-end; }
.flex-top { justify-content: flex-start; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }
.flex-wrap { flex-wrap: wrap; }
.float-right { margin-right: 0; margin-left: auto;}

// responsive
@mobile: 780px;
@mobile_portait: 600px;

// transition
.transition { transition: all .3s ease-in-out; }
.transition_fast { transition: all .1s ease-in-out; }

// random
.no-event { pointer-events: none;}
.no-padding { padding: 0;  }
.hide { display: none; }
.text-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}