@import "lavash-reset";
@import "lavash-variables-and-mixins";


@blue: #263547;
@blue_hover: #44505f;
@blue_hover_tr: rgba(38, 53, 71, .8);
@blue_tr: rgba(38, 53, 71, .36);
@blue_link: #0077b5;
@gray-bold: #d2d2d2;
@gray: #edf0f2;
@gray_placeholder: #c9d7e0;
@white: #fdfdfd;
@white_l: #f1f3f4;
@red: #fd4245;
@green: #476c5e;
@green: #53c29a;

@text_hover_color: @white;
@text_hover_background_color: @blue;

@width_btn_sm: 35px;
@width_btn_md: 46px;
@width_btn_l: 52px;


@width_sm: 150px;
@width_md: 250px;
@width_l: 450px;

@height_sm: 30px;
@height_md: 50px;
@height_l: 70px;


@border-radius: 3px;

@padding_sm: 3px;
@padding_md: 6px;
@padding_l: 9px;

@transparent: rgba(38,53,71, .5);


.error-text {
  color: @red;
}

.graphic-positioning-container {
  .flex;
  .center-top;

  &.right, &.outer-right {
    .row-reverse;
  }
}

.l-hidden {
  opacity: 0;
  pointer-events: none;
}

.l-show {
  opacity: 1;
  pointer-events: all;
}
