<div class="l-article-card flex col"
     [ngClass]="'l-' + viewMode">
  <div class="l-article-img" *ngIf="article.imgSrc">
    <lavash-image [src]="articleImgPath + article.imgSrc">
    </lavash-image>
  </div>
  <div class="l-article-content flex col">
    <lavash-text class="l-article-title"
                 [text]="article.title"
                 #articleDescriptionEl>
    </lavash-text>

    <div class="l-article-description">
      <lavash-scrollbar-container *ngIf="viewMode === 'full'">
        <lavash-text [text]="article.description">
        </lavash-text>
      </lavash-scrollbar-container>

      <lavash-text *ngIf="viewMode === 'shorthand'"
                   [text]="article.description">
      </lavash-text>

    </div>
  </div>
  <lavash-button *ngIf="viewMode !== 'full'"
                 [text]="readMoreBtnText"
                 [graphics]="readMoreBtnIcon"
                 [className]="readMoreBtnClassNames"
                 (clickEvent)="onCardBtnClick(article)">
  </lavash-button>
</div>
