@import '../../../assets/less/variables.less';

:host ::ng-deep {
  cursor: pointer;
  .l-article-card {
    background: @blue_tr;
    color: @white_l;
    font-size: .8rem;
    position: relative;
    margin-bottom: 3px;
  }

  .l-article-content {
    padding: 5px;
  }

  .l-article-title {
    margin: 5px 0;
    font-size: 1.2rem;
  }

  button {
    z-index: 2;
  }

  &.l-shorthand {
    .l-story-content {
      height: auto;
    }

    .l-article-description {
      height: 78px;
      overflow: hidden;
      margin-bottom: 35px;
    }

    lavash-button {
      position: absolute;
      bottom: 5px;
      right: 5px;
    }
  }

  &.l-full {
    .l-article-img {
      height: 100vh;
      width: 500px;
      position: absolute;
      z-index: -1;
      top: 20px;
      left: 0;
      right: 0;
      overflow: hidden;
      margin: auto;


      img {
        width: 100%;
      }
    }

    .l-article-content {
      background: linear-gradient(to bottom, rgba(72,76,97,0) 0%, rgba(72,76,97,.6) 75%);
      // background: @blue_tr;
      margin-top: 300px;
      padding: 0 50px;
    }

    .l-article-title {
      font-size: 2rem;
    }

    .l-article-description {
      width: 100%;
      height: calc(100vh - 350px);
      font-size: 1rem;
      padding: 20px 0;
      overflow: scroll;

      p {
        font-size: 1rem;
      }

      a {
        color: @blue_link;
      }
    }

  }
}