<div class="main-page-services flex space-between">
  <div class="service whitebox" *ngFor="let s of services">
    <iu-ui-action-card [iconClassName]="s.icon" [title]="s.title" [description]="s.description" actionButtonText="Read more" (actionButtonClick)="redirect(s.path)"></iu-ui-action-card>
  </div>
</div>
