@import "../../../assets/less/_variables";

.service {
  box-shadow: 0 0 39px @gray-300;
  margin: 2rem 4rem;
  padding: 5rem 2rem 2rem 5rem;

  position: relative;
  z-index: 1;

  &:after {
    content: '';
    width: 90px;
    height: 96px;
    border-radius: @radius 0 50% 0;
    background: @secondary;
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    .transition;
  }

  &:hover {
    &:after {
      width: 100%;
      height: 100%;
      border-radius: @radius 0 10% 0;
    }
  }
}

:host ::ng-deep {
  .service {
    .transition;

    i {
      position: absolute;
      top: 0;
      left: 0;

      font-size: 3rem;

      display: block;
      width: 90px;
      line-height: 96px;
      text-align: center;
      color: @white;
    }

    .iu-ui-card-title {
      .title;
      text-transform: uppercase;
    }

    button {
      .btn;
      .btn-text;
    }

    &:hover {
      .transition;
      color: @white;

      button {
        color: @gray-600;
      }
    }
  }
}


