<div class="invoice" >
  <upay-provider-invoice-view [debtData]="debtData"
                              [payAmount]="amount"
                              [providerData]="providerData"
                              [commissionValue]="commission"
                              [receiptData]="receiptData"
                              [companyData]="companyData"
  >
  </upay-provider-invoice-view>
  
  
</div>

<button (click)="onPrintClick()">print</button>
