<div class="slideshow-container" #mainContainer>
  <div id="slides" #slideContainer>
    <ng-content></ng-content>
  </div>
  <a class="prev" (click)="prev()">&#10094;</a>
  <a class="next" (click)="next()">&#10095;</a>
</div>
