
:host ::ng-deep {

  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: auto;
    overflow:hidden;
  }

  .child-slide {
    width: 100%;
    height: 100%;
    position:absolute;
    left:0%;
  }

  .transition {
    -webkit-transition: left 1s ease ;
    -moz-transition: left 1s ease ;
    -o-transition: left 1s ease ;
    transition: left 1s ease ;
  }

  .img {
    vertical-align: middle;
    position: absolute;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #353535;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(189, 189, 189, 0.6);
  }

  .fadeIn {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
  }
}
