<div class="l-text-block" #textBlock>
	<span *ngFor="let word of _textBlockArr, let index = index"
		  class="l-text-unit"
		  [ngClass]="word?.state || ''"
		  (mouseenter)="onHover($event, word.value, index)"
		  (mouseleave)="offHover($event, word.value, index)">

		<lavash-text [text]="word.value" *ngIf="!tooltip"></lavash-text>

		<lavash-tooltip *ngIf="tooltip">
          <lavash-text [text]="word.value"></lavash-text>
		</lavash-tooltip>
	</span>
</div>