@import '../../../assets/less/_vars';

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

:host {
  width: 100%;
  height: 0;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  .transition;

  header {
    .flex;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .8;
    z-index: 2;
    .transition;
  }

  &.fix {
    height: 50px;
    background: @transparent;
    header {
      height: 50px;
    }

    &::ng-deep {
      .square {
        opacity: .2;
      }
    }
  }

  &::ng-deep {
    .logo-wrap {
      width: 140px;
    }

    .logo {
      width: 70px;
      height: 70px;
      margin-top: 30px;

      .square {
        border-color: fadeOut(@toxic, 50%);
        border-width: 1px;

        &:before {
          width: 5px;
          height: 5px;
          background: @toxic;
        }
      }

      .kpp {
        color: @toxic;
        width: 250%;
        font-size: .8rem;

        &:before, &:after {
          display: none;
        }
      }
    }

    @media all and (max-width: @mobile) {
      .logo-wrap {
        width: 100px;
      }

      .logo {
        width: 60px;
        height: 50px;
        margin-top: 20px;

        .kpp {
          color: @toxic;
          width: 250%;
          font-size: .5rem;

          &:before, &:after {
            display: none;
          }
        }
      }
    }
  }
}

