<div class="iu-ui-modal-window">
  <div class="iu-ui-modal-window-content" [ngClass]="customClass">
    <span class="iu-ui-modal-close"><iu-ui-button-with-icon [iconClassName]="iconClassName" (click)="closeModal()"></iu-ui-button-with-icon></span>
    <ng-content></ng-content>
  </div>

</div>
