<!--<div class="iu-ui-input-wrapper">-->

<!--  <input  type="date"-->
<!--          [value]="selectedValueStr"-->
<!--          (input)="onChange($event)"-->
<!--  />-->

<!--</div>-->


<mat-form-field>
  <input matInput
         [matDatepicker]="uiDataPicker"
         [placeholder]="placeholder"
         [value]="selectedValue"
         (dateChange)="onDateChange($event)">
  
  <mat-datepicker-toggle matSuffix
                         [for]="uiDataPicker">
  </mat-datepicker-toggle>
  
  <mat-datepicker #uiDataPicker>
  </mat-datepicker>
  
</mat-form-field>
