@import "../../../assets/less/_variables";

.app-popup {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.3);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

:host ::ng-deep {
  .iu-ui-modal-window-content {
    background: @gray-100;
    width: 500px;
    height: auto;
    max-height: calc(100% - 200px);
    border-radius: @radius;

    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;


    overflow-y: auto;
  }

  .iu-ui-modal-close {
    position: absolute;
    top: 10px;
    right: 15px;

    button {
      background: none;
      border: none;
    }
  }
}

.frozen-body{
  overflow-y: hidden;
}

.unfrozen-body{
  overflow-y: auto;
}
