<div class="app-popup" *ngIf="activePopupName !== popupsService.Popups.none">
  <iu-ui-modal-window iconClassName="icon_close" (closeModalClick)="closePopup()">

    <app-login-popup *ngIf="activePopupName === popupsService.Popups.login"></app-login-popup>

    <app-forgot-popup *ngIf="activePopupName === popupsService.Popups.forgot"></app-forgot-popup>
    
    <app-sign-up-popup *ngIf="activePopupName === popupsService.Popups.signUp"></app-sign-up-popup>

    <app-invoice-popup *ngIf="activePopupName === popupsService.Popups.invoice"></app-invoice-popup>
    

  </iu-ui-modal-window>
</div>
