@import "../../../assets/less/_variables";

:host ::ng-deep {

  .image{
    position: relative;
    width:100%;
    height:100%;
  }

  iu-ui-action-card {
    .iu-ui-card {
      position: absolute;
      top: 20%;
      left: 20%;
    }

    .iu-ui-card-main-title{
      text-transform: uppercase;
      font-size: 3.0rem;
      font-weight: bold;
      color: @dark;
      margin-bottom: 0.1rem;
    }

    .iu-ui-card-title {
      text-transform: uppercase;
      font-size: 3.0rem;
      color: @dark;
      margin-bottom:1.0rem;
    }

    .iu-ui-card-description {
      font-size: 1.0rem;
      margin-bottom: 5.0rem;
    }

    .iu-ui-button {
      .btn;
      background-color: #86af23;
      color: #fff;
      width: 14rem;
      height: 3rem;
      border-radius: 2rem;
    }

  }

}
