<iu-ui-slider [animation]="'slide'" [height]="'728px'" [interval]="5000">
  <div *ngFor="let slide of slideList" >
    <img [src]="slide.imageUrl" class="image">
    <iu-ui-action-card
      [mainTitle]="slide.mainTitle"
      [title]="slide.title"
      [description]="slide.description"
      [actionButtonText]="slide.buttonTitle"
      (actionButtonClick)="buttonClicked()"
    >
    </iu-ui-action-card>
  </div>
</iu-ui-slider>
