@font-face {
  font-family: 'lavash-icomoon';
  src:  url('fonts/lavash-icomoon.eot?8jaz9y');
  src:  url('fonts/lavash-icomoon.eot?8jaz9y#iefix') format('embedded-opentype'),
    url('fonts/lavash-icomoon.ttf?8jaz9y') format('truetype'),
    url('fonts/lavash-icomoon.woff?8jaz9y') format('woff'),
    url('fonts/lavash-icomoon.svg?8jaz9y#lavash-icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="l-icon-"], [class*=" l-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lavash-icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.l-icon-closed_caption:before {
  content: "\10ff2a";
}
.l-icon-forward_10:before {
  content: "\10ff2b";
}
.l-icon-forward_5:before {
  content: "\10ff2c";
}
.l-icon-replay_10:before {
  content: "\10ff2d";
}
.l-icon-replay_5:before {
  content: "\10ff2e";
}
.l-icon-headset:before {
  content: "\10ff2f";
}
.l-icon-navigate_beforechevron_left:before {
  content: "\10ff30";
}
.l-icon-navigate_nextchevron_right:before {
  content: "\10ff31";
}
.l-icon-fullscreen:before {
  content: "\10ff32";
}
.l-icon-fullscreen_exit:before {
  content: "\10ff33";
}
.l-icon-unfold_more:before {
  content: "\10ff34";
}
.l-icon-swap_horiz:before {
  content: "\10ff35";
}
.l-icon-swap_vert:before {
  content: "\10ff36";
}
.l-icon-http:before {
  content: "\10ff37";
}
.l-icon-closed_caption_off:before {
  content: "\10ff38";
}
.l-icon-speed:before {
  content: "\10ff39";
}
.l-icon-all_inclusive:before {
  content: "\10ff3a";
}
.l-icon-chevron-right2:before {
  content: "\10ff3b";
}
.l-icon-chevron-left2:before {
  content: "\10ff3c";
}
.l-icon-th-small1:before {
  content: "\10ff3d";
}
.l-icon-th-menu1:before {
  content: "\10ff3e";
}
.l-icon-attachment1:before {
  content: "\10ff3f";
}
.l-icon-media-pause:before {
  content: "\10ff40";
}
.l-icon-pin:before {
  content: "\10ff41";
}
.l-icon-arrow-shuffle:before {
  content: "\10ff42";
}
.l-icon-arrow-minimise1:before {
  content: "\10ff43";
}
.l-icon-arrow-maximise1:before {
  content: "\10ff44";
}
.l-icon-chevron-right-outline1:before {
  content: "\10ff45";
}
.l-icon-chevron-left-outline1:before {
  content: "\10ff46";
}
.l-icon-media-pause-outline:before {
  content: "\10ff47";
}
.l-icon-media-stop-outline1:before {
  content: "\10ff48";
}
.l-icon-media-rewind-outline1:before {
  content: "\10ff49";
}
.l-icon-media-record-outline1:before {
  content: "\10ff4a";
}
.l-icon-media-play-outline1:before {
  content: "\10ff4b";
}
.l-icon-media-fast-forward-outline1:before {
  content: "\10ff4c";
}
.l-icon-volume1:before {
  content: "\10ff4d";
}
.l-icon-volume-up1:before {
  content: "\10ff4e";
}
.l-icon-volume-mute1:before {
  content: "\10ff4f";
}
.l-icon-volume-down1:before {
  content: "\10ff50";
}
.l-icon-activity:before {
  content: "\10ff51";
}
.l-icon-aperture:before {
  content: "\10ff52";
}
.l-icon-chevron-down1:before {
  content: "\10ff53";
}
.l-icon-chevron-left1:before {
  content: "\10ff54";
}
.l-icon-chevron-right1:before {
  content: "\10ff55";
}
.l-icon-chevron-up:before {
  content: "\10ff56";
}
.l-icon-chevrons-down:before {
  content: "\10ff57";
}
.l-icon-chevrons-left:before {
  content: "\10ff58";
}
.l-icon-chevrons-right:before {
  content: "\10ff59";
}
.l-icon-chevrons-up:before {
  content: "\10ff5a";
}
.l-icon-corner-down-left:before {
  content: "\10ff5b";
}
.l-icon-corner-down-right:before {
  content: "\10ff5c";
}
.l-icon-corner-up-left:before {
  content: "\10ff5d";
}
.l-icon-corner-up-right:before {
  content: "\10ff5e";
}
.l-icon-download:before {
  content: "\10ff5f";
}
.l-icon-download-cloud:before {
  content: "\10ff60";
}
.l-icon-headphones1:before {
  content: "\10ff61";
}
.l-icon-heart1:before {
  content: "\10ff62";
}
.l-icon-linkedin:before {
  content: "\10ff63";
}
.l-icon-maximize-2:before {
  content: "\10ff64";
}
.l-icon-minimize-2:before {
  content: "\10ff65";
}
.l-icon-minus-circle:before {
  content: "\10ff66";
}
.l-icon-minus-square:before {
  content: "\10ff67";
}
.l-icon-more-horizontal:before {
  content: "\10ff68";
}
.l-icon-more-vertical:before {
  content: "\10ff69";
}
.l-icon-music:before {
  content: "\10ff6a";
}
.l-icon-pause1:before {
  content: "\10ff6b";
}
.l-icon-pause-circle:before {
  content: "\10ff6c";
}
.l-icon-play-circle:before {
  content: "\10ff6d";
}
.l-icon-plus-circle:before {
  content: "\10ff6e";
}
.l-icon-plus-square:before {
  content: "\10ff6f";
}
.l-icon-refresh-cw:before {
  content: "\10ff70";
}
.l-icon-repeat:before {
  content: "\10ff71";
}
.l-icon-rotate-ccw:before {
  content: "\10ff72";
}
.l-icon-rotate-cw:before {
  content: "\10ff73";
}
.l-icon-search:before {
  content: "\10ff74";
}
.l-icon-share:before {
  content: "\10ff75";
}
.l-icon-toggle-left:before {
  content: "\10ff76";
}
.l-icon-toggle-right:before {
  content: "\10ff77";
}
.l-icon-trash-2:before {
  content: "\10ff78";
}
.l-icon-volume-1:before {
  content: "\10ff79";
}
.l-icon-volume-2:before {
  content: "\10ff7a";
}
.l-icon-volume-x:before {
  content: "\10ff7b";
}
.l-icon-chevron-down:before {
  content: "\10ff7c";
}
.l-icon-times:before {
  content: "\10ff7d";
}
.l-icon-tick:before {
  content: "\10ff7e";
}
.l-icon-minus:before {
  content: "\10ff7f";
}
.l-icon-equals:before {
  content: "\10ff80";
}
.l-icon-divide:before {
  content: "\10ff81";
}
.l-icon-chevron-right:before {
  content: "\10ff82";
}
.l-icon-chevron-left:before {
  content: "\10ff83";
}
.l-icon-th-small:before {
  content: "\10ff84";
}
.l-icon-th-menu:before {
  content: "\10ff85";
}
.l-icon-th-list:before {
  content: "\10ff86";
}
.l-icon-arrow-forward:before {
  content: "\10ff87";
}
.l-icon-arrow-back:before {
  content: "\10ff88";
}
.l-icon-arrow-up-thick:before {
  content: "\10ff89";
}
.l-icon-arrow-down-thick:before {
  content: "\10ff8a";
}
.l-icon-star:before {
  content: "\10ff8b";
}
.l-icon-delete-outline:before {
  content: "\10ff8c";
}
.l-icon-cloud-storage:before {
  content: "\10ff8d";
}
.l-icon-heart:before {
  content: "\10ff8e";
}
.l-icon-attachment:before {
  content: "\10ff8f";
}
.l-icon-warning:before {
  content: "\10ff90";
}
.l-icon-user:before {
  content: "\10ff91";
}
.l-icon-lock-closed:before {
  content: "\10ff92";
}
.l-icon-location-arrow:before {
  content: "\10ff93";
}
.l-icon-eye:before {
  content: "\10ff94";
}
.l-icon-cog:before {
  content: "\10ff95";
}
.l-icon-refresh:before {
  content: "\10ff96";
}
.l-icon-input-checked:before {
  content: "\10ff97";
}
.l-icon-notes:before {
  content: "\10ff98";
}
.l-icon-arrow-minimise:before {
  content: "\10ff99";
}
.l-icon-arrow-maximise:before {
  content: "\10ff9a";
}
.l-icon-at:before {
  content: "\10ff9b";
}
.l-icon-times-outline:before {
  content: "\10ff9c";
}
.l-icon-plus-outline:before {
  content: "\10ff9d";
}
.l-icon-minus-outline:before {
  content: "\10ff9e";
}
.l-icon-equals-outline:before {
  content: "\10ff9f";
}
.l-icon-divide-outline:before {
  content: "\10ffa0";
}
.l-icon-chevron-right-outline:before {
  content: "\10ffa1";
}
.l-icon-chevron-left-outline:before {
  content: "\10ffa2";
}
.l-icon-th-small-outline:before {
  content: "\10ffa3";
}
.l-icon-th-menu-outline:before {
  content: "\10ffa4";
}
.l-icon-th-list-outline:before {
  content: "\10ffa5";
}
.l-icon-location-outline:before {
  content: "\10ffa6";
}
.l-icon-cross:before {
  content: "\10ffa7";
}
.l-icon-star-outline:before {
  content: "\10ffa8";
}
.l-icon-mail:before {
  content: "\10ffa9";
}
.l-icon-heart-outline:before {
  content: "\10ffaa";
}
.l-icon-warning-outline:before {
  content: "\10ffab";
}
.l-icon-radar-outline:before {
  content: "\10ffac";
}
.l-icon-info-outline:before {
  content: "\10ffad";
}
.l-icon-attachment-outline:before {
  content: "\10ffae";
}
.l-icon-user-outline:before {
  content: "\10ffaf";
}
.l-icon-group-outline:before {
  content: "\10ffb0";
}
.l-icon-upload-outline:before {
  content: "\10ffb1";
}
.l-icon-scissors-outline:before {
  content: "\10ffb2";
}
.l-icon-zoom-outline:before {
  content: "\10ffb3";
}
.l-icon-folder:before {
  content: "\10ffb4";
}
.l-icon-document-add:before {
  content: "\10ffb5";
}
.l-icon-sort-numerically-outline:before {
  content: "\10ffb6";
}
.l-icon-calender-outline:before {
  content: "\10ffb7";
}
.l-icon-power-outline:before {
  content: "\10ffb8";
}
.l-icon-phone-outline:before {
  content: "\10ffb9";
}
.l-icon-microphone-outline:before {
  content: "\10ffba";
}
.l-icon-media-stop-outline:before {
  content: "\10ffbb";
}
.l-icon-media-rewind-outline:before {
  content: "\10ffbc";
}
.l-icon-media-record-outline:before {
  content: "\10ffbd";
}
.l-icon-media-play-outline:before {
  content: "\10ffbe";
}
.l-icon-media-fast-forward-outline:before {
  content: "\10ffbf";
}
.l-icon-headphones:before {
  content: "\10ffc0";
}
.l-icon-volume:before {
  content: "\10ffc1";
}
.l-icon-volume-up:before {
  content: "\10ffc2";
}
.l-icon-volume-mute:before {
  content: "\10ffc3";
}
.l-icon-volume-down:before {
  content: "\10ffc4";
}
.l-icon-social-linkedin-circular:before {
  content: "\10ffc5";
}
.l-icon-social-facebook-circular:before {
  content: "\10ffc6";
}
.l-icon-social-at-circular:before {
  content: "\10ffc7";
}
.l-icon-messages:before {
  content: "\10ffc8";
}
.l-icon-creative-commons:before {
  content: "\10ffc9";
}
.l-icon-chevron-down2:before {
  content: "\10ffca";
}
.l-icon-chevron-left3:before {
  content: "\10ffcb";
}
.l-icon-chevron-right3:before {
  content: "\10ffcc";
}
.l-icon-chevron-up1:before {
  content: "\10ffcd";
}
.l-icon-resize-100:before {
  content: "\10ffce";
}
.l-icon-resize-full-screen:before {
  content: "\10ffcf";
}
.l-icon-triangle-down:before {
  content: "\10ffd0";
}
.l-icon-triangle-left:before {
  content: "\10ffd1";
}
.l-icon-triangle-right:before {
  content: "\10ffd2";
}
.l-icon-triangle-up:before {
  content: "\10ffd3";
}
.l-icon-cross1:before {
  content: "\10ffd4";
}
.l-icon-export:before {
  content: "\10ffd5";
}
.l-icon-feather:before {
  content: "\10ffd6";
}
.l-icon-gauge:before {
  content: "\10ffd7";
}
.l-icon-menu:before {
  content: "\10ffd8";
}
.l-icon-shuffle:before {
  content: "\10ffd9";
}
.l-icon-unread:before {
  content: "\10ffda";
}
.l-icon-chevron-thin-down:before {
  content: "\10ffdb";
}
.l-icon-chevron-small-down:before {
  content: "\10ffdc";
}
.l-icon-cheveron-down:before {
  content: "\10ffdd";
}
.l-icon-calendar:before {
  content: "\10ffde";
}
.l-icon-printer:before {
  content: "\10ffdf";
}
.l-icon-pencil:before {
  content: "\10ffe0";
}
.l-icon-calendar1:before {
  content: "\10ffe1";
}
.l-icon-spinner:before {
  content: "\10ffe2";
}
.l-icon-bin:before {
  content: "\10ffe3";
}
.l-icon-bin2:before {
  content: "\10ffe4";
}
.l-icon-smile2:before {
  content: "\10ffe5";
}
.l-icon-sad2:before {
  content: "\10ffe6";
}
.l-icon-wink2:before {
  content: "\10ffe7";
}
.l-icon-baffled2:before {
  content: "\10ffe8";
}
.l-icon-confused2:before {
  content: "\10ffe9";
}
.l-icon-info:before {
  content: "\10ffea";
}
.l-icon-checkmark:before {
  content: "\10ffeb";
}
.l-icon-play2:before {
  content: "\10ffec";
}
.l-icon-pause:before {
  content: "\10ffed";
}
.l-icon-stop:before {
  content: "\10ffee";
}
.l-icon-previous:before {
  content: "\10ffef";
}
.l-icon-next:before {
  content: "\10fff0";
}
.l-icon-backward:before {
  content: "\10fff1";
}
.l-icon-forward2:before {
  content: "\10fff2";
}
.l-icon-previous2:before {
  content: "\10fff3";
}
.l-icon-next2:before {
  content: "\10fff4";
}
.l-icon-infinite:before {
  content: "\10fff5";
}
.l-icon-sort-amount-asc:before {
  content: "\10fff6";
}
.l-icon-sort-amount-desc:before {
  content: "\10fff7";
}
.l-icon-radio-checked:before {
  content: "\10fff8";
}
.l-icon-radio-checked2:before {
  content: "\10fff9";
}
.l-icon-radio-unchecked:before {
  content: "\10fffa";
}
.l-icon-filter:before {
  content: "\10fffb";
}
.l-icon-share2:before {
  content: "\10fffc";
}
.l-icon-soundcloud:before {
  content: "\10fffd";
}
.l-icon-file-pdf:before {
  content: "\10fffe";
}
.l-icon-file-openoffice:before {
  content: "\10ffff";
}
