@import '../../../assets/less/variables.less';
@import '../../../assets/icomoon/style.css';


:host ::ng-deep {
  .l-checkbox {
    cursor: pointer;
    .flex;
    .center-top;

    .selection-area {
      width: 16px;
      height: 16px;
      .flex;
      .center-top;
      .center-left;
      text-align: center;
      border: 1px solid @gray;
      border-radius: 3px;
      margin-right: 5px;

      i {
        color: @blue;
        opacity: 0;
        .transition;
      }

      &.selected{
        i {
          opacity: 1;
        }
      }
    }
  }

  .l-checkbox-options {
    .flex;
  }

  .l-checkbox-option {
    .flex;
    .center-top;
    cursor: pointer;
    margin-right: 12px;

    .selection-area {
      width: 16px;
      height: 16px;
      .flex;
      .center-top;
      .center-left;
      text-align: center;
      border: 1px solid @gray;
      border-radius: 3px;
      margin-right: 5px;

      i {
        color: @blue;
        opacity: 0;
        .transition;
      }

      &.selected{
        i {
          opacity: 1;
        }
      }
    }
  }
}




