<div class="claim-application-details">
  <upay-business-data-card [results]="claimSearchResult"
                           [noEvent]="true"
                           [hasGoBack]="true"
                           [goBackText]="goBackText | translate"
                           [goBackPath]="goBackPath">
  </upay-business-data-card>
  
  <upay-claim-by-customer-description [claimData]="claimData"
                                      [customerDataConfig]="customerDataConfig"
                                      claimerTitle="pages.claims.claimer"
                                      examinationNotesTitle="pages.claims.examinationNotes"
                                      directionTitle="pages.claims.direction"
                                      attachmentsTitle="pages.claims.attachments"
                                      noteHistoryDate="pages.claims.noteHistoryDate"
                                      noteHistoryUsername="pages.claims.noteHistoryUsername"
                                      noteHistoryStatus="pages.claims.noteHistoryStatus"
                                      noteHistoryComment="pages.claims.noteHistoryComment"
                                      cancellationTypeTranslationPrefix="pages.claims."
                                      newNotesTitle="pages.claims.notes"
                                      newNotesPlaceholder="pages.claims.notes"
                                      [files]="files"
                                      [fileStorageUrl]="fileStorageUrl"
                                      (notesInput)="addNotes($event)"
                                      (actionClick)="onActionClick($event)">>
  </upay-claim-by-customer-description>
</div>
