<!-- irakanum ahavor markup a : petqa poxel ete hascnenq -->
<div class="user-block">
  <iu-ui-drop-down>
    <div iu-ui-header>
      <div class="user-foto pull-left">
        <span><i class="icon_user-profile"></i></span>
      </div>

      <div class="user-info pull-left dropdown show">
        <div class="dropdown-toggle aft-none" id="profileDropdown">
          <span class="phone">{{currentUser?.phone}}</span>
          <span class="pull-right">
              <i class="icon_arrow-down"></i>
              <span class="amount money-value">{{currentUser?.balance/100}}</span>
          </span>
        </div>
      </div>
    </div>

    <div iu-ui-body>
      <ul>
        <li class="dropdown-divider"></li>
        <li class="current">
          <iu-ui-link link="/client/profile" text="View Profile"></iu-ui-link>
        </li>

        <li class="dropdown-divider"></li>
        <li class="current">
          <iu-ui-link-with-icon link="/" text="Settings" iconClassName="icon_settings"></iu-ui-link-with-icon>
        </li>


        <li class="dropdown-divider"></li>
        <li class="current">
          <iu-ui-button-with-icon text="Log out" iconClassName="icon_logout"
                                  (click)="logout($event)"></iu-ui-button-with-icon>
        </li>
      </ul>
    </div>
  </iu-ui-drop-down>
</div>


