<div class="flex client-pay-page">
  <div class="w-25">
    <!--<app-service-category-navigation routPath="/client/pay"></app-service-category-navigation>-->
    <upay-terminal-category-navigation>
    </upay-terminal-category-navigation>
  </div>
  <div class="selected service-container whitebox w-75">
    <router-outlet></router-outlet>
  </div>
</div>


