<div class="container">
  <div id="material-tabs" *ngIf="currentItem.isOut && currentItem.isIn">
    <a *ngIf="currentItem?.isOut" id="tab2-tab" (click)="seActiveTab('out')" [className]="activeTab=='out'?'active':''">
        Ելք
      </a>
    <a id="tab1-tab" *ngIf="currentItem?.isIn"  (click)="seActiveTab('in')" [className]="activeTab=='in'?'active':''">
      Մուտք
    </a>
    <span class="bar"></span>
  </div>

  <div  [ngClass]="(currentItem.type.indexOf('UCOM_WALLET') < 0 ) ? 'tab-content' : ''" >
    <div *ngIf="currentItem.type.indexOf('UCOM_WALLET') < 0">
      <div class="pay-block flex col">
        <div class="flex space-between">
          <span class="left-part">Ամսաթիվ</span>
          <span>{{currentDate.time}}  {{currentDate.date}}</span>
        </div>
        <div class="flex space-between">
          <span class="left-part">Դրամարկղի մնացորդ</span>
          <span id="incasationBalance">{{cashBoxAvailableMoney}} {{'measureUnit.amd' | translate}}</span>
        </div>
      </div>
      <hr>
      <div class="content cta form" id="encashment_fields">
        <div *ngFor="let item of currentItem.fields">
          <iu-ui-input *ngIf="item.type !== 'select'"
                       class="name"
                       ngDefaultControl
                       [placeholder]="item.placeholder"
                       [type]="item.type"
                       (valueChange)="currentItem.data[item.key] = $event"
                       [(ngModel)]="currentItem.data[item.key]">
          </iu-ui-input>
          <iu-ui-select *ngIf="item.type === 'select'"
                        [placeholder]="item.placeholder"
                        [options]="item.options"
                        (optionClick)="onOptionClick($event)">
          </iu-ui-select>
        </div>
        <div *ngIf="(currentItem.type === 'IDRAM') ||
                    (currentItem.type === 'LOAN_GOOD_CREDIT') ||
                    (currentItem.type === 'LOAN_GLOBAL_CREDIT') ||
                    (currentItem.type === 'LOAN_VARKS_AM')"
        class="for-phone-picker">
          <upay-armenian-phone-picker #upayArmenianPhonePicker
            (valueChange)="onPhoneNumberChange($event)">
          </upay-armenian-phone-picker>
        </div>
        <iu-ui-button (click)="onActionClick()" text="Հաստատել">
        </iu-ui-button>
      </div>
    </div>

    <div *ngIf="currentItem.type.indexOf('UCOM_WALLET') >= 0">
      <app-cash-out (cashoutAction)="onCashOut($event)">
      </app-cash-out>
    </div>
  </div>
</div>
