@import "_variables";

:host ::ng-deep {
  button {
    .btn;
    .btn-green;
    .btn-rounded;
    padding: 0.5rem 2rem;
    &:hover{
      color: @white;
      background: @green;
    }
  }
  .form {
        input {
          margin-bottom: @block-space / 2;
        }
        .iu-ui-select-container{
          margin-bottom: @block-space / 2;
        }
    }

  .for-phone-picker{
    .select-with-input iu-ui-autocomplete .iu-ui-autocomplete-container .selected-option{
      max-width: 100px;
    }
    .select-with-input iu-ui-input {
      flex: auto;
      margin-left: @block-space;
      input{
        margin-top: 0;
        max-width: 160px;
      }
    }
  }


  .upay-business-data-card-results {
    .result-info-wrap {
      width: 100% !important;
    }
  }

  .result-info {
    .action {
      .center-top;

      iu-ui-button {
        margin-top: 5px;
        margin-left: 5px;
      }
    }
  }

  .all-documents-are-invalid {
    .cta {
      opacity: .4;
      pointer-events: none;

      input, button {
        pointer-events: none;
      }
    }
  }

  .doctype_PASSPORT {
    margin-top: 20px;
    background: @purpleLight;
  }

  .doctype_IDCARD {
    margin-top: 20px;
    background: @gray-100;
  }


  #material-tabs {
    position: relative;
    display: block;
    padding:0;
    border-bottom: 1px solid #e0e0e0;
  }

  #material-tabs>a {
    position: relative;
    display:inline-block;
    text-decoration: none;
    padding: 22px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #424f5a;
    text-align: center;
    width: 250px;
    cursor: pointer;
  }

  #material-tabs > a.active {
    font-weight: 700;
    background-color: #fff;
    color: #555;
    border: 1px solid @gray-300;
    border-bottom: 1px solid #fff;
    margin-bottom: -1px;
  }

  .left-part {
    font-weight: bold;
  }
  .bar {
    position: absolute;
    z-index: 10;
    bottom: 0;
    height: 3px;
    background: #86af23;
    display: block;
    left: 0;
    transition: left .2s ease;
    -webkit-transition: left .2s ease;
  }

  a.active {
    margin-left: 0;
    background: #86af23;
    width: 250px;
  }

  #tab1-tab.active ~ a {
    margin-left:255px;
    background: #86af23;
    width: 250px;
  }
  .space-between {
    justify-content: space-between;
    height: 40px;
  }
  .content {
    padding-top: 30px;
  }

  .error {
    padding-top: 10px;
    color: @red;
  }
}
.tab-content {
    padding:25px;
    width: 50%;
}
