<!--<ui-country-picker></ui-country-picker>-->
<!--<ui-dynamic-form [fieldsConfig]=" [{-->
<!--        component: 'input',-->
<!--        name: 'username',-->
<!--        label: 'User name',-->
<!--        validationRules: [-->
<!--          {-->
<!--            type: 'required',-->
<!--            message: 'User name is required'-->
<!--          }-->
<!--        ]-->
<!--      },-->
<!--        {-->
<!--          component: 'input',-->
<!--          name: 'username',-->
<!--          label: 'User name',-->
<!--          validationRules: [-->
<!--            {-->
<!--              type: 'required',-->
<!--              message: 'User name is required'-->
<!--            }-->
<!--          ]-->
<!--        }]">-->

<!--</ui-dynamic-form>-->

<ui-data-table [dataSource]="tableData"
               [totalData]="15"
               [columnsConfig]="tableColumnsConfig"
               (getTableDataSource)="updateTableDataSource($event)">
</ui-data-table>
