<div class="whitebox" *ngIf="customerId">
  <upay-business-data-table [columnsConfig]="columnsConfig"
                            [dataSource]="dataSource"
                            [totalItems]="totalItems"
                            [hasFilter]="false"
                            [orderedFieldsArr]="orderedFieldsArr"
                            (getDataSource)="getUserTransactionLog($event)">
  </upay-business-data-table>
</div>
