@import '../../../assets/less/_vars';

.logo-wrap {
  width: 100%;
  min-height: 100vh;
  background: @introBg;

  position: fixed;
  z-index: 999;
}

:host ::ng-deep {
  .logo {
    width: 150px;
    height: 150px;

    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .anime {
    .logo { animation: logo @Duration-1 ease-in-out @Delay-3 forwards, fadeOut 0s ease-in-out @Delay-4 forwards; }

    .square { animation: fadeOut 0s ease-in-out @Delay-1 forwards; }

    .kpp {
      animation: kpp @Duration-1  ease-in-out @Delay-1 forwards;

      &:before, &:after { animation: fadeOut 0s ease-in-out @Delay-1 forwards; }
    }

    .camera-lense {
      .trigger-square { animation: trigger @Duration-2  ease-in-out @Delay-1 forwards, triggerBack @Duration-2  ease-in-out @Delay-2  forwards; }
    }
  }
}

// keyframes

@keyframes kpp {
  0% {
    height: 50px;
    top: 50%;
    left: 50%;
    margin-top: -25px;
  }
  100% {
    height: 150%;
    top: -25%;
    margin-top: 0;
    color: transparent;
  }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes trigger {
  0% {
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
  }
  100% {
    width: 5%;
    height: 5%;
    top: 50%;
    left: 50%;
    margin-top: -2.5%;
    margin-left: -2.5%;
  }
}

@keyframes triggerBack {
  0% {
    width: 5%;
    height: 5%;
    top: 50%;
    left: 50%;
    margin-top: -2.5%;
    margin-left: -2.5%;
  }

  100% {
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
  }
}

@keyframes logo {
  0% {
    width: 150px;
    height: 150px;
  }
  100% {
    width: 200%;
    height: 200%;;
  }
}


