<div class="transaction-log">
  <upay-business-data-table #businessDataTableComponentRef
                            [columnsConfig]="columnsConfig"
                            [dataSource]="dataSource"
                            [totalItems]="totalItems"
                            [hasFilter]="false"
                            (getDataSource)="getFailedTransactions($event)"
                            (rowActionClick)="onRowActionClick($event)">
  </upay-business-data-table>
</div>
