@import '../../../assets/less/variables.less';


// grid
@iteartions: 12;

.l-col-loop (@i) when (@i > 0){
  &.l-col-@{i} {
    flex: percentage(1/@i);
    max-width: percentage(1/@i);
  }

  .l-col-loop(@i - 1);
}

.l-row {
  .flex;
  .flex-wrap;
  padding: 0 3px;
}

/* Create four equal columns that sits next to each other */
.l-column {
  padding: 0 3px;

  .l-col-loop(@iteartions);
}


// data
:host ::ng-deep {
  .l-item-wrapper {
    width: 100%;
    position: relative;
    overflow: hidden;

    .l-over {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      pointer-events: none;
    }

    img, video {
      vertical-align: middle;
      width: 100%;
      height: auto;
    }

    &.l-img {
      margin-top: 6px;
      cursor: pointer;
    }

    &:hover {
      .l-over {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.l-over-data {
  opacity: 0;
  .transition;
}