<div class="provider-interrelated-selectbox">
  <div class="provider list">
    <iu-ui-autocomplete *ngIf="providerList"
                        [options]="providerList"
                        placeholder="Ընտրել ծառայությունը"
                        searchPlaceholder="Ծառայության անունը..."
                        displayFieldKey="name"
                        outputFieldKey="name"
                        (valueSelect)="selectProvider($event)">
    </iu-ui-autocomplete>
  </div>
  <div class="flex center-top provider-interrelated-selectbox-result">
    <div *ngFor="let f of searchFieldsConfig">
      <div class="wrapper" *ngIf="f.uiComponent.component === 'select'">
        <iu-ui-select [placeholder]="f.uiComponent.placeholder | translate"
                      [getOptions]="getApiMethodByName(f.uiComponent.getOptionsApiActionName)"
                      [textField]="f.uiComponent.textField"
                      [valueField]="f.uiComponent.valueField"
                      (change)="onSearchFieldValueChange($event, f)">
        </iu-ui-select>
      </div>
      <div class="wrapper" *ngIf="f.uiComponent.component === 'input'">
        <iu-ui-input [placeholder]="f.uiComponent.placeholder | translate"
                     (valueChange)="onSearchFieldValueChange($event, f)">
        </iu-ui-input>
      </div>
    </div>
  </div>
</div>
