<div class="flex space-between">
  <div class="w-25">
    <app-encashment-navigation></app-encashment-navigation>
  </div>
  <div class="selected service-container w-75 whitebox no-padding">
    <router-outlet></router-outlet>
  </div>
</div>


