<div class="flex space-between">
  <div class="w-25">
    <upay-terminal-category-navigation>
    </upay-terminal-category-navigation>
  </div>

  <div class="selected service-container w-75 whitebox">
    <router-outlet></router-outlet>
  </div>

</div>
