<div *ngIf="mode == 'normla'">
  <iu-ui-action-card *ngFor="let card of newsList"
                     [imageUrl]="card.imageUrl"
                     [title]="card.date | date"
                     [description]="card.title"
                     actionButtonText="Read More"
                     (actionButtonClick)="readMore(card)">
  </iu-ui-action-card>
</div>


<div  *ngIf="mode == 'smol'">
  <div *ngFor="let card of newsList">
    <iu-ui-link [link]="'/news/' + card.id">
      <iu-ui-action-card [imageUrl]="card.imageUrl"
                         [title]="card.date | date"
                         [description]="card.title"
                         (clck)="readMore(card)">
      </iu-ui-action-card>
    </iu-ui-link>
  </div>
</div>
