<div class="flex col">
  <div *ngIf="logoUrl"
       class="flex center-left center-top logo">
    <iu-ui-img [src]="logoUrl" alt="logo">
    </iu-ui-img>
  </div>

  <form class="flex col form" (submit)="onSignIn($event)">
    <iu-ui-input [placeholder]="'widgets.login.placeholder.username' | translate"
                 (valueChange)="onUsernameChange($event)">
    </iu-ui-input>
    <iu-ui-input [placeholder]="'widgets.login.placeholder.password' | translate"
                 type="password"
                 (valueChange)="onPasswordChange($event)">

    </iu-ui-input>

    <div class="cta-btn">
      <iu-ui-button type="submit"
                    [text]="signInText | translate">
      </iu-ui-button>
    </div>
  </form>



  <div *ngIf="hasSignUp"
       class="flex center-left center-top extra">
    <iu-ui-text>
      Dont have an account yet?
    </iu-ui-text>
    <iu-ui-button
      [text]="signUpText | translate"
      (click)="onSignUpClick()">
    </iu-ui-button>
  </div>
</div>

