<div class="app-modal-wrap" [ngClass]=" visible ? 'visible' : ''">
  <div class="app-modal-content">
    <i class="icon app-modal-close-icon icon_close1"></i>
    
    <div *ngFor="let element of modalContentConfig">
      <!-- plain text -->
      <div *ngIf="element.type === 'text'"
            class="modal-text">
            {{element.text}}
      </div>
      <!-- img -->
      <div  *ngIf="element.type === 'img'"
            class="modal-img">
        <img src="element.src" alt="element?.alt">
      </div>
    </div>
  </div>
  <div class="app-modal-actions">
    <div *ngFor="let action of modalActionsConfig">
      <iu-ui-button [text]="action.name"
                    class="dialog-btn"
                    [ngClass]="action.customClassName ? action.customClassName : ''"
                    (click)="onAction(action.name)">
      </iu-ui-button>
    </div>
  </div>
</div>
