@import '../../../shared-assets/less/_variables';

.app-modal-wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.2);
  position: fixed;
  z-index: 999999999999999999999;

  opacity: 0;
  pointer-events: none;
  .transition;


  opacity: 1;
  pointer-events: all;
  .transition;


  &.visible {
    opacity: 1;
    pointer-events: all;
    .transition;
  }

  .app-modal-content {
    .flex;
    .col;
    .center-top;
    .center-left;
    .space-around;
    width: 350px;
    height: 250px;
    background: @white;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    .app-modal-close-icon {
      font-size: 1rem;
      position: fixed;
      top: 20px;
      right: 20px;
      color: @gray-500;
    }
  }


  .modal-text {
    padding: 0 10px;
    text-align: center;
  }
  .modal-img {
    padding: 0 10px;
    width: 100%;
    height: 70vh;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}

:host ::ng-deep {
  .dialog-btn {
    button {
      .btn;
      .btn-large;
      .btn-rounded;
      .btn-green;
    }

    &.dialog-cancel {
      button {
        background: @red;
      }
    }
  }
}
