<div class="search">
  <!--<iu-ui-input-with-icon placeholder="Search..." iconClassName="icon_search" >-->
  <!---->
  <!--</iu-ui-input-with-icon>-->
</div>
<div class="service-providers">
  <div *ngFor="let p of providers"
       class="service-provider-item">
    
    <iu-ui-link-with-icon [link]="p.config.providerKey"
                          [src]="'shared-assets/img/providers/' + p.config.logo"
                          [text]="p.config.displayText | translate">
    </iu-ui-link-with-icon>
    
  </div>
</div>
