:host ::ng-deep {

  .widthStreach {
    width: 50px;
    border-radius: 100%;
    border: solid 1px #d8d9da;
    display: inline-block;
    margin-right: 20px;
  }

  .iu-ui-link {
    display: flex;
    align-items: center;
    padding: 1.2rem 0 1.2rem 1.2rem;
    border-bottom: solid 1px #d8d9da;
  }

  p {
    display: flex;
    flex-direction: column;
  }

  span {
    display: inline-block;
    width: 100%;
    font-size: 16px;
  }
  span:nth-child(2){
    font-size: 12.8px;
  }

  a {
    color: #7d7d7d;
  }

}
