<iu-ui-link
  [link]="link"
  [params]="params">
  <iu-ui-img
    [src]="'/shared-assets/img/providers/' + favoriteData.provider.toLowerCase() + '.png'"
    [alt]="">
  </iu-ui-img>
  <p>
    <span><iu-ui-text>{{providerName}}</iu-ui-text></span>
    <span><iu-ui-text>{{linkText}}</iu-ui-text></span>
  </p>
</iu-ui-link>

