<div class="app-group">
  <div class="search-block">
    <!--<iu-ui-input type="text" [model]="name" placeholder="search group" (valueChange)="onChange($event)"></iu-ui-input>-->
    <div class="flex search-field-and-btn">
      <iu-ui-input (valueChange)="onPhoneNumberChange($event)"
                   (keyDown)="onEnter($event)"
                   [value]="selectedGroupName"
                   placeholder="Խմբի անուն">
      </iu-ui-input>

      <div class="search-btn">
        <iu-ui-button text="Փնտրել" (click)="onSearch()"></iu-ui-button>
      </div>
    </div>

    <div class="search-results" [ngClass]="results.length > 0 ? 'vis' : ''">
      <div *ngFor="let r of results; let i = index" class="search-result" (click)="itemClick(i, r)">{{r.name}}</div>
    </div>
  </div>

  <div class="flex space-between" *ngIf="dataSource.length">
      <div class="whitebox w-75 left-block">
        <app-editable-data-list [topHeader]="topHeader"
                                [columns]="columns"
                                [dataSource]="dataSource"
                                [isCheckedAll]="isCheckedAll"
                                (headerActionClick)="headerActionClick($event)"
                                (tableActionClick)="tableActionClick($event)">
        </app-editable-data-list>
      </div>
      <div class="whitebox w-25 right-block flex col">
          <div class="purple-bg">
            <p>{{'widgets.group.text.selected' | translate}} {{getSelectedContracts().length}}</p>
          </div>
          <p class="debt">{{'widgets.group.text.totalDebt' | translate}}
            <b>{{splitNumberWithLumas(selectedContractTotalDebt)}}</b> դր.
          </p>
          <p class="debt">{{'widgets.group.text.totalDebtWithCommission' | translate}}
            <b>{{splitNumberWithLumas(selectedContractTotalDebtWithCommission)}}</b> դր.
          </p>
          <div><p class="flex center-left"><iu-ui-button [text]="'widgets.group.text.addToBasket' | translate" (click)="onAddToBasket()"></iu-ui-button></p></div>
        </div>
    </div>
</div>

