// Add styles here you want to override

#notifications-block {
  .alert {
    text-align: center;
    margin: 0 auto;
    border-radius: 0;
  }
}

.hidden {
  display: none !important;
}

select.empty-select {
  color: rgba(0, 0, 0, 0.3);
  //&:active, &:focus {
  //  color: rgba(0, 0, 0, 0.3);
  //}
}

.select2-container {
  height: inherit;
  .select2-selection--single.bootstrap-style {
    height: inherit;
    border: none;
    .select2-selection__rendered {
      @extend .form-control;
      line-height: inherit;
    }
    .select2-selection__arrow {
      display: none;
    }
  }
}
