<!-- todo : tanel lib -->
<div class="filters" id="transactionLogFilters">
  <div class="filter">
    <div class="criteria-wraper" [ngClass]="activeSwitchingFilters.length === 1 ? 'no-select' : ''">
      <span class="opacity">Empty</span>
      <div class="criteria">
        <iu-ui-select *ngIf="activeSwitchingFilters"
                      [placeholder]="selectedSwitchingPlaceholder ? selectedSwitchingPlaceholder : '-- Ընտրել --'"
                      [options]="activeSwitchingFilters"
                      (optionClick)="selectSwitchingFilter($event)">
        </iu-ui-select>
      </div>
    </div>

    <div class="criteria-wraper">
      <span class="opacity">Empty</span>
      <div class="criteria">
        <upay-cashbox-autocomplete *ngIf="selectedSwitchingFilter == switchingFiltersMap.cashboxId.id"
                                  (valueSelect)="setSwitchingFilterValue($event)">
        </upay-cashbox-autocomplete>
        
        <upay-branch-autocomplete *ngIf="selectedSwitchingFilter == switchingFiltersMap.branchId.id"
                                 (valueSelect)="setSwitchingFilterValue($event)">
        </upay-branch-autocomplete>
        
        <upay-provider-autocomplete *ngIf="selectedSwitchingFilter == switchingFiltersMap.providerName.id"
                                   (valueSelect)="setSwitchingFilterValue($event)">
        </upay-provider-autocomplete>
        
        <upay-operator-autocomplete *ngIf="selectedSwitchingFilter == switchingFiltersMap.operatorId.id"
                                   (valueSelect)="setSwitchingFilterValue($event)">
        </upay-operator-autocomplete>
        
        <iu-ui-input *ngIf="selectedSwitchingFilter == switchingFiltersMap.receiptId.id ||
                            selectedSwitchingFilter == switchingFiltersMap.userNum.id ||
                            selectedSwitchingFilter == switchingFiltersMap.supportUserNumber.id ||
                            selectedSwitchingFilter == switchingFiltersMap.customerId.id ||
                            selectedSwitchingFilter == switchingFiltersMap.phone.id"
                     type="text"
                     placeholder="{{selectedSwitchingPlaceholder}}"
                     (valueChange)="setSwitchingFilterValue($event)">
        </iu-ui-input>
        
        <!--<iu-ui-input *ngIf="selectedSwitchingFilter == switchingFiltersMap.userNum.id"-->
                     <!--type="text"-->
                     <!--placeholder="Search by user number"-->
                     <!--(valueChange)="setSwitchingFilterValue($event)">-->
        <!--</iu-ui-input>-->
      
      </div>
    </div>
  </div>
  <div class="filter" *ngIf="hasAmountIntervalFilter || hasDateIntervalFilter">
    <div class="criteria-wraper iu-ui-date-criteria">
      <div class="criteria-wraper" *ngIf="hasAmountIntervalFilter">
        <span>{{'widgets.filters.amount_interval' | translate}}</span>
        <div class="criteria" *ngIf="hasAmountIntervalFilter">
          <!--todo create NUMBER interval picker-->
          <iu-ui-input type="text"
                       placeholder="0"
                       (valueChange)="onFilterDataChange('amountFrom', $event)">
          </iu-ui-input>
          <span class="spliter">-</span>
          <iu-ui-input type="text"
                       placeholder="1 000 000"
                       (valueChange)="onFilterDataChange('amountTo', $event)">
          </iu-ui-input>
          <!--todo create NUMBER interval picker end-->
        </div>
      </div>
      
      <div class="criteria-wraper" *ngIf="hasDateIntervalFilter">
        <span>{{'widgets.filters.date_interval' | translate}}</span>
        <div class="criteria" *ngIf="hasDateIntervalFilter">
          
          <!--&lt;!&ndash;todo create date interval picker&ndash;&gt;-->
          <!--<iu-ui-date-picker [value]="dateFromDefault"-->
          <!--(valueChange)="onFilterDataChange('dateFrom', $event)">-->
          <!--</iu-ui-date-picker>-->
          <!---->
          <!--<span class="spliter">-</span>-->
          <!---->
          <!--<iu-ui-date-picker [value]="dateToDefault"-->
          <!--(valueChange)="onFilterDataChange('dateTo', $event)">-->
          <!--</iu-ui-date-picker>-->
          <!--&lt;!&ndash;todo create date interval picker end&ndash;&gt;-->
          
          
          
          <div>
            <iu-ui-date-interval-picker [defaultInterval]="selectedDateInterval"
                                        (valueChange)="onFilterDataChange('dateInterval', $event)"
                                        (validationError)="onDateIntervalValidationError($event)">
            </iu-ui-date-interval-picker>
          </div>
  
        
        </div>
      </div>
    </div>
  </div>
  <div class="filter cta flex col">
    <iu-ui-button class="reset" [text]="'buttons.reset' | translate" (click)="onReset()" *ngIf="hasResetButton"></iu-ui-button>
    <iu-ui-button [text]="'buttons.search' | translate" (click)="onSearch()"></iu-ui-button>
  </div>
</div>
