.devlix-list {
  height: 90vh;
}

.devlix-column {
  flex: 1;
  border: 1px solid;
  padding: 5px;
}

.devlix-list-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.devlix-list-items {
  padding: 10px;
}

.devlix-list-item {
  margin-bottom: 5px;

  input{
    border: none;
    pointer-events: none;
    background: transparent;

    &.editable {
      border: 1px solid grey;
      pointer-events: all;
    }
  }
}


:host ::ng-deep {
  .l-event-container {
    height: 70vh !important;
  }
}