<div class="devlix-list flex">
  <div    *ngFor="let key of objectKeys(listData)"
          class="devlix-column">

     <div class="devlix-list-title">{{key}}</div>

     <lavash-scrollbar-container>
         <div class="devlix-list-items">
             <div    *ngFor="let item of listData[key]"
                     class="devlix-list-item flex center-top">

                 <input [value]="item"
                        [ngClass]="contenteditable[key] && contenteditable[key][item] ? 'editable' : ''"
                        (input)="onInput($event, item, key)"/>

                 <div class="devlix-actions flex float-right">
                     <lavash-button   className="animated rounded no-background"
                                      graphics="devlix-icon-bin"
                                      (clickEvent)="removeEl(item, key)">
                     </lavash-button>
                     <lavash-button   className="animated rounded no-background"
                                      [graphics]="contenteditable[key] && contenteditable[key][item] ? 'devlix-icon-floppy-disk' : 'devlix-icon-pencil'"
                                      (clickEvent)="contenteditable[key] && contenteditable[key][item] ?
                                                    updateEl(item, key) : editEl(item, key)">
                     </lavash-button>
                 </div>
             </div>
         </div>
     </lavash-scrollbar-container>



     <app-select-form [fieldsConfig]="fieldsConfig[key]"
                      submitBtnText="Add"
                      (submitEvent)="onIncrementList($event, key)">
     </app-select-form>
  </div>
</div>
