@import '_variables';

.app-dialog-wrap {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.2);
  position: fixed;
  z-index: 999999999999999999999;
  .transition;

  .app-dialog {
    .flex;
    .col;
    .center-top;
    .center-left;
    .space-around;
    width: 350px;
    height: 250px;
    background: @white;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .dialog-text {
    padding: 0 10px;
    text-align: center;
  }

  &.vis {
    opacity: 1;
    pointer-events: all;
    .transition;
  }
}

.app-dialog{
  padding: @block-space*2;
  .dialog-text{
    font-size: 1.1rem;
    text-align: center;
  }
  .dialog-cta{
    margin-top: @block-space/2*3;
    text-align: center;
  }
}



:host ::ng-deep {
  .dialog-btn {
    button {
      .btn;
      .btn-large;
      .btn-rounded;
      .btn-green;
      padding: .5rem 1rem;
    }

    &.dialog-cancel {
      button {
        background: @red;
      }
    }
  }
}
