
  <div class="app-dialog">
    <div class="dialog-text">New Version With Updates <br /> Please Accept</div>
    <div class="dialog-cta">
      <iu-ui-button text="Accept"
                    class="dialog-btn dialog-confirm"
                    (click)="onUpdate()">
      </iu-ui-button>
    </div>
  </div>
