<div class="support-page">
  <div class="white-bg-tabs">
    <upay-tabs [tabs]="supportTabs"></upay-tabs> <!-- todo Tamara translationprefix="navigation.tabs.historyTabs." -->
  </div>
  <div class="support-tabs">
    <router-outlet></router-outlet>
  </div>
</div>

