<div class="whitebox">
  <app-customer-card
    [customerSearchResult]="supportUserSource"
    [noEvent]="true"
    (ctaClick)="onCtaClick($event)">
  </app-customer-card>

  <!-- inner tabs -->
  <div class="border-bottom-tabs">
    <upay-tabs translationprefix="pages.support." [tabs]="tabs"></upay-tabs>
  </div>
  <router-outlet></router-outlet>

  <!--<app-user-info></app-user-info>-->
</div>
