@import '../../../assets/less/_vars.less';

:host ::ng-deep {
  nav {
    .flex;
    width: 100%;
    height: 100%;

    ul {
      .flex;
      .center-top;
      .space-around;
    }

    li {
      margin-right: 5px;
    }

    a {
      font-family: Quicksand,sans-serif;
      text-transform: uppercase;
      display: block;
      width: 100%;
      height: 100%;
      padding: 5px 15px;
      color: #fff;
      border: 2px solid transparent;
      .transition;

      &:hover, &.l-active-route {
        border: 2px solid rgba(250,250,250, .3);
        .transition;
        opacity: 1;
      }

      &.l-active-route {
        border: 2px solid @white;
        .transition_fast;
      }

      &.l-active-route {
        pointer-events: none;
      }

      i{
        display: none;
      }
    }


  }

  @media all and (max-width: @mobile) {
    lavash-navigation {
      height: 100%;
      width: auto;
      .flex;
      .center-top;
    }
    nav {
      height: auto;
      border-bottom: 1px solid @toxic;

      a{
        display: block;
        width: 100%;
        height: 100%;
        margin: 0 5px;
        padding: 5px;
        color: @toxic;
        color: @white;
        opacity: .5;
        font-size: 1.2rem;
        border: none;
        .transition;

        i {
          display: none;
          text-align: center;
          padding: 0 10px;
        }


        &.l-active-route {
          border: none;
          margin-top: 20px;
          position: relative;

          &:after {
            content: '';
            width: 0;
            height: 0;
            border: 7px solid transparent;
            border-top: 7px solid @toxic;
            position: absolute;
            bottom: -14px;
            left: 50%;
            margin-left: -7px;
          }
        }
      }
      a {
        span {
          display: none;
        }

        i{
          display: block;
        }
      }
    }
  }
}
