<div class="footer">
    <p class="footer-content">
        <span class="copyright">@{{date}} Lilit Hovhannisyan | Created with Lavash builder</span>
        <!--app-ph-link introText="Background photo:" [photographer]="photographer"></app-ph-link-->
    </p>
</div>
