@import '../../../assets/less/_vars';

:host {
  .footer {
    width: 100%;
    text-align: right;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;

    color: white;
    font-size: .6rem;

    .footer-content {
      background: @toxic;
      padding: 3px;
      position: relative;
      z-index: 1;
    }

    a {
      color: @white;
    }

    .copyright {
      //padding-right: 4px;
      // border-right: 1px solid;
      //margin-right: 7px;
    }
  }

  &.absolute{
    .footer {
      .footer-content {
        background: transparent;
        color: @toxic;
      }
    }
  }

  @media all and (max-width: @mobile) {
    .footer {
      .footer-content {
        background: transparent;
        color: @toxic;
      }
    }

  }
}