<div class="app-dialog-wrap" [ngClass]=" vis ? 'vis' : ''">
  <div class="app-dialog">
    <div class="dialog-text">{{text}}</div>
    <div class="dialog-cta">
      <iu-ui-button text="Այո" class="dialog-btn dialog-confirm" (click)="onAction('confirm')"></iu-ui-button>
      <iu-ui-button text="Ոչ" class="dialog-btn  dialog-cancel" (click)="onAction('cancel')"></iu-ui-button>
    </div>
  </div>
</div>
