@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?rdr2wg');
  src:  url('fonts/icomoon.eot?rdr2wg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?rdr2wg') format('truetype'),
    url('fonts/icomoon.woff?rdr2wg') format('woff'),
    url('fonts/icomoon.svg?rdr2wg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video:before {
  content: "\e932";
}
.icon-movie:before {
  content: "\e932";
}
.icon-film:before {
  content: "\e932";
}
.icon-pictures:before {
  content: "\e929";
}
.icon-pictures1:before {
  content: "\e92a";
}
.icon-checkmark:before {
  content: "\e90b";
}
.icon-cancel:before {
  content: "\e90c";
}
.icon-zoomin:before {
  content: "\e92b";
}
.icon-stack:before {
  content: "\e90d";
}
.icon-stack1:before {
  content: "\e90e";
}
.icon-stack2:before {
  content: "\e90f";
}
.icon-grid:before {
  content: "\e910";
}
.icon-list:before {
  content: "\e911";
}
.icon-resize:before {
  content: "\e912";
}
.icon-resize1:before {
  content: "\e913";
}
.icon-square:before {
  content: "\e92d";
}
.icon-square1:before {
  content: "\e92c";
}
.icon-paperplane:before {
  content: "\e91e";
}
.icon-expand:before {
  content: "\e914";
}
.icon-collapse:before {
  content: "\e915";
}
.icon-picture:before {
  content: "\e00f";
}
.icon-pictures2:before {
  content: "\e010";
}
.icon-camera2:before {
  content: "\e012";
}
.icon-briefcase:before {
  content: "\e015";
}
.icon-video2:before {
  content: "\e937";
}
.icon-video1:before {
  content: "\e933";
}
.icon-search:before {
  content: "\e900";
}
.icon-zoomin1:before {
  content: "\e916";
}
.icon-zoomout:before {
  content: "\e92e";
}
.icon-user1:before {
  content: "\e931";
}
.icon-camera-outline:before {
  content: "\e920";
}
.icon-camera3:before {
  content: "\e921";
}
.icon-info-large:before {
  content: "\e91f";
}
.icon-social-facebook-circular:before {
  content: "\e917";
}
.icon-arrow-maximise:before {
  content: "\e901";
}
.icon-arrow-minimise:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-arrow-left:before {
  content: "\e904";
}
.icon-camera4:before {
  content: "\e922";
}
.icon-palette:before {
  content: "\e91d";
}
.icon-keyboard_arrow_right:before {
  content: "\e905";
}
.icon-keyboard_arrow_left:before {
  content: "\e906";
}
.icon-aperture:before {
  content: "\e925";
}
.icon-camera1:before {
  content: "\e907";
}
.icon-camera-off:before {
  content: "\e908";
}
.icon-chevron-left:before {
  content: "\e926";
}
.icon-chevron-right:before {
  content: "\e92f";
}
.icon-crop:before {
  content: "\e930";
}
.icon-instagram2:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e928";
}
.icon-input-checked:before {
  content: "\e91a";
}
.icon-heart-outline:before {
  content: "\e93c";
}
.icon-user-outline:before {
  content: "\e91b";
}
.icon-social-linkedin-circular:before {
  content: "\e94f";
}
.icon-social-facebook-circular1:before {
  content: "\e950";
}
.icon-social-at-circular:before {
  content: "\e951";
}
.icon-messages:before {
  content: "\e91c";
}
.icon-film1:before {
  content: "\e936";
}
.icon-video-camera:before {
  content: "\e934";
}
.icon-video-camera1:before {
  content: "\e935";
}
.icon-camera5:before {
  content: "\e927";
}
.icon-camera:before {
  content: "\e90a";
}
.icon-facebook1:before {
  content: "\e918";
}
.icon-at:before {
  content: "\e923";
}
.icon-question-mark:before {
  content: "\e924";
}
.icon-instagram1:before {
  content: "\ea92";
}
.icon-paper-plane-o:before {
  content: "\e919";
}
.icon-send-o:before {
  content: "\e919";
}
