@import '_variables';

.language-picker {
  position: relative;
}

:host ::ng-deep {
  .iu-ui-drop-down-container {
    //border: 1px solid;
    padding: 2px 15px;
  }

  .iu-ui-drop-down-header {
    .flex;
    .center-top;
  }

  .iu-ui-drop-down-body {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background: @white;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  }

  li {
    span {
      display: block;
      border-bottom: 1px solid @gray-200;
      padding: 2px 15px;
      cursor: pointer;
    }
  }

  i {
    font-size: .7rem;
    margin: 4px;
  }
}
