<div class="user-info">

  <div class="user-info-block cards">
    <div class="title">{{'pages.support.bankCards' | translate}}</div>
    <div class="flex wrap" *ngIf="cards.length">
      <div *ngFor="let card of cards">
        <div class="card flex wrap center-top"
             [ngClass]="card.state === 'PENDING' ? 'pending' : ''">
          <img src="{{'shared-assets/img/banking-cards/new_icons/' + getCardType(card.number) + '.png'}}" alt="{{getCardType(card.number) }}">
          <div class="flex col card-text">
            <p>{{card.number ? card.number : '***pending'}}</p>
            <p>{{card.bank ? card.bank : '***pending'}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="error" *ngIf="!cards.length">{{'pages.support.noCards' | translate}}</div>
  </div>
  

  <div class="user-info-block identification flex">
    <div class="user-info-block identification-form">
      <div class="cta">
        <iu-ui-button-with-icon iconClassName="icon_print" (click)="printApplication()"></iu-ui-button-with-icon>
      </div>
      <div class="title">{{'pages.support.personalData' | translate}}</div>
      <div class="document-type radio flex col">
        <iu-ui-radio-button [options]="docOptions"
                            (selectOption)="onSelectDocType($event)">
        </iu-ui-radio-button>

        <div class="form flex wrap" *ngIf="objectKeys(formData)">
          <div class="form-group" *ngFor="let group of identificationFormDataConfig"
               [ngClass]="group.groupName">
            <ng-container *ngFor="let field of group.fields">

            <div class="flex center-top space-between"
                  [ngClass]="field.noEvent ? 'no-event' : ''">

              <span >{{field.label | translate}}</span>

              <iu-ui-autocomplete *ngIf="field.component === 'select'"
                                  [options]="field.options"
                                  [getOptions]="field.getOptions"
                                  [placeholder]="field.label | translate"
                                  [dependence]="getFormFieldValue(field.dependence)"
                                  [outputFieldKey]="field.outputFieldKey"
                                  [displayFieldKey]="field.displayFieldKey"
                                  [selectedOption]="formData && formData[field.key] ? formData[field.key] : ''"
                                  [hasErr]="field.hasErr"
                                  (valueSelect)="changeFormValue($event, field)">
              </iu-ui-autocomplete>

              <div *ngIf="field.component === 'datePicker'">
              <iu-ui-date-picker [placeholder]="field.label | translate"
                                 [value]="formData && formData[field.key] ? formData[field.key] : ''"
                                 (valueChange)="changeFormValue($event, field)">
              </iu-ui-date-picker>
                <div *ngIf="field.hasErr" class="error-msg datepicker">
                  {{'Դաշտը սխալ է լրացված'}}
                </div>
              </div>
              
              <iu-ui-input *ngIf="field.component === 'input'"
                           [type]="field.type ? field.type : 'text'"
                           [placeholder]="field.placeholder ? (field.placeholder | translate) : ''"
                           [value]="formData && formData[field.key] ? formData[field.key] : ''"
                           [hasErr]="field.hasErr ? field.hasErr : false"
                           [errMsg]="field.errorMsg ? field.errorMsg : 'error.fieldHasError'"
                           [required]="field.required"
                           (valueChange)="changeFormValue($event, field)">
              </iu-ui-input>
            </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="user-info-block documents">
      <div class="title">{{'pages.support.attachments' | translate}}</div>
      <div class="document-block" *ngFor="let key of objectKeys(media)">
        <!--todo tanel gradaran && form generator-->
        <div class="drop-extended-info">
          <div class="drop-extended-info-trigger flex space-between">
            <div class="_title">{{'pages.support.' + key | translate}}</div>
            <div class="flex center-top">
              <div class="file-upload">
                <iu-ui-file-upload
                  iconClassName="icon icon_attach"
                  (fileUpload)="attachFile($event, key)"
                  [accept]="media[key].accept"
                  [acceptMultiple]="true">
                </iu-ui-file-upload>
              </div>
              <i class="icon icon_arrow-right extend" (click)="openExtendedData(key)" [ngClass]="media[key].visible ? 'open' : ''"></i>
            </div>
          </div>
          <div class="drop-extended-info-body" *ngIf="media[key].visible">
            <div class="single-document" *ngFor="let doc of media[key].docs">
              <i class="icon icon_xls"></i>
              <a [href]="_fileStorageUrl + doc.url" download>{{doc.name}}</a>
            </div>
            <div class="single-document" *ngIf="!media[key].docs.length">
              {{'pages.support.noAttachment' | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="user-info-block cta">
    <iu-ui-button [text]="'buttons.identify' | translate"
                  (click)="identifyUser()"
                  class="identify">
    </iu-ui-button>
    <iu-ui-button [text]="'buttons.sendToReview' | translate"
                  (click)="sendForReview('user')"
                  class="review">
    </iu-ui-button>
  </div>
</div>
