@import "_variables";

:host ::ng-deep {
  .title {
    margin-bottom: @block-space;
    text-transform: uppercase;
    font-weight: 700;
  }

  .user-info-block {
    &.cards{
      padding: @block-space;
      border-bottom: 1px solid @gray-300;
      margin: @block-space 0 0;
      .card {
        border: 1px solid @gray-300;
        margin-bottom: @block-space / 3 * 2;
        margin-right: @block-space;
        .card-text{
          padding-right: @block-space;
        }
        &:not(:nth-child(4n)){
        }
        p{
          font-size: .8rem;
          line-height: .85rem;
          color: @black;
          text-transform: uppercase;
        }
        img {
          display: block;
          width: 70px;
          padding: 10px;

        }

        &.pending {
          opacity: .3;
        }
      }
    }

    &.identification {
      .identification-form { flex: 2; border-right: 1px solid @gray-300; padding-top: @block-space * 3 / 2; padding-left: @block-space; position: relative;}
      .cta {
        position: absolute;
        top: 20px;
        right: 10px;
        border: 0;

        button {
          //.btn;
          //.btn-green;
          border: 1px solid @blue;
          border-radius: 50%;
          padding: 7px;
          background-color: @blue;
          min-width: auto !important;
          color: @white !important;
        }
      }
      .documents {
        flex: 1;
        padding-top: @block-space * 3 / 2;
        .title{
          padding-left: @block-space / 2;
          margin-bottom: 83px;
        }
      }
      .document-block {
        margin: @block-space 0;

        .drop-extended-info-trigger {
          .center-top;
          background: @purpleLight;
          color: @blue;
          padding: 5px 10px;

          ._title {
            color: @blue;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        .drop-extended-info-body {

          .single-document {
            .flex;
            border: 1px solid @gray-200;
            margin-top: @block-space / 2;
            padding: 5px 10px;
            color: @black;

            i {
              margin-right: 5px;
              line-height: 1.5;
            }
          }
        }
      }
    }

    &.cta {
      padding: @block-space*2 @block-space;
      text-align: center;
      display: flex;
      justify-content: center;
      button {
        .btn;
        .btn-green;
        .btn-rounded;
        margin-right: @block-space/2;
        padding: .5rem 2rem;
        &:hover{
          color: @white;
          background: @green;
        }
      }

      .identify {
        &.inactive {
          opacity: .5;
          pointer-events: none;
        }
      }

      .review {
        button {
          .btn-transparent;
          color: @primary;
          border-color: @primary;
          &:hover{
            color: @green;
            border-color: @green;
          }
        }
      }
    }
  }

  iu-ui-radio-button {
    .flex;
     padding: 10px 0;

    .iu-ui-radio-button {
      margin-right: 50px;

      &:before {
        border: 1px solid @blue;
      }

      &.active {
        &:before {
          background: @blue;
        }
      }


    }
  }

  input {
    width: 100%;
    border: 1px solid @gray-200;
    padding: 0.7rem;
    font-size: .85rem;
    background-color: @white;
  }
  span{
    font-size: .85rem;
    &.error{
      color: @red;
    }
  }

  .form{
    margin: 0 0 0 -@block-space/2;

    .form-group {
      padding-top: 20px;
      width: 100%;
      padding-right: 60px;
      & > div{
        margin-bottom: @block-space;
        position: relative;
        & > span{
          text-align: right;
          width: 100%;
          padding-right: @block-space/2*3;
          font-size: .85rem;
        }
      }

      .iu-ui-autocomplete-container,
      input {
        width: 370px;
      }

      .options-list-and-search{
        ul{
          li{
            font-size: .85rem;
          }
        }
      }
      &:nth-child(even) {
        background: @purpleLight;
        div {
          flex: 1;
        }
      }
    }
  }

  .file-upload {
  }

  button {
    background: none;
    border: none;
  }

  i {
    cursor: pointer;
    font-size: 1.2rem;
    color: @white;
    margin-right: 0 !important;
    &.extend {
      font-size: .7rem;
      color: @gray-300;
      margin-left: 10px;
      .transition;
    }
    &.icon_attach{
      color: @blue;
    }

    &.open {
      transform: rotate(90deg);
    }
  }

  .no-event {
    opacity: .3;
    pointer-events: none;
  }

  .error {
    color: @red;
  }

  .error-msg.vis,
  .error-msg.visible{
    position: absolute;
    bottom: -5px;
    font-size: 12px;
    width: 50%;
    text-align: right;
    letter-spacing: 1px;
    color: @red;
  }
  .error-msg.vis{
    left: 0;
    padding-right: 20px;
  }
  .error-msg.visible{
    left: calc(-50%);
    padding-right: 30px;
  }

  .error-msg.datepicker{
    position: absolute;
    bottom: -5px;
    right: 50px;
    font-size: 12px;
    color: @red;
  }
}
