.iu-ui-select-container{
  position: relative;

  .iu-ui-select-header {
    cursor: pointer;
    display: flex;
    //line-height: 40px;
    //padding-left: 4px;
    border: 1px solid #d8d9da;
    font-size: 1rem;
    padding: .75rem;
    line-height: normal;
  }

  .toggler {
    position: absolute;
    top: 18px;
    right: 16px;
    transition: all .3s ease-in-out;
    width: 14px;
    height: 14px;
    color: #c1c4cb;
    font-size: 0.6rem;
    font-weight: 600;
    &.active {
      top: 10px;
      transform: rotate(180deg);
      transition: all .3s ease-in-out;
    }
  }

  .iu-ui-select-body {
    position: absolute;
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    overflow: auto;
    top: 40px;
    background: white;
    border: 1px solid #e6e6e7;
    z-index: 2;
    padding-left:10px;
    li {
      cursor: pointer;
      padding: 5px;

      &.active {
        background: #f0f0f0;
        pointer-events: none;
        opacity: .5;
      }
    }
  }
}
