<div class="iu-ui-select-container">
  <div class="iu-ui-select-header" (click)="toggle($event)">
    <span class="selected">
      {{placeholder | translate}}
    </span>
    <i class="icon toggler" [ngClass]="[visible ? 'active' : '', iconClass]"></i>
  </div>
  <div class="iu-ui-select-body" *ngIf="visible" (click)="toggle($event)">
    <ul>
      <li *ngFor="let o of _options" [ngClass]="(placeholder === o[textField]) ? 'active' : ''" (click)="onOptionClick(o)">
        {{optionPrefix}}{{ o[textField] | translate}}
      </li>
    </ul>
  </div>
</div>
