<div class="iu-ui-input-wrapper">
  <ng-content></ng-content>
  <input  [placeholder]="placeholder"
          [type]="type ? type : 'text'"
          (input)="onInput($event)"
          (keydown)="onkeyDown($event)"
          [value]="value ? value : ''"
          [required]="required"
          [ngClass]="hasErr? 'error' : ''" />
  <div [ngClass]="hasErr? 'vis' : ''" class="error-msg">{{(errMsg | translate) || 'Field is wrong'}} </div>
</div>
