<div class="filter-wrap">
  <app-user-filter (search)="onSearch($event)"
                   [options]="options"
                   [forcefilterSelect]="true">
  </app-user-filter>
</div>


<div class="customer-data upay-table" *ngIf="customerData">
  <table>
    <tr class="ui-ui-table-heading">
      <th *ngFor="let d of objectKeys(customerData)"> {{'widgets.cashout.table.' + d | translate}}</th>
    </tr>
    <tr class="ui-ui-table-row">
      <td *ngFor="let d of objectKeys(customerData)"
          [ngClass]="d">
        {{customerData[d]}}
      </td>
    </tr>
  </table>
</div>

<div class="select-document" *ngIf="documentDataSource">
  <iu-ui-select  [placeholder]="documentSelectPlaceholder"
                 [options]="documentOptions"
                 (optionClick)="onDocumentOptionClick($event)">
  </iu-ui-select>
</div>

<div class="document-data upay-table" *ngIf="documentData">
  <table>
    <tr class="ui-ui-table-heading">
      <th *ngFor="let d of objectKeys(documentData)"
          [ngClass]="d">
        <span *ngIf="d !== 'docType'">{{d === 'documentNumber' ? (documentData['docType'] | translate)
                                        : ('widgets.cashout.table.' + d | translate)}}</span>
      </th>
    </tr>
    <tr class="ui-ui-table-row">
      <td *ngFor="let d of objectKeys(documentData)"
          [ngClass]="d">
          <span *ngIf="d !== 'docType'" [innerHTML]="documentData[d]">
          </span>
      </td>
    </tr>
  </table>
</div>

<div class="fill-amount flex space-between center-top" *ngIf="allowFillAmount">
  <div class="flex col">
    <span>{{'widgets.cashout.text.amount' | translate}}</span>
    <iu-ui-input (valueChange)="onValueChange($event)"
                 [value]="amount"
                 type="number">
    </iu-ui-input>
    <span class="commission flex space-between center-top"
          [ngClass]="commission >= 0 ? 'visible' : ''">
      <span>{{'widgets.cashout.text.commission' | translate}}</span>
      <span class="commission-amount flex center-top">
        {{commission}}
        <i class="icon_dram"></i>
      </span>
    </span>
  </div>
  <iu-ui-button text="widgets.cashout.button.cashout"
                (click)="onCashOut($event)">
  </iu-ui-button>
</div>

<div class="form-error" *ngIf="errorMessage.length">{{errorMessage | translate}}</div>

<div class="redirect-to" *ngIf="redirectTo">
  <iu-ui-button text="widgets.cashout.button.identify"
                (click)="redirectToIdentificationRoute(customerDataSource.number)">
  </iu-ui-button>
</div>
