@import "_variables";

:host ::ng-deep {
  .filter-wrap {
    padding: 0 20px;
    border-bottom: 1px solid @gray-200;
    background: @purpleLight;

    .support {
      .filters {
        padding-top: 0;
      }
    }
  }

  .select-document {
    margin: 10px 20px;
  }

  .customer-data {
    td {
      text-transform: uppercase;
      font-weight: 600;

      &.userType {
        color: @blue;
      }
    }
  }

  .document-data {
    margin: 10px 20px;


    th, td {
      border: none;
      text-align: center;

      &.documentNumber {
        text-align: left;
      }
    }

    td {
      font-weight: 600;
    }

    &.upay-table {
      .ui-ui-table-heading {
        background: @purpleLight;
        color: @gray-400;
      }
    }
  }

  .select-document {
    li {
      font-weight: 600;
    }
  }

  .fill-amount {
    width: 450px;
    margin: 45px auto;
  }

  button {
    .btn;
    .btn-large;
    .btn-green;
    .btn-rounded;
  }

  .redirect-to {
    margin-top: @block-space;
    iu-ui-button {
      .flex;
      .center-top;
    }

    button {
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  .form-error {
    margin: 10px 20px;
    text-align: center;
    padding: 7px 0;
    border: 1px solid @red;
    background: #f8e4e7;
  }

  .commission {
    font-size: .9rem;
  }

  .commission-amount {
    font-size: 1.5rem;

    i {
      padding-left: 3px;
      font-weight: 300;
      font-size: 1rem;
    }
  }
}


