<section class="bg flex">
  <div class="flex col center-top center-left">
    <h1><i class="icon icon-camera-off"></i>404 | It seems U're missed</h1>
    <lavash-button text="Back to main page"
                   (clickEvent)="onRouteChange($event)">
    </lavash-button>
  </div>
</section>
