<div class="iu-ui-activity-data-list-item">
  <p class="iu-ui-date"><b>Today || date :[hardcoded]</b></p>

  <!--todo create atoms  -->
  <div class="iu-ui-activity-head" (click)="onShowDetailsClick()">
    <div class="iu-ui-activity-head-left-block">
      <!-- left icon -->
      <iu-ui-icon [type]="activityData.icon"></iu-ui-icon>
      <!-- text -->
      <p class="iu-ui-activity-head-text">
        <span class="iu-ui-activity-head-title"><iu-ui-text>{{activityData.title}}</iu-ui-text></span>
        <span class="iu-ui-activity-head-time"><iu-ui-text>{{activityData.date}}</iu-ui-text></span>
      </p>
    </div>
    
    <div class="iu-ui-activity-head-right-block">
      <!--amount-->
      <span class="iu-ui-amount" [ngClass]="getAmountType()">
        {{activityData.amount}} {{activityData.currency}}
      </span>
      <!-- toggle icon -->
      <iu-ui-icon [type]="iconClassName_toggle"></iu-ui-icon>
    </div>

  </div>

  <div class="iu-ui-activity-body" *ngIf="isDetailsOpen">
    <ul>
      <li *ngFor="let detail of activityData.serviceDetails" class="iu-ui-activity-body-element">
        <label>{{detail.name}}</label>
        <span *ngIf="detail.name === 'Account'" class="iu-ui-activity-body-element-value"><b>{{detail.value}}</b></span>
        <span *ngIf="detail.name !== 'Account'" class="iu-ui-activity-body-element-value">{{detail.value}}</span>
      </li>
      <li class="iu-ui-activity-body-btns">
        <span  class="iu-ui-btn-pay">
          <iu-ui-button (click)="onPayAgainClick()" [text]="payAgainText || 'Pay Again'">
          </iu-ui-button>
        </span>
        <span class="iu-ui-btn-favorite">
          <iu-ui-button-with-icon (click)="onFavoriteClick()" [text]="favoriteText || 'Favorite'" [iconClassName]="iconClassName_fav">
        </iu-ui-button-with-icon>
        </span>
        <span class="iu-ui-btn-recurrent">
          <iu-ui-button-with-icon (click)="onRecurrentClick()" [text]="recurrentText || 'Make Recurrent'" [iconClassName]="iconClassName_recurrent">
        </iu-ui-button-with-icon>
        </span>
      </li>
    </ul>
  </div>
</div>
