<div class="white-bg-tabs" *ngIf="tabs">
  <upay-tabs [tabs]="tabs"
             [tabPathPrefix]="tabPathPrefix"
             [translationprefix]="translationprefix">
  </upay-tabs>
</div>

<div class="whitebox no-padding transaction-page">
  <router-outlet></router-outlet>
</div>

