@import '../../../assets/less/variables.less';

:host ::ng-deep {
  .l-progress-container {
    width: 100%;
    margin: 0 auto;
    border-radius: 3px;
    height: 4px;
    background: rgba(250,250,250, .4);
    cursor: pointer;
    position: relative;

    .l-progress-bar {
      width: 0;
      height: 100%;
      border-radius: 3px;
      background: @white;
      position: absolute;
      top: 0;
      left: 0;
    }

    .l-progress-toggle {
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background: @white;
      position: absolute;
      top: -2px;
      left: -2px;
      cursor: pointer;

      opacity: 0;
      transition: all .3s ease-in-out, left .1s ease-in-out;
    }

    &:hover {
      .l-progress-toggle {
        opacity: 1;
      }
    }
  }
}
