@import '../../../assets/less/_vars';

.footer {
  width: 100%;
  text-align: right;
  line-height: 25px;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;

  background: black;
  color: white;
  opacity: .5;
  padding: 3px 0;
  padding-right: 100px;
  font-size: .7rem;

  a {
    color: @white;
  }

  .copyright {
    padding-right: 4px;
    border-right: 1px solid;
    margin-right: 7px;
  }
}

@media all and (max-width: @mobile) {
  .footer {
    padding: 0;
  }
  .footer-content {
    .col;
    font-size: .6rem;

    .copyright {
      border-right: none;
      margin-right: 0;
    }
  }

}