<div class="footer flex">
    <p class="footer-content flex center-top float-right">
        <span class="copyright">@{{date}} Lilit Hovhannisyan</span>
        <app-ph-link introText="Background photo:" [photographer]="photographer"></app-ph-link>
    </p>
</div>
