<div class="not-found">
  <div class="back-home">
    <iu-ui-link link="/"
                [text]="'pages.notFound.home_button' | translate" customClass="btn btn-primary w-25">
    </iu-ui-link>
  </div>
</div>

