<form>
  <ng-container *ngFor="let fieldConfig of fieldsConfig">

    <ui-dynamic-form-field-generator fieldConfig="fieldConfig">
    </ui-dynamic-form-field-generator>
    <!--  todo field generator-->
<!--    <ui-form-field [config]="field" />  -->
<!--    <span>{{field.label}}</span>-->

<!--    {{ field.component == 'input' }}-->
<!--    <input />-->

  </ng-container>
</form>
