<div class="l-complex-sidebar-container"
            *ngIf="_sidebarVisibility"
            [ngClass]="[showsidebar? 'l-show-sidebar' : '',
                        'l-parent-' + sidebarParent]">
    <div class="l-sidebar-wrapper"
         [ngStyle]="{'width.px': sidebarWidth,
                     'left.px': calcSidebarWrapper('left'),
                     'right.px': calcSidebarWrapper('right')
                     }">

        <lavash-event-container (mouseEvent)="onClickOut($event)">
            <div class="l-sidebar-content-wrapper">
                <div class="l-sidebar-content">
                    <div class="l-sidebar-title flex center-top">{{sidebarTitle}}</div>
                    <lavash-scrollbar-container>

                        <!--sidebar dynamic-->
                        <ng-content></ng-content>


                    </lavash-scrollbar-container>
                </div>
            </div>

            <div class="l-toggle"
                 [ngStyle]="{'width.px': openBtnSize,
                             'height.px': openBtnSize,
                             'left.px': calcSidebarButtonX('left'),
                             'right.px': calcSidebarButtonX('right'),
                             'top.px': calcSidebarButtonY('top'),
                             'bottom.px': calcSidebarButtonY('bottom')
                             }">
                <lavash-tooltip class="l-tooltip"
                                [text]="tooltipText"
                                [direction]="tooltipDirection">

                                <lavash-button class="l-openBtn"
                                               className="opacity"
                                               [ngStyle]="{'width.px': openBtnSize,
                                                           'height.px': openBtnSize}"
                                               [text]="showsidebar ? closeText : openText"
                                               [graphics]="showsidebar ? closeIcon : openIcon"
                                               (clickEvent)="toggleSidebar()">
                                </lavash-button>
                </lavash-tooltip>
            </div>
        </lavash-event-container>
    </div>


    <div *ngIf="hasAssideContent"
         style="background: lavender;"
         class="l-asside-content"
         [ngStyle]="{'left.px': calcAsside('left'),
                     'right.px': calcAsside('right')
                    }"
         #assideEl>
        <!--asside content wrapper-->
        <div  class="l-asside-content-inner"
              [ngStyle]="{'left.px': calcAssideContent()}">
              <ng-content select="[aside]"></ng-content>
        </div>
    </div>
</div>