@import '../../../assets/less/variables.less';

@sidebarSize: 300px;
@openBtnPos: 2px;
@openBtnSize: 40px;

:host ::ng-deep {
  .l-event-container {
    width: 100%;
    height: 100%;
  }

  .l-sidebar-wrapper {
    position: absolute;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,.2);
    z-index: 99999999999;
    .transition;
  }

  .l-toggle {
    position: absolute;
    z-index: 999999999999999999999;
    .transition;
  }

  .l-openBtn {
    lavash-graphics {
      width: 100%;
      .flex;
      .center-top;
      .center-left;
    }

    button {
      width: @openBtnSize;
      height: @openBtnSize;
    }

    i {
      font-size: 1.5rem;
    }
  }

  .l-sidebar-content-wrapper {
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
  }

  .l-sidebar-content{
    width: 100%;
    height: 100%;
  }

  .l-sidebar-title{
    width: 100%;
    height: @openBtnSize;
    margin-top: @openBtnPos;
  }

  .l-scrollbar-container {
    height: calc(100vh - @openBtnSize - 20px) !important;
  }

  .l-asside-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    .transition;

    .l-asside-content-inner {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      .transition;
    }
  }

  .l-complex-sidebar-container {
    width: 100%;
    height: 100%;

    // parrent body
    &.l-parent-body {
      .l-sidebar-wrapper {
        height: 100vh;
        position: fixed;
      }

      .l-asside-content {
        min-height: 100vh;
      }
    }

    // flex
    &.l-asside-flex {
      .flex;
    }

    // show
    &.l-show-sidebar {
      .l-sidebar-wrapper {
        opacity: 1;
        pointer-events: all;

        .l-sidebar-content-wrapper {
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}
