<div class="transaction-log">
  <upay-business-data-table [columnsConfig]="columnsConfig"
                           [dataSource]="dataSource"
                           [totalItems]="totalItems"
                           [activeFilters]="activeFilters"
                           [orderedFieldsArr]="orderedFieldsArr"
                           [hasExportExcel]="true"
                           (exportExcel)="downLoadTransactionsReport($event)"
                           (getDataSource)="getTransactionList($event)">
  </upay-business-data-table>
</div>
