@import '../../../assets/less/variables.less';

:host ::ng-deep {
  .l-audio-container {
    background: @blue_tr;
    padding: 5px;
    border-radius: 5px;
  }

  .l-audio-title {
    font-size: .8rem;
    margin-top: 5px;
    color: @white;
  }

  .l-equilizer-container {
    width: 100%;
    height: 30px;
    position: relative;
  }

  .kostik {
    width: 2px;
    height: 100%;
    background: rgba(128,128,128,.2);
    overflow: hidden;


    position: relative;

    .k {
      width: 100%;
      height: 0;
      background: rgba(128,128,128,.2);
      position: absolute;
      bottom: 0;
      left: 0;
      transition: height .5s ease-in-out;
    }
  }
}
