@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ppwudn');
  src:  url('fonts/icomoon.eot?ppwudn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ppwudn') format('truetype'),
    url('fonts/icomoon.woff?ppwudn') format('woff'),
    url('fonts/icomoon.svg?ppwudn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="devlix-icon-"], [class*=" devlix-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.devlix-icon-pencil:before {
  content: "\e905";
}
.devlix-icon-floppy-disk:before {
  content: "\e962";
}
.devlix-icon-bin:before {
  content: "\e9ac";
}
.devlix-icon-plus:before {
  content: "\ea0a";
}
.devlix-icon-minus:before {
  content: "\ea0b";
}
