<!-- todo create molecule pair-table -->
<div class="provider-pay-terminal"  *ngIf="serviceDebtData && providerConfig">
  <!-- description block | todo create molecule pair-table -->

  <ng-container *ngIf="getErrorsServiceDebtData().length">
    <div class="error" *ngFor="let error of getErrorsServiceDebtData()">
      {{error.displayText | translate}}
    </div>
  </ng-container>


  <div class="provider-info" *ngIf="!getErrorsServiceDebtData().length">
    <div>
      <div *ngFor="let group of debtDataMapper"
           class="provider-info-group"
           [ngClass]="group.groupKey">
        <div *ngFor="let groupField of group.fieldsMap">
          <div *ngIf="isNotEmptyGroupFieldValue(groupField)"
               class="field-info"
               [ngClass]="groupField.importantType? groupField.importantType : ''">
             <span class="displayText">
               {{groupField.displayText | translate}} {{getGroupFieldPrefixValue(groupField)}}
             </span>
             <span class="value">
               {{getGroupFieldValue(groupField)}} {{groupField.suffixDisplayText | translate}}
             </span>
          </div>
        </div>

      </div>

      <div class="cta">
        <div *ngIf="providerConfig.config.hasPayImputedNode">
          <h4>Նշումներ</h4>
          <span class="error" *ngIf="!imputedPayNode">
                Նշումները պարտադիր են
          </span>
          <textarea (input)="onImputedPayNode($event)" maxlength="200" ></textarea>
        </div>
        <h4>{{'providerTerminal.amount' | translate }}</h4>
        <div class="flex center-top">
          <div class="amount flex col">
            <div class="error-block">
              <span class="error" *ngIf="amountValidationError">
                {{amountValidationError | translate}}
              </span>
            </div>
            <input type="number"
                   placeholder="0"
                   [value]="amountValue"
                   (input)="onAmountChange($event)"/>
            <span class="commission flex">
                <b>{{'providerTerminal.withCommission' | translate}}</b>
                <span>{{commissionValue }} {{'measureUnit.amd' | translate }}</span>
            </span>
        </div>

          <div *ngIf="hasBasket"
               class="basket"
               [ngClass]="amountValidationError || providerConfig.config.hasPayImputedNode && !imputedPayNode ? 'disabled' : ''">
            <iu-ui-button-with-icon (click)="onAddToBasketClick()"
                                    [text]="'providerTerminal.addToBasket' | translate"
                                    iconClassName="icon_basket">
            </iu-ui-button-with-icon>
          </div>
          <div class="basket" *ngIf="!hasBasket">
            <iu-ui-button-with-icon (click)="onPayClick()"
                                    [text]="'providerTerminal.pay' | translate"
                                    iconClassName="icon_pay">
            </iu-ui-button-with-icon>
            <iu-ui-button-with-icon (click)="onAddToFavoriteClick()"
                                    [text]="'providerTerminal.addToFavorite' | translate"
                                    iconClassName="icon_favorite">
            </iu-ui-button-with-icon>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

