@import "../../../assets/less/_variables";

:host ::ng-deep {
  .services {
    background: @gray-100;
    text-align: center;
    padding: 3rem 0;
    position: relative;

    h2 {
      display: inline-block;
      margin: auto;
      padding-bottom: 1rem;
      font-size: 2rem;
      border-bottom: 1px solid @secondary;
    }
  }

  .cta {
    .flex;
    .col;
    .center-left;
    .center-top;
    width: 100%;
    height: 325px;
    background: #3D4D75 url( /assets/img/adds-bg.png) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 4rem;

    p {
      font-size: 2.4rem;
      color: @white;
      text-transform: uppercase;
    }

    button {
      .btn;
      .btn-green;
      .btn-rounded;
      .btn-large;
      font-size: 1.3rem;
      margin-top: @block-space;
    }
  }
}
