<div class="page-wrapper home-page">
  <div class="slider">
    <app-main-page-slider></app-main-page-slider>
  </div>
  
  <div class="services">
    <div class="app-container">
      <h2>Services</h2>
      <app-main-page-services></app-main-page-services>
    </div>
  </div>
  
  <div class="cta">
    <div class="cta-content app-container">
      <p>Use the <b>upay mobile app</b> to easily request money from around the world</p>
  
      <div class="cta-btn">
        <iu-ui-button [text]="'core.header.login_button' | translate" (click)="openPopup('login')"></iu-ui-button>
      </div>
    </div>
  </div>
  
  <div class="info-banner-container homepage">
    <div class="app-container">
      <app-info-banner [title]="title" src="assets/img/device.jpg" [items]="infoBlocks"></app-info-banner>
    </div>
  </div>
</div>
