<div class="service-providers">
  <div class="service-provider-item" *ngFor="let item of groupItems">
    <iu-ui-link-with-icon [link]="item.key"
                          [iconClassName]="item.icon"
                          [text]="item.displayText | translate">
    </iu-ui-link-with-icon>
  </div>
  
</div>
