@import '../../../assets/less/_vars';

.logo {
  position: relative;
  cursor: pointer;
}


// square and dots
.square {
  width: 80%;
  height: 80%;
  position: absolute;
}

.square1, .square1_1 {
  top: -5px;
  left: 5px;
  transform: rotate(45deg);
}

.square1, .square1_1 {
  border-top: 1px solid @logoColor;
  border-left: 1px solid @logoColor;
}

.square2, .square2_2 {
  border-bottom: 1px solid @logoColor;
  border-right: 1px solid @logoColor;


  bottom: -5px;
  left: 5px;
  transform: rotate(45deg);
}

.square1_1, .square2_2 {
  left: 25px;
}

// dots
/*.leading_square {
  &:before{
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid @toxic;
    background: @toxic;
    border-radius: 100%;

    position: absolute;

  }

  &.square1 {
    &:before {
      top: 8px;
      left: 19px;
    }
  }

  &.square2 {
    &:before {
      bottom: 19px;
      right: 8px;
    }
  }
}*/



// cta
.kpp {
  width: 200%;
  height: 50px;
  //background: @introBg;
  color: @logoColor;

  text-align: center;
  .flex;
  .center-top;
  .center-left;

  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 200;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px -100%;

  /*&:before, &:after {
    content: 'kpp';
    width: 100%;
    height: 100%;
    .flex;
    .center-top;
    .center-left;
    text-transform: uppercase;
    position: absolute;
    left: 0;
  }*/

  &:before {
    top: -100%;
  }

  /*&:after{
    content: 'production';
    top: 100%;
    font-size: .4rem;
  }*/
}


// lense
.camera-lense {
  width: 250%;
  height: 250%;
  opacity: .3;
  border: 2px solid @border;
  border-radius: 50%;

  position: absolute;
  top: -75%;
  left: -75%;

  overflow: hidden;
  transform : rotate(45deg);


  .trigger-square {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;

    &.trigger-square-2 {
      transform : rotate(180deg);
    }

    &:before, &:after {
      content: '';
      position: absolute;
    }

    &:before {
      width: 1500%;
      height: 100%;
      top: 0;
      left: 0;
      border-bottom: 3px solid @border;
    }


    &:after{
      width: 100%;
      height: 1500%;
      top: 0;
      right: 0;
      border-left: 3px solid  @border;
    }
  }
}




