<div class="upay-business-data-card" [ngClass]="hasGoBack ? 'purple' : ''">
  <div *ngIf="hasGoBack" class="go-back">
    <iu-ui-button-with-icon [text]="goBackText"
                            [iconClassName]="goBackIcon ? goBackIcon : 'icon_arrow-left'"
                            (click)="onGoBack(goBackPath)">
    </iu-ui-button-with-icon>
  </div>

  <div class="upay-business-data-card-results" *ngIf="results">
    <div class="result" *ngFor="let result of results, let resultIndex = index"
         (click)="getResult(result)"
         [ngClass]="noEvent ? 'no-event' : ''">
      <!-- label-->
      <div class="label-message" *ngIf="result.label">
        <div [ngClass]="result.label.customClass || ''">
          {{ result.label.displayText | translate}}
        </div>
      </div>
      <!--status-->
      <div class="status-message" *ngIf="result.status">
        <div [ngClass]="result.status.customClass || ''">
             {{ result.status.displayText | translate}}
        </div>
      </div>
      <!--info block-->
      <div class="result-info-wrap">
        <div *ngFor="let infoGroup of infoGroups"
             class="info-group"
             [ngClass]="infoGroup">
          <ng-container *ngFor="let info of objectToArray(result.info)" >
            <div class="result-info" *ngIf="infoGroup === info.group">
              <p>
                {{(info.displayText | translate) || ''}}
              </p>
              <p [ngClass]="info.customClass || ''">
                {{info.value || ''}}
              </p>
            </div>
          </ng-container>
        </div>
        <div class="result-info cta justify-content-start" *ngIf="result.actions && result.actions.length">
          <div *ngFor="let action of result.actions, let actionIndex = index" class="action">
            <div *ngIf="action.fields">
              <div *ngFor="let f of action.fields, let fieldIndex = index">
                <input [type]="f.type ? f.type : 'text'"
                       [value]="f.value ? f.value : null"
                       (input)="onValueChange($event, resultIndex, actionIndex, fieldIndex)"
                       [placeholder]="f.placeholder ? f.placeholder : ''">
              </div>
            </div>
            <iu-ui-button [text]="action.displayText" (click)="onCtaClick(action.key)"></iu-ui-button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="upay-business-data-card-results flex center-left error" *ngIf="!results">
    {{'error.noResult' | translate}}
  </div>
</div>
