@import '../../../shared-assets/less/_variables';

:host ::ng-deep{
  .upay-business-data-card {
    &.purple {
      background: @purpleLight;

      .upay-business-data-card-results {
        background: @purpleLight;

        &:hover {
          background: @purpleLight;
        }
      }
    }
  }

  .go-back {
    padding: @block-space;
    color: @gray-300;
    border-bottom: 1px solid @gray;
    background-color: #fff;
  }

  .upay-business-data-card-results {
    background: @white;

    .result {
      cursor: pointer;
      border: 1px solid @gray-200;
      border-radius: 0;
      position: relative;
      padding: 20px;
      margin-bottom: @block-space;
      margin-top: @block-space;
      .transition;

      &:hover {
        background: @purpleLight;
        border-color: @blue;
      }

      &.no-event{
        margin: 0;
        border: none;
        cursor: auto;

        &:hover {
          background: @white;
        }
      }
    }

    .result-info-wrap {
      width: 80%;
      padding: 10px;
      margin: 0 auto;

      .info-group{
        .flex;
        .space-between;
        flex-wrap: wrap;
      }

      .result-info {
        .flex;
        justify-content: center;
        width: 50%;
        padding: 10px;
        p{
          width: 50%;
        }
      }
    }

    i {
      font-size: 2.5rem;
      background: @gray-300;
      color: @gray-100;
      padding: 10px 5px 0 5px;
      border-radius: 50%;
    }

    .info {
      color: @blue;
    }
    .success {
      color: @green;
    }
    .error {
      color: @red;
    }
    .bold {
      font-weight: 600;
    }

    &.error{
      color: @red;
      padding-top: 10px;
    }

    .label-message {
      position: absolute;
      top: 10px;
      right: 80px;

      .active,  .frozen {
        color: @white;
        padding: 0 5px;
        border-radius: 3px;
        font-size: .8rem;
      }

      .active {
        background: @primary;
      }

      .frozen {
        background: @red;
      }
    }

    .status-message {
      width: 80%;
      margin: 0 auto;
      padding: 0 20px;
    }

    .go-back {
      .flex;
      .center-top;
      padding: 10px @block-space;
      background: @purpleLight;
      border-bottom: 1px solid @gray-200;
      cursor: pointer;
      .transition;

      &:hover {
        color: @blue;
      }

      i {
        font-size: 1.5rem;
        color: @gray-300;
        margin-right: 10px;
        .transition;

        &:hover {
          color: @blue;
        }
      }
    }

    .cta {
      .action {
        .flex;
      }

      button {
        .btn;
        .btn-rounded;
        .btn-transparent;
        .btn-large;
        padding: .5rem 2.5rem;
        color: @primary;
        border-color: @primary;
        &:hover{
          color: @green;
          border-color: @green;
        }
      }
    }
  }
}

