<div *ngIf="selectedProvider">

  <div class="service-provider-item">

    <!--headline-->
    <div class="service-provider-item-block service-provider-item-title flex center-top">
      <div class="go-back">
        <iu-ui-button-with-icon iconClassName="icon_arrow-left"
                                (click)="onGoBack()">
        </iu-ui-button-with-icon>
      </div>

      <div class="title flex center-top">
        <iu-ui-img [src]="'shared-assets/img/providers/' + selectedProvider.config.logo"
                   [alt]="selectedProvider.config.displayText">
        </iu-ui-img>

        {{selectedProvider.config.displayText | translate}}
      </div>
    </div>

    <div *ngIf="selectedProvider.config.infoTitleText">
      <div class="info-title-text" >
        <b>
          {{selectedProvider.config.infoTitleText  | translate}}
        </b>
      </div>
    </div>
    <div *ngIf="selectedProvider.config.infoDescriptionText">
      <div class="info-description-text">
        <p>
          {{selectedProvider.config.infoDescriptionText  | translate}}
        </p>
      </div>
    </div>

    <!-- search-->
    <div class="service-provider-item-block service-provider-item-search flex col">
      <div class="flex col search-block">
        <div class="flex center-top"
             *ngIf="!selectedProvider.config.getDebtAction.hidden">
          <!-- get debt form -->
          <div class="input-wrapper"
               *ngFor="let f of selectedProvider.config.getDebtAction.requestFields">
            <div class="wrapper">
              <!--todo create form field generator-->
<!--              <iu-ui-autocomplete *ngIf="f.uiComponent.component === 'select'"-->
<!--                                  [displayFieldKey]="f.uiComponent.textField"-->
<!--                                  [outputFieldKey]="f.uiComponent.valueField"-->
<!--                                  [placeholder]="f.uiComponent.placeholder | translate"-->
<!--                                  [selectedOption]="debtSearchData[f.requestKey] || f.uiComponent.defaultValue"-->
<!--                                  [getOptions]="getApiMethodByName(f.uiComponent.getOptionsApiActionName)"-->
<!--                                  (valueSelect)="onSearchDebtFieldValueChange($event, f)">-->
<!--              </iu-ui-autocomplete>-->

              <iu-ui-select *ngIf="f.uiComponent.component === 'select'"
                            [preSelectedOption]="debtSearchData[f.requestKey] || f.uiComponent.defaultValue"
                            [placeholder]="f.uiComponent.placeholder | translate"
                            [getOptions]="f.uiComponent.getOptionsApiActionName ? getApiMethodByName(f.uiComponent.getOptionsApiActionName) : null"
                            [options]="f.uiComponent.options || []"
                            [textField]="f.uiComponent.textField || 'text'"
                            [valueField]="f.uiComponent.valueField || 'id'"
                            (change)="onSearchDebtFieldValueChange($event, f)">
              </iu-ui-select>

              <iu-ui-input *ngIf="f.uiComponent.component === 'input'"
                           [value]="debtSearchData[f.requestKey]"
                           [placeholder]="f.uiComponent.placeholder | translate"
                           (valueChange)="onSearchDebtFieldValueChange($event, f)"
                           (keyDown)="onEnterClick($event, 'getDebtAction')">
              </iu-ui-input>

              <span *ngIf="f.uiComponent.component === 'divider'"> | </span>

            </div>
          </div>

          <iu-ui-button (click)="onSearchDeptData()"
                        [text]="'widgets.terminal.button.search' | translate">
          </iu-ui-button>
        </div>

        <div class="flex center-top" *ngIf="selectedProvider.config.getContractList">
          <!-- get contracts form -->
          <div class="input-wrapper"
               *ngFor="let f of selectedProvider.config.getContractList.requestFields">
            <div class="wrapper">
              <!--todo create form field generator-->
              <iu-ui-select *ngIf="f.uiComponent.component === 'select'"
                            [placeholder]="f.uiComponent.placeholder | translate"
                            [getOptions]="getApiMethodByName(f.uiComponent.getOptionsApiActionName)"
                            [textField]="f.uiComponent.textField"
                            [valueField]="f.uiComponent.valueField"
                            (change)="onSearchContractsFieldValueChange($event, f)">
              </iu-ui-select>
            </div>

            <div class="wrapper">
              <iu-ui-input *ngIf="f.uiComponent.component === 'input'"
                           [placeholder]="f.uiComponent.placeholder | translate"
                           (valueChange)="onSearchContractsFieldValueChange($event, f)"
                           (keyDown)="onEnterClick($event, 'getContractList')">
              </iu-ui-input>
            </div>
          </div>

          <iu-ui-button (click)="onSearchContractsData()"
                        [text]="'widgets.terminal.button.findId' | translate">
          </iu-ui-button>
        </div>
      </div>
    </div>

    <!-- result-->
    <div class="service-provider-item-block service-provider-item-search-result">
      <!-- static debt data : ex fastCredit   -->
      <upay-provider-static-debt-type-select>

      </upay-provider-static-debt-type-select>
      <!-- dynamic debt data : ex vark.am   -->
      <upay-provider-dynamic-debt-type-select  *ngIf="multiResultSearchedDebtData"
                                       [multiResultSearchedDebtData]="multiResultSearchedDebtData"
                                       [providerConfig]="selectedProvider"
                                       (selectDynamicDebtType)="onSelectDynamicDebtType($event)">
      </upay-provider-dynamic-debt-type-select>

      <upay-provider-static-debt-type-select *ngIf="selectableDebtData"
                                             [selectableDebtData]="selectableDebtData"
                                             [staticDebtOptions]="this.selectedProvider.config.getDebtAction.debtTypeSelect"
                                             (selectStaticDebtType)="onSelectStaticDebtType($event)">
      </upay-provider-static-debt-type-select>

      <upay-provider-service-debt *ngIf="searchedDebtData"
                                  [providerConfig]="selectedProvider"
                                  [debtDataMapper]="debtDataMapper"
                                  [serviceDebtData]="searchedDebtData"
                                  [customerDebtSearchQuery]="debtSearchData"
                                  [providerCommissionsRoles]="providerCommissionsRoles"
                                  [hasBasket]="hasBasket"
                                  (addToBasketClick)="onAddToBasketClick($event)"
                                  (addToFavoriteClick)="onAddToFavoriteClick()"
                                  (payClick)="onPayClick($event)">
      </upay-provider-service-debt>

      <upay-contracts-table *ngIf="searchedContractsData"
                            [providerConfig]="selectedProvider"
                            [contractsData]="searchedContractsData"
                            (actionClick)="onContractAction($event)">
      </upay-contracts-table>
    </div>
  </div>
</div>
