@import '../../../../shared-assets/less/_variables';

:host ::ng-deep {
  .title {
    img {
      max-width: 50px;
      margin: 0 20px;
      border-radius: 100%;
      border: solid 1px #d8d9da;
      display: inline-block;
    }
  }

  .input-wrapper{
    margin: 5px 0;
  }

  //.search-block {
  //  iu-ui-input {
  //    margin-right: 20px;
  //  }
  //}

  .iu-ui-form {
    .flex;
    .center-top;

    input {
      width: 50%;
      padding: 0 0.75rem;
      border: 1px solid #d8d9da;
      color: #7d7d7d;
      border-radius: 6px;
      margin-right: 20px;
    }

    button {
      .flex;
      .center-top;

      &.disabled {
        pointer-events: none;
        background: @gray-500;
        opacity: .5;
      }
    }

    i {
      line-height: 2rem;
      font-size: 2rem;
      margin-right: 10px;
    }
  }

  .provider-predebt {
    button {
      .btn;
      .btn-large;
      .btn-green;
      .btn-rounded;
    }
  }

  .disabled {
    opacity: .5;
    pointer-events: none;

    button {
      pointer-events: none;
    }
  }
}
