<iu-ui-link [link]="link" [text]="text" [params]="params">
  <iu-ui-icon [type]="iconClassName" *ngIf="iconClassName"></iu-ui-icon>
  <iu-ui-img [src]="src" [alt]="alt" *ngIf="src"></iu-ui-img>
</iu-ui-link>

