@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?10si7l');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?10si7l#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?10si7l') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?10si7l') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?10si7l##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_encashment-out {
  &:before {
    content: $icon_encashment-out; 
  }
}
.icon_encashment-in {
  &:before {
    content: $icon_encashment-in; 
  }
}
.ic_mobile {
  &:before {
    content: $ic_mobile; 
  }
}
.icon_encashment {
  &:before {
    content: $icon_encashment; 
  }
}
.icon_groups1 {
  &:before {
    content: $icon_groups1; 
  }
}
.icon_in {
  &:before {
    content: $icon_in; 
  }
}
.icon_others {
  &:before {
    content: $icon_others; 
  }
}
.Icon_out {
  &:before {
    content: $Icon_out; 
  }
}
.icon_ucom {
  &:before {
    content: $icon_ucom; 
  }
}
.icon_wallet {
  &:before {
    content: $icon_wallet; 
  }
}
.icon_avatar {
  &:before {
    content: $icon_avatar; 
  }
}
.icon_groups {
  &:before {
    content: $icon_groups; 
  }
}
.icon_other {
  &:before {
    content: $icon_other; 
  }
}
.icon_xls {
  &:before {
    content: $icon_xls; 
  }
}
.icon_retry {
  &:before {
    content: $icon_retry; 
  }
}
.icon_done {
  &:before {
    content: $icon_done; 
  }
}
.icon_attach {
  &:before {
    content: $icon_attach; 
  }
}
.icon_jpg {
  &:before {
    content: $icon_jpg; 
  }
}
.icon_png {
  &:before {
    content: $icon_png; 
  }
}
.icon_close1 {
  &:before {
    content: $icon_close1; 
  }
}
.icon_error {
  &:before {
    content: $icon_error; 
  }
}
.icon_success {
  &:before {
    content: $icon_success; 
  }
}
.icon_warning {
  &:before {
    content: $icon_warning; 
  }
}
.icon_basket {
  &:before {
    content: $icon_basket; 
  }
}
.icon_arrow-up {
  &:before {
    content: $icon_arrow-up; 
  }
}
.icon_arrow-left {
  &:before {
    content: $icon_arrow-left; 
  }
}
.icon_arrow-down {
  &:before {
    content: $icon_arrow-down; 
  }
}
.icon_edit {
  &:before {
    content: $icon_edit; 
  }
}
.icon_gas {
  &:before {
    content: $icon_gas; 
  }
}
.icon_user-profile {
  &:before {
    content: $icon_user-profile; 
  }
}
.icon_damafon {
  &:before {
    content: $icon_damafon; 
  }
}
.icon_jur {
  &:before {
    content: $icon_jur; 
  }
}
.icon_telephone {
  &:before {
    content: $icon_telephone; 
  }
}
.icon_home {
  &:before {
    content: $icon_home; 
  }
}
.icon_pay-46 {
  &:before {
    content: $icon_pay-46; 
  }
}
.icon_g {
  &:before {
    content: $icon_g; 
  }
}
.icon_upay-logo-cl {
  &:before {
    content: $icon_upay-logo-cl; 
  }
}
.icon_add-payment {
  &:before {
    content: $icon_add-payment; 
  }
}
.icon_loan-repayment {
  &:before {
    content: $icon_loan-repayment; 
  }
}
.icon_online-games {
  &:before {
    content: $icon_online-games; 
  }
}
.icon_my-mobile {
  &:before {
    content: $icon_my-mobile; 
  }
}
.icon_home-arrow-right {
  &:before {
    content: $icon_home-arrow-right; 
  }
}
.icon_arrow-right {
  &:before {
    content: $icon_arrow-right; 
  }
}
.icon_home-arrow-left {
  &:before {
    content: $icon_home-arrow-left; 
  }
}
.icon_appstore {
  &:before {
    content: $icon_appstore; 
  }
}
.icon_betting {
  &:before {
    content: $icon_betting; 
  }
}
.icon_bonus {
  &:before {
    content: $icon_bonus; 
  }
}
.icon_branches {
  &:before {
    content: $icon_branches; 
  }
}
.icon_checkbox {
  &:before {
    content: $icon_checkbox; 
  }
}
.icon_checkbox-selected {
  &:before {
    content: $icon_checkbox-selected; 
  }
}
.icon_close {
  &:before {
    content: $icon_close; 
  }
}
.icon_delete {
  &:before {
    content: $icon_delete; 
  }
}
.icon_favorite {
  &:before {
    content: $icon_favorite; 
  }
}
.icon_fb {
  &:before {
    content: $icon_fb; 
  }
}
.icon_filter {
  &:before {
    content: $icon_filter; 
  }
}
.icon_G {
  &:before {
    content: $icon_G; 
  }
}
.icon_googleplay {
  &:before {
    content: $icon_googleplay; 
  }
}
.icon_history {
  &:before {
    content: $icon_history; 
  }
}
.icon_internet {
  &:before {
    content: $icon_internet; 
  }
}
.icon_linkdin {
  &:before {
    content: $icon_linkdin; 
  }
}
.icon_bank {
  &:before {
    content: $icon_bank; 
  }
}
.icon_menu {
  &:before {
    content: $icon_menu; 
  }
}
.icon_mobile {
  &:before {
    content: $icon_mobile; 
  }
}
.icon_my-mobile1 {
  &:before {
    content: $icon_my-mobile1; 
  }
}
.icon_notification-16 {
  &:before {
    content: $icon_notification-16; 
  }
}
.icon_notification-17 {
  &:before {
    content: $icon_notification-17; 
  }
}
.icon_online-games1 {
  &:before {
    content: $icon_online-games1; 
  }
}
.icon_parking {
  &:before {
    content: $icon_parking; 
  }
}
.icon_pay {
  &:before {
    content: $icon_pay; 
  }
}
.icon_property {
  &:before {
    content: $icon_property; 
  }
}
.icon_qr-code {
  &:before {
    content: $icon_qr-code; 
  }
}
.icon_roadpolice {
  &:before {
    content: $icon_roadpolice; 
  }
}
.icon_search {
  &:before {
    content: $icon_search; 
  }
}
.icon_social {
  &:before {
    content: $icon_social; 
  }
}
.icon_topup {
  &:before {
    content: $icon_topup; 
  }
}
.icon_transfer {
  &:before {
    content: $icon_transfer; 
  }
}
.icon_tv {
  &:before {
    content: $icon_tv; 
  }
}
.icon_twitter {
  &:before {
    content: $icon_twitter; 
  }
}
.icon_upay-logo {
  &:before {
    content: $icon_upay-logo; 
  }
}
.icon_user {
  &:before {
    content: $icon_user; 
  }
}
.icon_utility {
  &:before {
    content: $icon_utility; 
  }
}
.icon_Add-payment {
  &:before {
    content: $icon_Add-payment; 
  }
}
.icon_logout {
  &:before {
    content: $icon_logout; 
  }
}
.icon_settings {
  &:before {
    content: $icon_settings; 
  }
}
.icon_calendar {
  &:before {
    content: $icon_calendar; 
  }
}
.icon_dram {
  &:before {
    content: $icon_dram; 
  }
}
.icon_download {
  &:before {
    content: $icon_download; 
  }
}
.icon_favoriteadded {
  &:before {
    content: $icon_favoriteadded; 
  }
}
.icon_print {
  &:before {
    content: $icon_print; 
  }
}
.icon_show {
  &:before {
    content: $icon_show; 
  }
}
.icon_home-br {
  &:before {
    content: $icon_home-br; 
  }
}

