@font-face {
  font-family: 'UPay-icons';
  src:  url('fonts/UPay-icons.eot?10si7l');
  src:  url('fonts/UPay-icons.eot?10si7l#iefix') format('embedded-opentype'),
    url('fonts/UPay-icons.ttf?10si7l') format('truetype'),
    url('fonts/UPay-icons.woff?10si7l') format('woff'),
    url('fonts/UPay-icons.svg?10si7l#UPay-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'UPay-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_encashment-out:before {
  content: "\e959";
}
.icon_encashment-in:before {
  content: "\e95a";
}
.ic_mobile:before {
  content: "\e951";
}
.icon_encashment:before {
  content: "\e952";
}
.icon_groups1:before {
  content: "\e953";
}
.icon_in:before {
  content: "\e954";
}
.icon_others:before {
  content: "\e955";
}
.Icon_out:before {
  content: "\e956";
}
.icon_ucom:before {
  content: "\e957";
}
.icon_wallet:before {
  content: "\e958";
}
.icon_avatar:before {
  content: "\e94a";
}
.icon_groups:before {
  content: "\e94f";
}
.icon_other:before {
  content: "\e950";
}
.icon_xls:before {
  content: "\e944";
}
.icon_retry:before {
  content: "\e945";
}
.icon_done:before {
  content: "\e94e";
}
.icon_attach:before {
  content: "\e94b";
}
.icon_jpg:before {
  content: "\e94c";
}
.icon_png:before {
  content: "\e94d";
}
.icon_close1:before {
  content: "\e946";
}
.icon_error:before {
  content: "\e947";
}
.icon_success:before {
  content: "\e948";
}
.icon_warning:before {
  content: "\e949";
}
.icon_basket:before {
  content: "\e943";
}
.icon_arrow-up:before {
  content: "\e939";
}
.icon_arrow-left:before {
  content: "\e93a";
}
.icon_arrow-down:before {
  content: "\e93b";
}
.icon_edit:before {
  content: "\e937";
}
.icon_gas:before {
  content: "\e92a";
}
.icon_user-profile:before {
  content: "\e92b";
}
.icon_damafon:before {
  content: "\e92c";
}
.icon_jur:before {
  content: "\e92d";
}
.icon_telephone:before {
  content: "\e92e";
}
.icon_home:before {
  content: "\e92f";
}
.icon_pay-46:before {
  content: "\e930";
}
.icon_g:before {
  content: "\e931";
}
.icon_upay-logo-cl:before {
  content: "\e932";
}
.icon_add-payment:before {
  content: "\e933";
}
.icon_loan-repayment:before {
  content: "\e934";
}
.icon_online-games:before {
  content: "\e935";
}
.icon_my-mobile:before {
  content: "\e936";
}
.icon_home-arrow-right:before {
  content: "\e927";
}
.icon_arrow-right:before {
  content: "\e928";
}
.icon_home-arrow-left:before {
  content: "\e929";
}
.icon_appstore:before {
  content: "\e900";
}
.icon_betting:before {
  content: "\e902";
}
.icon_bonus:before {
  content: "\e903";
}
.icon_branches:before {
  content: "\e904";
}
.icon_checkbox:before {
  content: "\e905";
}
.icon_checkbox-selected:before {
  content: "\e906";
}
.icon_close:before {
  content: "\e907";
}
.icon_delete:before {
  content: "\e908";
}
.icon_favorite:before {
  content: "\e909";
}
.icon_fb:before {
  content: "\e90a";
}
.icon_filter:before {
  content: "\e90b";
}
.icon_G:before {
  content: "\e90c";
}
.icon_googleplay:before {
  content: "\e90d";
}
.icon_history:before {
  content: "\e90e";
}
.icon_internet:before {
  content: "\e90f";
}
.icon_linkdin:before {
  content: "\e910";
}
.icon_bank:before {
  content: "\e911";
}
.icon_menu:before {
  content: "\e912";
}
.icon_mobile:before {
  content: "\e913";
}
.icon_my-mobile1:before {
  content: "\e914";
}
.icon_notification-16:before {
  content: "\e915";
}
.icon_notification-17:before {
  content: "\e916";
}
.icon_online-games1:before {
  content: "\e917";
}
.icon_parking:before {
  content: "\e918";
}
.icon_pay:before {
  content: "\e919";
}
.icon_property:before {
  content: "\e91a";
}
.icon_qr-code:before {
  content: "\e91b";
}
.icon_roadpolice:before {
  content: "\e91c";
}
.icon_search:before {
  content: "\e91d";
}
.icon_social:before {
  content: "\e91e";
}
.icon_topup:before {
  content: "\e91f";
}
.icon_transfer:before {
  content: "\e920";
}
.icon_tv:before {
  content: "\e921";
}
.icon_twitter:before {
  content: "\e922";
}
.icon_upay-logo:before {
  content: "\e923";
}
.icon_user:before {
  content: "\e924";
}
.icon_utility:before {
  content: "\e925";
}
.icon_Add-payment:before {
  content: "\e926";
}
.icon_logout:before {
  content: "\e941";
}
.icon_settings:before {
  content: "\e942";
}
.icon_calendar:before {
  content: "\e93f";
}
.icon_dram:before {
  content: "\e940";
}
.icon_download:before {
  content: "\e901";
}
.icon_favoriteadded:before {
  content: "\e93c";
}
.icon_print:before {
  content: "\e93d";
}
.icon_show:before {
  content: "\e93e";
}
.icon_home-br:before {
  content: "\e938";
}
