$icomoon-font-family: "UPay-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon_encashment-out: "\e959";
$icon_encashment-in: "\e95a";
$ic_mobile: "\e951";
$icon_encashment: "\e952";
$icon_groups1: "\e953";
$icon_in: "\e954";
$icon_others: "\e955";
$Icon_out: "\e956";
$icon_ucom: "\e957";
$icon_wallet: "\e958";
$icon_avatar: "\e94a";
$icon_groups: "\e94f";
$icon_other: "\e950";
$icon_xls: "\e944";
$icon_retry: "\e945";
$icon_done: "\e94e";
$icon_attach: "\e94b";
$icon_jpg: "\e94c";
$icon_png: "\e94d";
$icon_close1: "\e946";
$icon_error: "\e947";
$icon_success: "\e948";
$icon_warning: "\e949";
$icon_basket: "\e943";
$icon_arrow-up: "\e939";
$icon_arrow-left: "\e93a";
$icon_arrow-down: "\e93b";
$icon_edit: "\e937";
$icon_gas: "\e92a";
$icon_user-profile: "\e92b";
$icon_damafon: "\e92c";
$icon_jur: "\e92d";
$icon_telephone: "\e92e";
$icon_home: "\e92f";
$icon_pay-46: "\e930";
$icon_g: "\e931";
$icon_upay-logo-cl: "\e932";
$icon_add-payment: "\e933";
$icon_loan-repayment: "\e934";
$icon_online-games: "\e935";
$icon_my-mobile: "\e936";
$icon_home-arrow-right: "\e927";
$icon_arrow-right: "\e928";
$icon_home-arrow-left: "\e929";
$icon_appstore: "\e900";
$icon_betting: "\e902";
$icon_bonus: "\e903";
$icon_branches: "\e904";
$icon_checkbox: "\e905";
$icon_checkbox-selected: "\e906";
$icon_close: "\e907";
$icon_delete: "\e908";
$icon_favorite: "\e909";
$icon_fb: "\e90a";
$icon_filter: "\e90b";
$icon_G: "\e90c";
$icon_googleplay: "\e90d";
$icon_history: "\e90e";
$icon_internet: "\e90f";
$icon_linkdin: "\e910";
$icon_bank: "\e911";
$icon_menu: "\e912";
$icon_mobile: "\e913";
$icon_my-mobile1: "\e914";
$icon_notification-16: "\e915";
$icon_notification-17: "\e916";
$icon_online-games1: "\e917";
$icon_parking: "\e918";
$icon_pay: "\e919";
$icon_property: "\e91a";
$icon_qr-code: "\e91b";
$icon_roadpolice: "\e91c";
$icon_search: "\e91d";
$icon_social: "\e91e";
$icon_topup: "\e91f";
$icon_transfer: "\e920";
$icon_tv: "\e921";
$icon_twitter: "\e922";
$icon_upay-logo: "\e923";
$icon_user: "\e924";
$icon_utility: "\e925";
$icon_Add-payment: "\e926";
$icon_logout: "\e941";
$icon_settings: "\e942";
$icon_calendar: "\e93f";
$icon_dram: "\e940";
$icon_download: "\e901";
$icon_favoriteadded: "\e93c";
$icon_print: "\e93d";
$icon_show: "\e93e";
$icon_home-br: "\e938";

