<!-- design  -->
<!-- link https://projects.invisionapp.com/share/9ZKYC7DYMB2#/screens/317327377 -->
<h3 *ngIf="title">{{title}}</h3>

<div *ngFor="let favorite of favoritesData">
  <app-favorite-link
    [favoriteData]="favorite">
  </app-favorite-link>
</div>


<!--<iu-ui-customer-debit-pay-list-->
  <!--toggleIconClass="icon_arrow-right toggle-icon"-->

  <!--iconClassName_new="icon_add-payment"-->
  <!--iconClassName_fav="icon_favoriteadded"-->
  <!--iconClassName_recurrent="icon icon_history"-->

  <!--paymentMethodTitle="Payment Method"-->
  <!--[customerDebitPayDataSource]="favoritesData"-->
  <!--[paymentCards]="userPaymentCards"-->
  <!--(payClick)="onPayClick($event)"-->
  <!--(addNewCardClick)="onAddNewCard()"-->
  <!--(favoriteClick)="onFavorite($event)"-->
  <!--(recurrentClick)="onRecurrent($event)">-->

<!--</iu-ui-customer-debit-pay-list>-->
