<div class="encashment">
  <div class="heading flex center-top">
    <iu-ui-button-with-icon iconClassName="icon_arrow-left"
                            (click)="goBack(category)">
    </iu-ui-button-with-icon>
    <h1>{{currentEncashmentProvider.displayText | translate }}</h1>
  </div>
  
  <div class="form" *ngIf="inputFields.length">
    <div *ngFor="let field of inputFields"
         [ngClass]="field.uiComponent?.hasError ? 'error' : ''">
      
      <div class="field-error" *ngIf="field.uiComponent?.errorMsg">{{field.uiComponent.errorMsg | translate}}</div>
      
      <iu-ui-input *ngIf="field.uiComponent.component === 'input'"
                   [value]="this.orderData[field.key]"
                   [placeholder]="field.uiComponent.placeholder | translate"
                   [type]="field.uiComponent.type"
                   (valueChange)="onValueChange($event, field.key)">
      </iu-ui-input>
      
      <iu-ui-select *ngIf="field.uiComponent.component  === 'select'"
                    [placeholder]="field.uiComponent.placeholder | translate"
                    [options]="field.uiComponent.options"
                    (optionClick)="onSelectItem($event, field.key, field.uiComponent.dependantFields)">
      </iu-ui-select>
  
      <!--<iu-ui-date-picker  *ngIf="field.uiComponent.component === 'datePicker'"-->
                          <!--[placeholder]="field.label | translate"-->
                          <!--(valueChange)="onValueChange($event, field.key)">-->
      <!--</iu-ui-date-picker>    -->
  
      <!-- todo implement for material datepicker -->
      <iu-ui-input *ngIf="field.uiComponent.component === 'datePicker'"
                   [value]="this.orderData[field.key]"
                   [placeholder]="field.uiComponent.placeholder | translate"
                   type="date"
                   (valueChange)="onValueChange($event, field.key)">
      </iu-ui-input>
      
      <upay-armenian-phone-picker *ngIf="field.uiComponent.component === 'phonePicker'"
                                  #upayArmenianPhonePicker
                                  (valueChange)="onValueChange($event, field.key)">
      </upay-armenian-phone-picker>
    </div>
    
    <div class="action">
      <iu-ui-button [text]="'encashmentInfo.confirm' | translate"
                    (click)="onConfirm()">
      </iu-ui-button>
    </div>
    
    <div class="form-error" *ngIf="formHasError">{{'error.fieldsRequired' | translate}}</div>
  </div>
  
  
  <!-- todo change this part-->
  <div *ngIf="currentEncashmentProvider.useCustomComponent">
    <div *ngIf="currentEncashmentProvider.useCustomComponent === 'CashoutComponent'">
      <app-cash-out></app-cash-out>
    </div>
  </div>
</div>



