@import '_variables';

:host ::ng-deep {
  .heading {
    padding: 20px;
    border-bottom: 1px solid @gray-200;

    h1 {
      font-size: 1rem;
      letter-spacing: 1px;
      line-height: 1.2;
      color: #353535;
      font-weight: 900;
    }

    button {
      .flex;
      .center-top;
      margin-right: 15px;

      i {
        font-size: 1.2rem;
      }

      &:hover {
        i {
          color: @primary;
        }
      }
    }
  }

  .form {
    margin-top: @block-space;
    padding: 20px;
    width: 400px;


    input, .iu-ui-select-container {
      margin-bottom: 8px;
    }

    .error {
      input, .iu-ui-select-header {
        border: 1px solid red !important;
      }
    }

    .action {
      margin-top: @block-space;
    }

    button {
      .btn;
      .btn-large;
      .btn-green;
      .btn-rounded;
    }

    .select-with-input {
      padding-top: 10px;

      input {
        width: 270px;
      }
    }

    .mat-form-field {
      width: 100%;

      .mat-form-field-infix {
        input {
          border: 1px solid @gray-200;
          padding: 0.55rem 1rem !important;
        }
      }
      button {
        min-width: auto;
        background: none;
      }
    }
  }

  .form-error {
    margin: 10px 0;
    color: @red;
    text-align: center;
    padding: 7px 0;
    border: 1px solid #E11F3A;
    background: #f8e4e7;
  }

  .field-error {
    color: @red;
    font-size: .7rem;
    margin-bottom: 5px;
  }
}
