<div class="title-num" *ngIf="label">{{label}}</div>
<div class="select-with-input">
  <iu-ui-autocomplete
      [hasFiltering]="false"
      [options]="providersCodeData"
      displayFieldKey="name"
      outputFieldKey="value"
      [selectedOption]="selectedProviderCode"
      (valueSelect)="onProviderCodeSelect($event)">

  </iu-ui-autocomplete>

  <iu-ui-input (valueChange)="onPhoneNumberChange($event)"
               [value]="selectedNumber">

  </iu-ui-input>
</div>

<div class="error-message">{{errorMessage}}</div>
