:host ::ng-deep {
  .title-num{
    padding-top: 20px;
  }
  .select-with-input{
    color: #000;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    iu-ui-autocomplete{
      width: 95px;
      .iu-ui-autocomplete-container{
        .selected-option{
          max-width: 70px;
          font-size: .85rem;
          height: 30px;
          line-height: 30px;
          background: #ffffff;
          .toggler{
            top: 8px !important;
          }
        }
        .options-list-and-search{
          ul{
            height: 100% !important;
          }
        }
      }
    }
    iu-ui-input{
      input{
        color: #000;
        height: 30px;
        line-height: 30px;
      }
    }
  }
  .error-message{
    font-size: .85rem;
    color: red;
    padding-bottom: 10px;
  }
}
