<header>
  <div class="app-container header">
    <div class="flex center-top header-flex">

      <!-- logo -->
      <iu-ui-link link="/">
        <iu-ui-img src="shared-assets/img/logo.svg" alt="UPay-logo">
        </iu-ui-img>
      </iu-ui-link>

      <!-- navigation -->
      <div class="left-nav">
        <iu-ui-navigation>
          <iu-ui-navigation-item *ngFor="let item of navigation" [item]="item">
            {{ item.text }}
          </iu-ui-navigation-item>
        </iu-ui-navigation>
      </div>

      <!-- right block -->
      <div class="flex center-top float-right">
        <!--search box TODO-->
        <!--languages box TODO--->
        <div class="right-nav">

        </div>
        lang:
        <app-language-picker></app-language-picker>
        <!-- notifications TODO-->
        <!--<app-notification *ngIf="authService.isAuthenticated()"></app-notification>-->
        <!-- avatar -->
        <!--test popup-->
        <!--<iu-ui-button (click)="openAnotherPopup()" text="Another popup">-->
        <!--</iu-ui-button>-->
        <!--login-->
        <iu-ui-button *ngIf="!isAuth"
                      (click)="openPopup('login')"
                      [text]="'core.header.login_button' | translate">
        </iu-ui-button>

        <!--register-->
        <!--<iu-ui-button *ngIf="!authService.isAuthenticated()" -->
                      <!--(click)="login()" -->
                      <!--text="Fake login => GO to client area">-->
        <!--</iu-ui-button>-->

        <app-avatar *ngIf="isAuth"></app-avatar>
      </div>
    </div>
  </div>
</header>
