//@import "../../../assets/less/_variables";
//
//header {
//  width: 100%;
//  background-color: @white;
//  box-shadow: 0 3px 7px @gray-300;
//  height: 80px;
//  position: fixed;
//  top: 0;
//  left: 0;
//  z-index: 99;
//
//  .header-flex {
//    height: 100%;
//  }
//}
//
//
//// to access child component styles
//:host ::ng-deep {
//  iu-ui-flexbox {
//    height: 100%;
//  }
//
//  iu-ui-link {
//    .flex;
//    .center-top;
//  }
//
//  .iu-ui-image {
//    width: 94px !important;
//  }
//
//  iu-ui-navigation {
//    height: 100%;
//
//    nav {
//      .flex;
//      height: 100%;
//    }
//
//    .iu-ui-ul {
//      .flex;
//
//      iu-ui-navigation-item {
//        .iu-ui-li {
//          height: 100%;
//
//          .iu-ui-a {
//            .flex;
//            .center-top;
//            height: 100%;
//            padding: 0 1.6rem;
//            color: @dark;
//            background: @white;
//            .transition;
//
//            &:hover {
//              color: @white;
//              background: linear-gradient(@primary, @secondary);
//              .transition;
//            }
//          }
//        }
//
//      }
//    }
//  }
//
//  iu-ui-button {
//    .iu-ui-button {
//      .btn;
//      .btn-green;
//      .btn-rounded;
//    }
//
//
//    &:last-of-type {
//      .iu-ui-button {
//        .btn-transparent;
//      }
//    }
//  }
//}
//
//
//
//
