<div class="whitebox" *ngIf="customerId">
  <upay-business-data-table [columnsConfig]="columnsConfig"
                            [dataSource]="dataSource"
                            [totalItems]="totalItems"
                            [orderedFieldsArr]="[{key: 'date', val: false}]"
                            [hasFilter]="false"
                            (getDataSource)="getActivityLogByCustomerId($event)">
  </upay-business-data-table>
</div>
