@import '../../../../../l-builder/src/assets/less/variables.less';

:host ::ng-deep {
  .l-sidebar-wrapper {
    background: rgba(0, 0, 0, .5) !important;
  }

  .l-sidebar-title {
    padding: 0 20px;
    color: @white;
    font-size: 1.3rem;
  }
}