<select [value]="value"
        (change)="change($event)" >
  <option value="" disabled selected hidden>
    {{placeholder}}
  </option>
  <option *ngFor="let o of options"
          [value]="getValueKey(o)">
          {{getViewKey(o)}}
  </option>
</select>
