<div class="claim-details claim-type-selected">
  <app-claim-card [claimSearchResult]="searchResult"
                  [hasGoBack]="true"
                  [goBackPath]="goBackPath"
                  [goBackText]="goBackText | translate">
  </app-claim-card>
  
  <upay-claim-by-customer-description [claimData]="claimData"
                                      [customerDataConfig]="customerDataConfig"
                                      claimerTitle="pages.support.claimer"
                                      examinationNotesTitle="pages.support.examinationNotes"
                                      noteHistoryDate="pages.support.noteHistoryDate"
                                      noteHistoryUsername="pages.support.noteHistoryUsername"
                                      noteHistoryStatus="pages.support.noteHistoryStatus"
                                      noteHistoryComment="pages.support.noteHistoryComment"
                                      cancellationTypeTranslationPrefix="widgets.claim."
                                      directionTitle="pages.support.direction"
                                      attachmentsTitle="pages.support.attachments"
                                      newNotesPlaceholder="pages.support.notes"
                                      [files]="files"
                                      [fileStorageUrl]="fileStorageUrl">
  </upay-claim-by-customer-description>
</div>
