<div class="service-provider-item">
  <div class="service-provider-item-block service-provider-item-title flex center-top">
    <div class="go-back">
      <iu-ui-link-with-icon [link]="goBackUrl" iconClassName="icon_arrow-left">
      </iu-ui-link-with-icon>
    </div>
    <div class="title">
      <iu-ui-icon [type]="currentCategoryService.iconClass"></iu-ui-icon>
      {{currentCategoryService.text}}
    </div>
  </div>
  <div class="service-provider-item-block service-provider-item-search flex col">
    <p>Search with phone number or customer id</p>
    <div class="flex center-top">
      <input placeholder="search"/>
      <iu-ui-button (click)="onSearch($event)" text="Search"></iu-ui-button>
    </div>
  </div>
  <div class="service-provider-item-block service-provider-item-search-result">
    <iu-ui-customer-debit-pay-form *ngIf="customerDebitPayData"
                                   [customerDebitPayData]="customerDebitPayData"
                                   [paymentCards]="userPaymentCards"
                                   (payClick)="onPayClick($event)"

                                   iconClassName_new="icon_add-payment"
                                   iconClassName_fav="icon_favoriteadded"
                                   iconClassName_recurrent="icon icon_history"
    
                                   paymentListText="paymentListText"
                                   amountText="amountText"
                                   commissionText="commissionText"
                                   withCommissionText="withCommissionText"
                                   payText="payText"
                                   addNewCardText="addNewCardText"
                                   favoriteText="favoriteText"
                                   recurrentText="recurrentText">
    </iu-ui-customer-debit-pay-form>
  </div>
</div>

<!--(addNewCardClick)="onAddNewCardClick($event)"-->
<!--(payClick)="onPayClick($event)"-->
<!--(favoriteClick)="onFavoriteClick($event)"-->
<!--(recurrentClick)="onRecurrentClick($event)"-->

<!--[paymentListText]="paymentListText"-->
<!--[amountText]="amountText"-->
<!--[commissionText]="commissionText"-->
<!--[withCommissionText]="withCommissionText"-->
<!--[payText]="payText"-->
<!--[addNewCardText]="addNewCardText"-->
<!--[favoriteText]="favoriteText"-->
<!--[recurrentText]="recurrentText"-->
