@import '../../../assets/less/variables.less';
@import '../../../assets/icomoon/style.css';

:host ::ng-deep {
  .l-radio-button {
    .flex;

    .selection-area {
      i {
        cursor: pointer;
        color: @blue;
        .transition;
      }

      .not-selected {
        i {
          color: @gray;
        }
      }
    }
  }
}



