<span>{{fieldConfig.label}}</span>

<ng-container [ngSwitch]="fieldConfig.component">

  <input *ngSwitchCase="'input'" />

  <div *ngSwitchDefault>no component for {{fieldConfig.component}}</div>

</ng-container>
