.dropdown-menu{
  min-width: auto;
  border: 0;
}

h2, .h2{
  display: inline-block;
  border-bottom: 1px solid $secondary;
  padding-bottom: 0.5rem;
  color: $gray-600;
}
h3, .h3{
  color: $gray-600;

}


/* buttons override -----------------------------------------*/

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 1rem !important;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 1.4rem !important;
  &.big{
    padding: 0.5rem 1.5rem !important;
    font-size: 1.2rem;
  }
}
button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;

}

.btn-primary {
  color: #fff;
  background-color: $primary !important;
  border-color: $primary !important;
}

/*Custom styles------------------------------------------------------------*/

a, a:hover, a:visited, a:focus {
  color: #86af23;
  text-decoration: none;
  outline: none;
}


.dropdown-divider {
  border-top: 1px solid $gray-400;
}




