<app-transaction-list-filter (search)="onFilterData($event)">
</app-transaction-list-filter>

<div class="upay-table">
  <iu-ui-data-table *ngIf="cashBoxId"
                    [columnsConfig]="columnsConfig"
                    [tableData]="transactionListData"
                    (sort)="sortData($event)"
                    (actionClick)="actionClick($event)"
                    asc_icon="icon_arrow-down"
                    desc_icon="icon_arrow-up">
  </iu-ui-data-table>
  <!--(selectItem)="onSelectItem($event)"-->
  <!--(sortOrprintSelected)="onSortOrprintSelected($event)"-->
</div>

<div class="upay-pagination">
  <iu-ui-pagination *ngIf="cashBoxId && totalItems"
  
                    [itemsPerPage]="pageSize"
                    [maxSize]="5"
                    [rotate]="false"
                    [totalItems]="totalItems"
                    (pageChange)="pageChange($event)">
  </iu-ui-pagination>
</div>
