<div class="popup-styles unfreeze-account-popup">
  <div class="popup-inner-wrapper title">Փակել հաշիվը</div>
  <div class="popup-inner-wrapper flex col">
    <div class="flex col form">
      <textarea placeholder="Դադարեցնելու հիմքը"
                   [(ngModel)]="terminateAccountText">
      </textarea>
    </div>
    <div class="cta-btn">
      <iu-ui-button text="ՈՒղարկել հայտ"
                    (click)="terminateAccount()">
      </iu-ui-button>
    </div>
  </div>
</div>
