<div class="close-day content-styles">
  <div class="flex">
    <div>
      <div class="heading">Ընթացիկ տվյալներ</div>
      <div class="body">
        <div class="flex space-between">Գանձապահ <p>{{currentUser?.forename}} {{currentUser?.surname}}</p> </div>
        <div class="flex space-between">Ամսաթիվ <span>{{date.date}} - {{date.time}}</span> </div>
        <div class="flex space-between diff">Մնացորդ <b>{{currentBalance}} Դր</b> </div>
      </div>
    </div>
    <div>
      <div class="heading">Օրվա ամփոփում</div>
      <div class="body">
        <div class="send-button">
          <iu-ui-button text="ՈՒղարկել" (click)="sendReport()"></iu-ui-button>
        </div>
      </div>
    </div>
  </div>
  
  <!--<iu-ui-button text="Տպել" (click)="print()"></iu-ui-button>-->
</div>
