//@import '_variables';
//
//.c-block{
//  width: 30%;
//
//  .body {
//    margin-top: 20px;
//    min-height: 150px;
//
//    .diff {
//      padding-top: 20px;
//      border-top: 1px solid @gray-200;
//    }
//  }
//
//  .heading {
//    letter-spacing: 1px;
//    font-weight: 500;
//  }
//
//  &:first-child {
//    margin-right: 50px;
//    border-right: 1px solid @gray-200;
//    padding-right: 40px;
//  }
//}
//
//:host ::ng-deep {
//  button {
//    .btn;
//    .btn-green;
//    .btn-rounded;
//    .btn-large;
//    text-transform: uppercase;
//
//  }
//}
