<div class="flex space-between">
  <div class="w-25">
    <app-encashment-witdget routPath="/operator/transactions/encashment"></app-encashment-witdget>
  </div>
  <div class="selected service-container w-75 whitebox no-padding">
    <router-outlet></router-outlet>
  </div>
</div>
