<div *ngFor="let d of staticDebtOptions" (click)="onSelectStaticDebtType(d)">
  <iu-ui-button [text]="d.displayText | translate"
                class="debt-type-select">
  </iu-ui-button>
</div>
