<div class="claim-details whitebox no-padding"  *ngIf="claimDescriptionData">
  <div class="claim-block description" *ngIf="claimDescriptionData.reason">
    <h3>{{reasonTitle | translate}}</h3>
    <p>{{claimDescriptionData.reason | translate}}</p>
  </div>
  <div class="claim-block notes-history" *ngIf="claimDescriptionData.notes">
    <h3>{{examinationNotesTitle | translate}}</h3>
    <div class="note-history">
      <div *ngFor="let note of claimDescriptionData.notes"
           class="note-history-item">
        <p>
          <span>{{noteHistoryDate | translate}}</span>
          <span>{{note.timestamp ? note.timestamp : '--'}}</span>
        </p>
        <p>
          <span>{{noteHistoryUsername | translate}}</span>
          <span>{{note.username ? note.username : '--'}}</span>
        </p>
        <p class="status" [ngClass]="note.status">
          <span>{{noteHistoryStatus | translate}}</span>
          <span>{{note.status ? ((cancellationTypeTranslationPrefix + note.status) | translate) : '--'}}</span>
        </p>
        <p>
          <span>{{noteHistoryComment | translate}}</span>
          <span>{{note.comment ? note.comment : '--'}}</span>
        </p>
      </div>
    </div>
  </div>
  <div class="claim-block notes" *ngIf="allowNewNotes">
    <h3>{{newNotesTitle | translate}}</h3>
    <textarea placeholder="{{newNotesPlaceholder | translate}}" (input)="addNotes($event)"></textarea>
  </div>
  <div class="claim-block cta" *ngIf="claimDescriptionData.actions && claimDescriptionData.actions.length">
    <div *ngFor="let action of claimDescriptionData.actions" [ngClass]="action.customClass">
      <iu-ui-button [text]="action.name | translate" (click)="onActionClick(action)"></iu-ui-button>
    </div>
  </div>
  <div *ngIf="claimDescriptionData.message"
       class="msg"
       [ngClass]="claimDescriptionData.message.customClass ? claimDescriptionData.message.customClass : 'success'">
    {{claimDescriptionData.message.text | translate}}
  </div>
</div>
