/* You can add global styles to this file, and also import other style files */

@import 'lavash-reset';
@import './assets/less/_vars';

body {
  background: #fafafa;
  font-family: 'Philosopher', sans-serif;
  font-size: 1rem;
  font-weight: 200;
}

.container { padding: 0 20px; }

section {
  padding: 20px;
  padding-top: 120px;
  padding-bottom: 40px;
  min-height: 100vh;

  &.bg {
    position: relative;
    z-index: 1;

    &:after {
      content: '';
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: -2;
    }

    &:before {
      content: '';
      width: 100%;
      height: 100%;
      background: #0e2922;
      background: linear-gradient(to top, rgba(0, 0, 0, .55) 50%, rgba(0, 0, 0, 0.9) 75%);
      position: absolute;
      top: 0;
      left: 0;
      opacity: .3;
      z-index: -1;
    }
  }
}

h1 {
  .flex;
  .center-top;
  margin-bottom: 20px;
  color: @toxic;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 2.5rem;

  i {
    font-size: 1rem;
    margin-right: 5px;
  }
}

p, button {
  font-family: 'Spartan', 'Philosopher', sans-serif;
  font-family: 'Philosopher', sans-serif;
  font-size: .75rem;
}

h1, h2, h3 {
  font-family: 'Philosopher', sans-serif;
}

@media all and (max-width: @mobile) {
  h1 {
    font-size: 1.5rem;
  }

  section {
    padding-bottom: 60px;
  }
}

@media all and (max-width: @mobile_portait) {

  section {
    padding-left: 40px;
    padding-right: 40px;
  }
}



