// define vars
@font-size-base: 1rem;
@font-family-base: 'Tahoma Armenian', 'Tahoma', sans-serif;

@gray:         #e6e7eb;
@gray-100:     #f4f4f4;
@gray-200:     #d8d9da;
@gray-300:     #c1c4cb;
@gray-400:     #7d7d7d;
@gray-500:     #404041;
@gray-600:     #353535; // body text color
@gray-700:     #3c4044; // footer light
@gray-800:     #25292d; // footer dark
@grey-900:     #3c4044; // navbar-collapse bg
@black:        #000;    // titles color
@grey-ft-text: #7c808f; // footer text color


@purple: #9292B5;
@purpleLight: #efeff3;


@primary:   #a2cd3a; // link color, button hover color
@secondary: #86af23; // button color
@success:   #86af23;
@info:      #404041;
@light:     #f7f7f7;
@dark:      #353535;
@white:     #ffffff;

@red:       #E11F3A;
@orange:    #EFA400;
@green:     @secondary;
@blue: #4E66C2;

@red_err:       #f4e2e4;
@orange_err:    #faf3e3;
@green_err:     #e7f6be;

@red_err_b:       #f4cdd6;
@orange_err_b:    #fcdda0;
@green_err_b:     #92ca00;

@container-width: 1280px;
@block-space: 20px;
@radius: 6px;



// ----------------------------------- mixins

// transition
.transition {
  transition: all .3s ease-in-out;
}

// hidden
.hidden {
  display: none;
}

// flex box
.flex { display: flex; }
.wrap { flex-wrap: wrap; }
.col { flex-direction: column; }
.row{ flex-direction: row; }
.center-top { align-items: center; }
.center-left { justify-content: center; }
.float-right { margin-left: auto; }
.space-between { justify-content: space-between; }
.space-around { justify-content: space-around; }
.flex-start { justify-content: flex-start; }


._icon {
  font-size: 1.4rem;
  margin-right: 1rem;

  color: @white;
  background: #94b83d;
  padding: 5px;
  border-radius: 50%;
  border: 3px solid #c3dd82;
}

// btn
@import 'ui-kit/button';

// alert-box
@import 'ui-kit/alert-box';

