.app-service-categories {
  border:  1px solid @gray-200;
  padding: 0;
}

.app-service-categories-item {
  .transition;

  a {
    .flex;
    .center-top;
    width: 100%;
    height: 60px;
    text-align: left;
    border-radius: 0;
    color: @gray-600;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    .transition;
  }

  i {
    ._icon;
    .transition;
  }

  &:hover {
    background: @secondary;

    a {
      color: @white;
    }

    i {
      color: @white;
    }
  }
}
