.claim-details {
  background: @gray-100;
  border-radius: 0;
  border-top: none;

  .claim-block {
    padding: 30px 10px;
    // font-size: .9rem;

    h3, p {
      padding: 10px;
      border-bottom: none;
    }

    .form{
      padding: 0 @block-space;

      .form-group {
        flex: 1;
        padding-right: 150px;
      }

      .field {
        margin-bottom: 20px;
      }

      & > div{
        & > div{
          margin-top: @block-space / 4 * 3;
          iu-ui-input{
            width: 280px;
            margin-left: @block-space * 2;
          }
        }
      }
    }

    &.options {
      padding: @block-space;
      iu-ui-radio-button {
        .flex;
        .col;
        .wrap;
        height: 65px;
        width: 60%;
        padding-left: 20px;
      }
    }

    &.transaction {
      position: relative;
      border-top: 1px solid @gray-300;


      .print-btn {
        border: 1px solid @secondary;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        background-color: @secondary;
        position: absolute;
        top: 50px;
        right: 50px;
        .flex;
        .center-left;
        .center-top;
        cursor: pointer;
        .transition;

        i {
          color: @white;
        }


        &:hover {
          border: 1px solid @primary;
          background: @primary;
          color: @primary;
        }
      }

      .provider-interrelated-selectbox {
        width: 40%;
        padding: @block-space/2 @block-space;
      }
      .provider-interrelated-selectbox-result {
        margin-top: 5px;

        .wrapper {
          min-width: 200px;
          margin-right: 5px;
        }
      }
    }

    &.notes{
      background-color: @gray-100;
      padding: 20px;
      border: 1px solid @gray-200;
      border-right: 0;
    }

    &.notes-history{
      background: @purpleLight;
      padding: 20px;
      border-right: 0;
      .flex.col{
        padding: @block-space;
      }

      .note-history {
        .note-history-item {
          padding: 5px;
          border-left: 2px solid @gray-200;
          .flex;
          position: relative;

          &:before {
            content: '';
            width: 14px;
            height: 14px;
            background: @primary;
            border-radius: 50%;
            position: absolute;
            top: -5px;
            left: -8px;
          }

          p{
            .flex;
            .col;
            flex: 1;

            span:first-child {
              font-size: .8rem;
            }

            span:last-child {
              font-weight: 700;
            }

            &.status {
              position: relative;

              &:before {
                content: '';
                width: 7px;
                height: 7px;
                background: @primary;
                border-radius: 50%;
                position: absolute;
                bottom: 19px;
                left: -8px;
              }

              &.OPENED, &.ACCEPTED {
                &:before {
                  background: @orange;
                }
              }

              &.DISMISSED, &.PRE_REJECTED, &.REJECTED, &.COMPLETED_REJECTED {
                &:before {
                  background: @red;
                }
              }
            }
          }
        }
      }
    }
    &.attachments {
      background: @purpleLight;

      .file-upload {
        margin-right: @block-space/4;
      }

      .file-upload, .document button {
        .btn;
        .btn-transparent;
        .btn-rounded;
        overflow: hidden;
        max-width: 250px;
        text-overflow: ellipsis;
        position: relative;


        font-size: 0.8rem;
        margin: 3px;
        margin-top: 10px;
        border: 1px solid @blue;
        color: @gray-300;
        cursor: pointer;
        white-space: nowrap;

        i {
          color: @primary;
          font-size: 1rem;
          margin-right: 5px;
        }

        a {
          width: 100%;
          color: @gray-500;
          overflow: hidden;
        }

        &:hover {
          background: transparent;
          color: @gray-300;
        }

        .delete {
          height: 100%;
          width: 30px;
          position: absolute;
          right: 5px;
          top: 0;
          color: @gray-500;
          .flex;
          .center-top;
          .transition;

          &:hover {
            color: @gray-500;
          }
        }
      }


      .documents {
        span{
          margin-left: @block-space/4;
          font-size: .85rem;
        }
      }
    }
    &.cta {
      .flex;
      .center-top;
      .center-left;

      button {
        .btn;
        .btn-large;
        .btn-rounded;
        margin-right: 5px;
        border: 2px solid transparent;
        color: @white;
        position: relative;
        z-index: 1;
        .transition;

        &:before {
          content: '';
          width: 100%;
          height: 0;
          opacity: 0;
          .btn-rounded;
          position: absolute;
          top: 50%;
          left: 0;
          z-index: 0;
          .transition;
        }

        &:hover {
          &:before {
            opacity: 1;
            top: -2px;
            height: 100%;
          }
        }
      }

      .success {
        button {
          background: @secondary;

          &:before {
            border: 2px solid @secondary;
          }

          &:hover {
            background: @white;
            color:  @secondary;
          }
        }
      }

      .error {
        button {
          background: @red;

          &:before {
            border: 2px solid @red;
          }

          &:hover {
            background: @white;
            color:  @red;
          }
        }
      }
    }
  }
  .msg {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: @block-space;

    &.error {
      color: @red;
    }

    &.success {
      color: @primary;
    }
  }
}

