// filter
.filters {
  .flex;
  //.center-top;
  margin-bottom: 20px;

  .filter {
    .flex;
    .col;
    //.space-between;
    flex: 1;
    padding: 0 20px ;
    border-right: 1px solid @gray-200;

    &:first-child{
      padding-left: 0;
    }

    &:last-child {
      border: none;
      padding-right: 0;
    }

    &.cta {
      align-self: flex-end;
      iu-ui-button {
        text-align: right;
        button {
          .btn;
          .btn-green;
          .btn-rounded;
          .btn-large;
        }

        &.reset {
          margin: 0 0 20px 0;
          button {
            .btn-transparent;
          }
        }

        //&:first-child {
        //  margin: 0 0 20px 0;
        //  button {
        //    .btn-transparent;
        //  }
        //}
      }
    }

    iu-ui-select {
      width: 100%;
    }

    iu-ui-input {
      width: 100%;
    }

    upay-cashbox-autocomplete,
    upay-operator-autocomplete,
    upay-provider-autocomplete,
    upay-branch-autocomplete,
    iu-ui-autocomplete{
      width: 100%;
    }

    .iu-ui-input-wrapper {
      input {
        width: 100%;
        padding: 0.75rem;
        border: 1px solid @gray-200;
        color: @gray-400;
        //border-radius: @radius;
      }
    }
    .mat-form-field {
      font-size: inherit;
      font-weight: 400;
      line-height: 1.125;
      &.mat-form-field-appearance-legacy{
        .mat-form-field-infix {
        padding: 0;
        }
        .mat-form-field-underline {
          background-color: transparent;
        }
      }

      .mat-form-field-wrapper{
        .mat-form-field-flex{
          border: 1px solid @gray-200;
          padding: 0.5rem;
        }
      }
    }

    .mat-form-field-infix {
      border: 0;
      input {
        width: 100%;
        padding: 0;
        border: none;
        color: @gray-400;
        border-radius: 0;
      }
    }
  }

  .criteria-wraper {
    &:first-child {
      margin-bottom: 20px;
    }
  }

  .criteria {
    .flex;
    .center-top;

    .spliter {
      padding: 0 5px;
    }
  }

  .opacity {
    opacity: 0;
  }
}

.filter-result-info {
  i {
    cursor: pointer;
    color: @primary;
    font-size: 2rem;
    margin-left: @block-space/2;
  }
}

.support {
  .filters {
    padding-top: @block-space;
    .filter {
      flex-direction: row;
      border-right: none;
      .center-top;

      iu-ui-input{
        min-width: 300px;
      }

      &.cta {
        flex-direction: column;
        align-items: flex-end;
        align-self: flex-end;
        iu-ui-button {
          text-align: right;
          button {
            .btn;
            .btn-green;
            .btn-rounded;
            .btn-large;
          }
        }
      }
    }

    .criteria-wraper {
      margin-bottom: 0;
    }
  }
}
.mat-form-field-label-wrapper {
  display: none !important;
}

.mat-form-field-appearance-legacy{
  .mat-form-field-infix {
    padding: 0 !important;
  }
  .mat-form-field-underline {
    background-color: transparent;
    height: 0 !important;
  }
}
span.mat-button-wrapper{
  font-size: 1.85rem !important;
  color: @blue;
}

.mat-form-field-flex{
  .mat-form-field-infix{
    flex: 7 !important;
  }
  .mat-form-field-suffix{
    flex: 1;
  }
}

.mat-icon-button.cdk-focused.cdk-program-focused{
  background-color: transparent !important;
  .mat-button-focus-overlay{
    display: none !important;
  }
}
