header {
  width: 100%;
  background: @white;
  box-shadow: 0 3px 7px @gray-300;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  .header-flex {
    height: 100%;
    .float-right{
      height: 100%;
    }
  }

  .left-nav, .right-nav {
    height: 100%;
  }

  iu-ui-flexbox {
    height: 100%;
  }

  iu-ui-link {
    .flex;
    .center-top;
    a{
      overflow: hidden;
      height: 70px;
    }
  }

  .iu-ui-image {
    width: 100px !important;
    margin-top: -15px;
    margin-left: -10px;
  }

  iu-ui-navigation {
    height: 100%;

    nav {
      .flex;
      height: 100%;
    }

    .iu-ui-ul {
      .flex;

      iu-ui-navigation-item {
        .iu-ui-li {
          height: 100%;

          .iu-ui-a {
            .flex;
            .center-top;
            height: 100%;
            padding: 0 1rem;
            font-size: .9rem;
            letter-spacing: 1px;
            line-height: 1;
            color: @dark;
            background: @white;
            border-bottom: 5px solid transparent;
            .transition;

            &:hover, &.active {
              //color: @white;
              // background: linear-gradient(@primary, @secondary);
              border-bottom: 5px solid @primary;
              .transition;
            }

            &.active {
              pointer-events: none;
            }
          }
        }
      }
    }
  }

  iu-ui-button {
    .iu-ui-button {
      .btn;
      .btn-green;
      .btn-rounded;
    }


    &:last-of-type {
      .iu-ui-button {
        .btn-transparent;
      }
    }
  }

  .balance {
    padding-right: 15px;
  }

  .right-nav {
    padding: 0 20px;

    li{
      border-right: 1px solid @gray-200;
      padding-top: 5px;
    }

    .Basket {
      position: relative;

      i {
        font-size: 1.8rem;
        color: @gray-400;
      }

      .counterVisible {
        font-size: .7rem;
        line-height: 25px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background: @red;
        color: @white;
        position: absolute;

        top: -10px;
        right: -10px;
        text-align: center;
        display: none;

        &.vis {
          display: block;
        }
      }
    }

    .Balance {
      .flex;
      .center-top;

      span {
        padding-left: 7px;
      }

      i {
        border: 1px solid @gray-400;
        border-radius: 50%;
        color: @gray-400;
        font-size: 1rem;
        line-height: 26px;
        height: 28px;
        width: 28px;
        display: block;
        text-align: center
      }
    }
  }

  app-avatar{
    .user-avatar{
      //margin-bottom: 6px;
    }
  }
}



