// sign in && sign up && forgot ------ common code
.popup-wrapper,
.popup-styles {
  &.no-popup {
    background: @white;
    max-width: 700px;
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &.login {
    width: 500px;
  }

  .logo {
    margin-top: @block-space*2;
    margin-bottom: @block-space*3;

    img {
      width: 94px !important;
    }
  }

  .cta-btn {
    button {
      .btn;
      .btn-green;
      .btn-rounded;
      text-transform: uppercase;
      padding: (@block-space / 3 * 2) (@block-space * 2) ;
      margin: (@block-space * 2) auto @block-space ;
      letter-spacing: 1px;
      font-weight: 600;
      display: block;
    }
  }

  .form {
    input {
      width: 100%;
      color: @gray-400;
      border: none;
      border-bottom: 1px solid @gray-400;
      margin-top: @block-space;
      padding: @block-space/2;
      background: transparent;
    }
    textarea{
      padding: 5px;
      resize: vertical;
      min-height: 100px;
    }
    upay-armenian-phone-picker{
      .title-num{
        padding: 0;
        text-align: center;
      }
      .select-with-input{
        max-width: 300px;
        margin: 0 auto;
      }
      input{
        margin-top: 0;
        border: 1px solid #9393b6;
      }
    }
  }

  .extra{
    text-align: right;

    button {
      .btn;
      .btn-transparent;
      border: none;
      font-weight: 700;
    }
  }

  .title{
    margin-bottom: 0;
    background: @purple;
    color: @white;
    text-transform: uppercase;

  }
}
.popup-inner-wrapper{
  padding: 20px 30px;
}

// sign in
.forget-password {
  button {
    .btn;
    .btn-transparent;
    border: none;
    padding-left: 0;
    font-weight: 700;
    font-size: .8rem;
  }
}

.terms {
  text-align: center;
  font-size: .8rem;
  padding: @block-space;;
  margin-bottom: @block-space;;
}

.unfreeze-account-popup{

}

.edit-group-popup{
  .last_group_name{
    margin-top: @block-space/2;
    margin-bottom: @block-space;
    justify-content: center;
    span{
      padding-right: 20px;
    }
  }
}
