.service-providers {
  .flex;
  .wrap;
  .center-top;
}

.service-provider-item {
  margin: 0 @block-space/2;

  a {
    .flex;
    .col;
    .space-between;
    max-height: 180px;
    min-height: 180px;
    width: 150px;
    margin-bottom: 15px;
    color: @gray-400;
    padding: 1.5rem .5rem;
    text-align: center;
    border: 1px solid @gray-200;
    background: @white;
    border-radius: @radius;
    line-height: 20px;
    .transition;


    i, img {
      width: 66px;
      height: 66px;
      border-radius: 50%;
      box-shadow: 0 1px 4px #d1d1d1;
      //padding: 1rem;
    }

    i {
      color: @primary;
      font-size: 1.875rem;
      .transition;
    }

    img {
      background: @white;
      display: block;
      margin: auto;
    }

    transition: box-shadow 300ms ease, transform 300ms ease;
    &:hover {
      //color: @white;
      //background: @secondary;
      transform: translateY(-4px);
      box-shadow: 0 6px 18px 0 rgba(0,0,0,0.1);

      i {
        color: @white;
      }
    }
  }
}


.info-title-text {
  margin-top: @block-space/2;
}

.info-description-text {
  margin-top: @block-space/2;
}

.search {
  width: 95%;
  margin: @block-space auto;

  .iu-ui-input-wrapper {
    position: relative;
  }

  input {
    display: block;
    width: 100%;

    background: @gray;
    height: 50px;
    font-size: 1.2rem;
    padding: 1rem;
    position: relative;
    border: 1px solid @gray-200;
    padding-left: 50px;
    color: @gray-400;
  }

  i {
    display: block;
    position: absolute;
    left: 1rem;
    top: 0;
    font-size: 24px;
    color: @gray-400;
    z-index: 1;
    line-height: 50px;
  }
}
