*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: @font-family-base;
  font-weight: 400;
  line-height: 1.5;
  color: @gray-400;
}

li { list-style: none; }
button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: @font-family-base;
}
button:focus, input:focus {
  outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input, textarea {
  width: 100%;
  padding: .75rem;
  border: 1px solid @gray-200;
  color: @gray-400;
  font-size: 1rem;
  font-family: @font-family-base;
  //border-radius: @radius;
}
textarea {
  resize: vertical;
  min-height: 150px;
}

.app-container {
  max-width: @container-width;
  height: 100%;
  margin: 0 auto;
}
.page-wrapper {
  padding-top: 80px;
  min-height: 100vh;
}
.popup-wrapper {
  padding: @block-space *2;
}

// white box && container
.whitebox {
  border: 1px solid @gray-200;
  background-color: @white;
  //border-radius: @radius;
  padding: 1.2rem;

  &.no-border {
    border: none;
  }

  &.no-padding{
    padding: 0;
  }

  &.no-radius {
    border-radius: 0;
  }
}
.pad-l-20{ padding-left: @block-space; }
.w-25 { width: @container-width/4 - @block-space; }
.w-75 { width: @container-width/4 * 3; }
.w-50 { width: 50%; }

// title
.title {
  //margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.2;
  color: @gray-600;
}
h1, h2, h3, h4, h5, h6 {
  .title;
}
h3 {
  font-size: 1.2rem;
  font-weight: 300;
  color: @gray-600;
  border-bottom: 1px solid @gray-200;
  padding-bottom: .5rem;
}

// sidebar
.sidebar {
  a.active {
    // pointer-events: none;
    background-image: linear-gradient(#a2cd3a, #86af23);
    color: @white !important;

    i {
      color: @white !important;
    }
  }
  a:hover {
    background-image: linear-gradient(#a2cd3a, #86af23);
    color: @white !important;
  }
}

.hidden {
  display: none;
}

.mat-form-field {
  font-family: @font-family-base !important;
}


.text-right{
  text-align: right;
}

.text-left{
  text-align: left;
}

.justify-content-start{
  justify-content: flex-start !important;
}
