// @import '_variables';

// widgets: 1. transaction list
.upay-table {
  margin-top: @block-space * 2;
  overflow-x: auto;

  table {
    width: 100%;
   // border: 1px solid @gray-200;
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
  }

  .ui-ui-table-heading, .ui-ui-table-row {
    border: 1px solid @gray-200;
  }

  tr{
    border: none;
  }

  td, th {
    padding: 10px;
    font-weight: 400;
    text-align: left;
    font-size: .9rem;


    &.hide-column-content {

      * {
        color: @gray-300;
        background: @gray-100;
        pointer-events: none;
      }
    }

    div{
      padding: 0;
    }

  }

  .ui-ui-table-heading {
    background: @purple;
    color: @white;
  }

  .ui-ui-table-row {
    background: @gray-100;
  }

  th {
    div {
      cursor: pointer;
      .flex;
      .center-top;

      i {
        font-size: .7rem;
        padding-left: @block-space/2;
      }
    }

    &:not(:first-child){
      border-left: 1px dashed @gray-300;
    }
  }

  td {
    background: @white;
    border: 1px solid @gray-200;

    div {
      width: 100%;
      .flex;
      .center-top;
      padding: 0 @block-space/2;

      img {
        width: 38px !important;
        border-radius: 50%;
        margin-right: @block-space/2;
      }
    }
    iu-ui-icon{
      display: block;
      width: 32px;
      height: 32px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background: #A0BD40;
      i{
        font-size: 1rem;
        line-height: 32px;
        color: #ffffff;
      }
    }
  }

  i {
    .flex;
    .center-left;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .iu-ui-print-selected {
    cursor: pointer;
    i {
      font-size: 1.5rem;
      padding: 5px 10px;
    }
  }

  .no-event {
    opacity: .5;
    pointer-events: none;
  }

  .error { color: @red; }
  .success { color: @primary; }
  .warning { color: @orange; }

  .error-bg { background: @red; }
  .success-bg { background: @primary; }
  .warning-bg { background: @orange; }
}

.upay-pagination {
  iu-ui-pagination {
    .center-left;
    margin-top: 40px
  }
}

.no-list {
  color: @red;
  text-align: center;
}

.upay-table-footer,
.total-values{
  background: @purpleLight;
  & > div{
    padding: @block-space;
    &:first-child{
      flex: .5;
    }
    &:last-child{
      flex: 1.5
    }
  }
}
