.tabs {
  .tab {
    min-width: @container-width/4;
    width: auto;
    line-height: 60px;
    margin-top: @block-space;
    position: relative;

    &:nth-of-type(4) {
      margin-right: 0;
    }
  }

  a {
    letter-spacing: 1px;
    font-size: .9rem;
  }

  a.active {
    pointer-events: none;
  }

  .notification {
    position: absolute;
    top: 15px;
    right: 25px;

    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: .7rem;
    background: @red;
    color: @white;
    z-index: 8;
    border-radius: 50%;
  }
}

.green-button-tabs {
  .tabs {
    .tab {
      margin-right: @block-space;
      margin-bottom: @block-space;
      min-width: 300px;
    }

    a {
      display: block;
      background: @white;
      color: @gray-400;
      border: 1px solid @gray-200;
      border-bottom: 2px solid @secondary;
      border-radius: @radius;
      position: relative;
      padding-left: 4rem;
      padding-right: 2rem;
      text-align: center;
      .transition;

      i {
        position: absolute;
        display: block;
        left: 1.5rem;
        top: 0;
        color: @secondary;
        font-size: 2.125rem;
        line-height: 60px;
        .transition;
      }

      &:hover, &.active {
        color: @white;
        background-image: linear-gradient(#a2cd3a, #86af23);
        .transition;

        i {
          color: @white;
          .transition;
        }
      }
    }
  }
}

.white-bg-tabs {
  .tabs {
    text-align: center;
    .tab{
      //margin-right: @block-space/2;
    }
    a {
      display: block;
      background: @gray-100;
      color: @gray-400;
      border: 1px solid transparent;
      position: relative;
      .transition;

      &:hover, &.active {
        background: @white;
        border: 1px solid @gray-200;
        border-bottom: 1px solid @white;
        color: @dark;
        .transition;
        font-weight: 600;
        &:after {
          content: '';
          width: 100%;
          height: 4px;
          background: @white;
          position: absolute;
          bottom: -4px;
          left: 0;
        }
      }

      &:hover{
        &:active{

        }
      }

      //&.active {
      //  &:after {
      //    content: '';
      //    width: 100%;
      //    height: 4px;
      //    background: @white;
      //    position: absolute;
      //    bottom: -4px;
      //    left: 0;
      //  }
      //}
    }
  }
}

.border-bottom-tabs {
  .tabs {
    text-align: center;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 1px;
      border-bottom: 1px solid @gray-300;
      width: 100%;
    }

    .tab {
      min-width: @container-width/6;
      line-height: 40px;
      margin-right: 0;
      margin-top: @block-space / 2;
    }

    a {
      display: block;
      // background: @gray-100;
      color: @gray-400;
      border-bottom: 2px solid transparent;
      position: relative;
      .transition;

      &:hover, &.active {
        //background: @white;
        // border: 1px solid @gray-200;
        .transition;
        border-bottom: 3px solid @blue;
      }
      &.active{
        font-weight: 600;
      }
    }
  }
}

