app-operator-pay-terminal {
  .go-back {
    button{
      .flex;
      .center-top;
      background: none;
      border: none;
      color: @gray-500;
      // font-size: 1.2rem;
      // width: 40px;
      // line-height: 40px;
      text-align: center;
      border-radius: 50%;
      .transition;

      i {
        font-size: 1.2rem;
        margin-right:5px;
      }

      &:hover {
        color: @primary;
      }
    }

  }

  //
  .service-provider-item {
    .service-provider-item-block {
      border-bottom: 1px solid @gray-200;
      padding: 1.5rem 1rem 1rem;

      &:last-of-type {
        border-bottom: none;
      }
    }

    .service-provider-item-title {
      padding-top: 0;

      .back {
        i {
          color: @gray-400;
        }
      }
      .title {
        font-weight: 900;

        i {
          color: #a2cd3a;
          font-size: 1.8rem;
          border-radius: 50%;
          box-shadow: 0 1px 4px #d1d1d1;
          padding: 1rem;
          margin: 0 1rem 0 3rem;
        }
      }
    }

    .service-provider-item-search {
      p {
        margin-bottom: @block-space;
      }

      .wrapper {
        margin-right: @block-space;
      }

      .iu-ui-select-header {
        width: 200px;
      }

      input {
        margin-right: @block-space;
        width: 100%;
        padding: 0.75rem;
        border: 1px solid #d8d9da;
        color: #7d7d7d;
        //border-radius: @radius;
      }

      button {
        .btn;
        .btn-large;
        .btn-green;
        .btn-rounded;
      }
    }

    .info-title-text {
      margin-top: @block-space;
      margin-left: @block-space;
      font-size: 1.1rem;
    }

    .info-description-text {
      margin-top: @block-space;
      margin-left: @block-space;
      font-size: .85rem;
    }

    .debt-type-select {
      button {
        .btn;
        .btn-rounded;
        .btn-green;
      }
    }
  }
  // terminal :: service debt
  .provider-info-group {
    padding: 1rem;

    &.customer {
      background: @purpleLight;
    }

    &.prevDebt {
      background: @gray-100;
    }
  }

  .field-info {
    .flex;
    .space-between;
    padding: 0.5rem 0;

    .value {
      font-weight: 900;
    }

    &.info {
      color: @blue;
    }

    &.error {
      color: @red;
    }
  }

  .cta {
    padding: 2rem 1rem 1rem;
    border-top: 1px solid #d8d9da;
    margin-top: 10px;
    input {
      width: 250px;
      line-height: 30px;
      padding: 5px 3px;
      border: 1px solid #d8d9da;
      color: #7d7d7d;
      height: 30px;
      margin-right: 1.5rem !important;
    }

    button {
      .btn;
      .btn-green;
      .btn-large;
      .btn-rounded;

      .flex;
      .center-top;
      justify-content: center;
    }

    i {
      font-size: 2rem;
      margin-right: 5px;
    }
  }

  .provider-info .cta{
    background-color: #efeff3;
  }

  .commission, .error {
    font-size: .7rem;
    padding: 2px 0;
  }

  .error {
    color: @red;
  }

  .amount{
    .error-block{
      min-height: 30px;
      .error{

      }
    }
  }

  .commission {
    color: @gray-500;
    margin-top: 10px;

    b {
      margin-right: 10px;
    }
  }
}
