<div class="iu-ui-wildcard-search-wrap">
  <div class="iu-ui-wildcard-search">
    <iu-ui-input type="text" [value]="model" [placeholder]="placeholder" (valueChange)="onChange($event)"></iu-ui-input>
    <div class="iu-ui-wildcard-search-results" [ngClass]="results.length > 0 ? 'vis' : ''">
      <div *ngFor="let r of results; let i = index" class="iu-ui-wildcard-search-result" (click)="onItemClick(i, r)">{{r}}</div>
    </div>
  </div>
</div>
