.iu-ui-wildcard-search {
  position: relative;
}

.iu-ui-wildcard-search-results {
  width: 100%;
  min-height: 200px;
  overflow: auto;
  border: 1px solid #e5e6e6;
  background: white;
  position: absolute;
  top: 100%;
  left: 0;

  opacity: 0;
  pointer-events: none;

  &.vis {
    opacity: 1;
    pointer-events: all;
    transition: all .3s ease-in-out;
  }
}

.iu-ui-wildcard-search-result{
  cursor: pointer;
  padding: 10px;
}

.searchBtn {
  &.opacity {
    opacity: .5;
    pointer-events: none;
  }
}
