<!--<mat-select placeholder="Favorite food" [(value)]="selectedLanguage">-->
  <!--<mat-option *ngFor="let lang of supportedLanguages" [value]="lang">-->
    <!--{{lang}}-->
  <!--</mat-option>-->
<!--</mat-select>-->

<iu-ui-select [options]="supportedLanguages"
              [placeholder]="selectedLanguage"
              (change)="onLanguageChange($event)">
</iu-ui-select>
