<div class="iu-ui-activity-data-list-item iu-ui-favorite-data-list-item">
  <!--todo create open close row-->
  <div class="iu-ui-activity-head iu-ui-favorite-head" (click)="onShowDetailsClick()">
    <div class="iu-ui-activity-head-left-block iu-ui-favorite-head-left-block">
      <!-- left icon -->
      <iu-ui-icon [type]="customerDebitPayData.icon"></iu-ui-icon>
      <div class="iu-ui-activity-head-text iu-ui-favorite-head-text">
        <span class="iu-ui-activity-head-title iu-ui-favorite-head-title"><iu-ui-text>{{customerDebitPayData.title}}</iu-ui-text></span>
      </div>
    </div>
    
    <div class="iu-ui-activity-head-right-block iu-ui-favorite-head-right-block">
      <!-- toggle icon -->
      <iu-ui-icon [type]="toggleIconClass"></iu-ui-icon>
    </div>
  </div>

  <div class="iu-ui-activity-body iu-ui-favorite-body" *ngIf="isDetailsOpen">
    <iu-ui-customer-debit-pay-form
      [iconClassName_new]="iconClassName_new"
      [iconClassName_fav]="iconClassName_fav"
      [iconClassName_recurrent]="iconClassName_recurrent"
      
      [customerDebitPayData]="customerDebitPayData"
      [paymentCards]="paymentCards"
      [paymentListText]="paymentListText"
      [amountText]="amountText"
      [commissionText]="commissionText"
      [withCommissionText]="withCommissionText"
      [payText]="payText"
      [addNewCardText]="addNewCardText"
      [favoriteText]="favoriteText"
      [recurrentText]="recurrentText"
      (addNewCardClick)="onAddNewCardClick($event)"
      (payClick)="onPayClick($event)"
      (favoriteClick)="onFavoriteClick($event)"
      (recurrentClick)="onRecurrentClick($event)">
  
    </iu-ui-customer-debit-pay-form>
  </div>
</div>
