<div class="claim-details claim-type-selected">
  <app-claim-card [claimSearchResult]="searchResult"
                  [hasGoBack]="true"
                  [goBackPath]="goBackPath"
                  [goBackText]="goBackText | translate">
  </app-claim-card>
  
  <upay-claim-by-operator-description [claimDescriptionData]="claimDescriptionData"
                          reasonTitle="pages.support.fault"
                          documentsTitle="pages.support.attachments"
                          examinationNotesTitle="pages.support.examinationNotes"
                          noteHistoryDate="pages.support.noteHistoryDate"
                          noteHistoryUsername="pages.support.noteHistoryUsername"
                          noteHistoryStatus="pages.support.noteHistoryStatus"
                          noteHistoryComment="pages.support.noteHistoryComment"
                          cancellationTypeTranslationPrefix="widgets.claim."
                          newNotesTitle="pages.support.notes"
                          newNotesPlaceholder="pages.support.notes"
                          [allowNewNotes]="false"
                          (notesInput)="addNotes($event)"
                          (actionClick)="onActionClick($event)">
  </upay-claim-by-operator-description>
</div>
