<!--transaction details-->
<div class="open-claim claim-type-selected whitebox">
  <app-claim-card [claimSearchResult]="searchResult"
                  [hasGoBack]="true"
                  [goBackPath]="goBackPath"
                  [goBackText]="goBackText | translate">
  </app-claim-card>

  <!-- claim type-->
  <div class="claim-by-operator whitebox no-border no-padding">
    <div class="claim-block options">
      <h3>{{'pages.support.fault' | translate}}</h3>
      <iu-ui-radio-button [options]="options"
                          (selectOption)="onSelectClaimType($event)">
      </iu-ui-radio-button>
    </div>

    <div class="claim-block notes">
      <h3>{{'pages.support.notes' | translate}}</h3>
      <div class="flex col">
      <textarea placeholder="{{'pages.support.notes' | translate}}"
                [value]="notes"
                (input)="updateNotes($event)">
      </textarea>
        <p class="operator text-right">{{'pages.support.applyOperator' | translate}} {{currentOperator}}</p>
      </div>
    </div>

    <div class="claim-block cta">
      <iu-ui-button [text]="'buttons.openCancelationClaim' | translate" (click)="openClaim()"></iu-ui-button>
    </div>
  </div>
</div>

