<!--<div *ngIf="providerInvoiceData">-->
  <!--<div class="company">-->
    <!--<div>-->
      <!--<div>{{companyData.companyName}}</div>-->
      <!--<div>{{companyData.companyTin}}</div>-->
      <!--<div *ngIf="providerInvoiceData.branchPrintData">-->
        <!--<div *ngFor="let branchData of providerInvoiceData.branchPrintData">-->
          <!--<span>{{branchData.displayText}}</span>-->
          <!--<span>{{branchData.value}}</span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="logo">-->
      <!--<img src="shared-assets/img/logo.svg" alt="logo">-->
    <!--</div>-->
  <!--</div>-->
  <!---->
  <!---->
  <!--<div *ngFor="let groupData of providerInvoiceData.printData">-->
    <!--<div class="invoice-data"-->
         <!--*ngFor="let field of groupData.fieldsData">-->
      <!--<span>{{field.displayText | translate}}</span>-->
      <!--<span>{{field.value}}</span>-->
    <!--</div>-->
    <!---->
    <!--<hr *ngIf="groupData.hasBr">-->
  <!--</div>-->

<!--</div>-->

<div [innerHTML]="providerInvoiceHtml"></div>


