<div class="page-wrapper">
  <div class="app-container">
    <app-report-details></app-report-details>
    <!--todo bacel comentac codey u jnjel app-report-details componenty erb haskanam, inchi a aybenakan sortavorum anum business-card componenty-->
    <!--<app-report-card  [reportSearchResult]="reportSearchResult"-->
                      <!--[hasGoBack]="true"-->
                      <!--[goBackPath]="goBackPath">-->
    <!--</app-report-card>-->
    <upay-business-data-table [columnsConfig]="columnsConfig"
                              [dataSource]="dataSource"
                              [hasFilter]="false">
    </upay-business-data-table>
  </div>
</div>
