@import '_variables';

:host ::ng-deep {
  .error {
    margin: 10px 20px;
    text-align: center;
    padding: 7px 0;
    border: 1px solid #E11F3A;
    background: #f8e4e7;
    color: @red;
  }
}
