<div class="app-basket flex space-between">
  <div class="whitebox w-75 left-block">
  <div class="error alert-box" *ngIf="getTotalAmount() >= 400000">{{'error.askForDocuments'| translate}}</div>

    <div [ngClass]="!items.length ? 'empty' : ''">
      <app-editable-data-list [topHeader]="topHeader"
                              [columns]="columns"
                              [dataSource]="items"
                              [isCheckedAll]="isCheckedAll"
                              (headerActionClick)="headerActionClick($event)"
                              (tableActionClick)="tableActionClick($event)"
                              (editRowClick)="editRow($event)">
      </app-editable-data-list>
    </div>

    <div *ngIf="items.length == 0" class="empty-basket">
      <h2>{{'widgets.basket.text.basket_is_empty' | translate}}</h2>
      <iu-ui-link [text]="'widgets.basket.text.make_transaction' | translate" link="/operator/transactions/terminal"></iu-ui-link>
    </div>
  </div>
  <div class="whitebox w-25 right-block flex col" [ngClass]="!items.length ? 'empty' : ''">
      <!--<div class="purple-bg"> <p *ngIf="items">{{'widgets.basket.text.selected' | translate}} {{getSelectedContracts().length}}</p></div>-->
      <div><p class="flex space-between total">{{'widgets.basket.text.total' | translate}} <span *ngIf="items">{{splitNumberWithLumas(getTotalAmount(), ' ')}}</span></p></div>
      <div>
        <upay-armenian-phone-picker label="Կոնտակտ"
                                    (valueChange)="onPhoneNumberChange($event)">
        </upay-armenian-phone-picker>
      </div>
      <div class="cash-none-cash" *ngIf="allowPosTerminal">
        <input type="checkbox" id="cash-none-cash" (change)="onPosPaySelect()">
        <label for="cash-none-cash">Անկանխիկ</label>
      </div>
      <div *ngIf="isPosSelect">
        <p class="flex space-between">
          <span>Անդորագիր</span>
          <input (input)="onChangePosCheckNumber($event)">
        </p>
      </div>
      <div *ngIf="!isPosSelect">
        <p class="flex space-between">
          <span>{{'widgets.basket.text.payed' | translate}}</span>
          <input type="number" [(ngModel)]="inAmount" (input)="calcDiff()">
        </p>
      </div>
      <div *ngIf="!isPosSelect">
        <p class="flex space-between">
          {{'widgets.basket.text.diff' | translate}}
          <span *ngIf="diff">{{splitNumberWithLumas(diff, ' ')}}</span>
        </p>
      </div>
      <div><p class="flex center-left"><iu-ui-button [text]="'widgets.basket.text.pay' | translate" (click)="onPayClick()"></iu-ui-button></p></div>
      <div><p class="flex center-left"><iu-ui-button [text]="'widgets.basket.text.group' | translate" (click)="onAddToGroup()"></iu-ui-button></p></div>
  </div>
</div>




