<div class="l-pagination">

  <lavash-icon class="force-start-page"
              [iconClassName]="forceStartPageIcon || 'icon-previous2'"
              (click)="onPageChange(1)">
  </lavash-icon>
  <lavash-icon class="previous"
              [iconClassName]="previousIcon || 'icon-chevron-left'"
              (click)="onPageChange(currentPage === 1 ? paginationButtonList.length : currentPage - 1)">
  </lavash-icon>


  <div class="l-pagination-list" *ngIf="renderPaginationButtonsCount > 0">
    <i *ngIf="renderPaginationButtonsCount < paginationButtonList.length">...</i>
    <ng-container *ngFor="let page of paginationButtonList">
      <lavash-button *ngIf="page >= this.buttonsMin && page <= this.buttonsMax"
                    [text]="page"
                    (clickEvent)="onPageChange(page)"
                    class="l-pagination-i"
                    [ngClass]="page === currentPage ? 'no-event' : ''">
      </lavash-button>
    </ng-container>
    <i *ngIf="renderPaginationButtonsCount < paginationButtonList.length">...</i>
  </div>


  <lavash-icon class="next"
              [iconClassName]="nextIcon || 'icon-chevron-right'"
              (click)="onPageChange(currentPage === paginationButtonList.length ? 1 : currentPage + 1)">
  </lavash-icon>
  <lavash-icon class="force-end-page"
              [iconClassName]="forceEndPageIcon || 'icon-next2'"
              (click)="onPageChange(paginationButtonList.length)">
  </lavash-icon>
</div>
