@import '../../../assets/less/variables.less';
@import '../../../assets/icomoon/style.css';

button {
  height: 30px;
  border-radius: @border-radius;
  padding: 0 @padding_sm;

  background: @blue;
  color: @white;
  border:1px solid @blue;
  cursor: pointer;
  .transition;

  &:hover {
    opacity: .8;
  }
}

