.iu-ui-date-interval{
  display: flex;
  justify-content: space-between;
  iu-ui-date-picker{
    &:first-child{
      margin-right: 7.5px;
    }
    &:last-child{
      margin-left: 7.5px;
    }
  }
}
