
<div class="iu-ui-date-interval">
  <iu-ui-date-picker [value]="this.defaultInterval.from"
                     [placeholder]="fromPlaceholder"
                     (valueChange)="onFromDateChange($event)">
  </iu-ui-date-picker>
  
  <iu-ui-date-picker [value]="this.defaultInterval.to"
                     [placeholder]="toPlaceholder"
                     (valueChange)="onToDateChange($event)">
  </iu-ui-date-picker>
</div>
