<div *ngFor="let d of dynamicMultiDebtData" (click)="onSelectDynamicDebtType(d)">
  <iu-ui-button [text]="d.displayText + '' | translate"
                class="debt-type-select">
  </iu-ui-button>
</div>
