<div class="info-banner-wrapper">
  <div class="info-banner-content">
    <div class="info-banner-title">{{title}}</div>
    <div class="info-banner-items">
      <div class="info-banner-item" *ngFor="let i of items">
        <p class="order" *ngIf="i.order">{{i.order}}</p>
        <iu-ui-icon *ngIf="i.icon" [type]="i.icon"></iu-ui-icon>
        <p class="title">{{i.title}}</p>
        <p class="decsription">{{i.decsription}}</p>
      </div>
    </div>
  </div>
  <div class="info-banner-img">
    <iu-ui-img [src]="src" [alt]="alt"></iu-ui-img>
  </div>
</div>
