<div class="upay-filter" *ngIf="hasFilter">
  <upay-business-data-filter (search)="onFilterData($event)"
                            [hasAmountIntervalFilter]="hasAmountIntervalFilter"
                            [hasDateIntervalFilter]="hasDateIntervalFilter"
                            [activeFilters]="activeFilters"
                            [hasResetButton]="hasResetButton">
  </upay-business-data-filter>
</div>

<div *ngIf="hasExportExcel"
     class="filter-result-info whitebox no-border flex center-top">
  <p class="float-right flex center-top">
    {{ downloadExelText | translate }}
    <i class="icon icon_xls" (click)="onDownloadExcel()">
    </i>
  </p>
</div>


<div class="upay-table">
  <iu-ui-data-table [columnsConfig]="columnsConfig"
                    [tableData]="dataSource"
                    (sort)="sortData($event)"
                    (actionClick)="actionClick($event)"
                    asc_icon="icon_arrow-down"
                    desc_icon="icon_arrow-up">
  </iu-ui-data-table>
</div>

<div *ngIf="footerDataSource"
     class="upay-table-footer flex space-between">
  <div>
    {{ footerLabelText | translate }}`
  </div>
  <div class="flex space-around">
    <div *ngFor="let footerData of footerDataSource">
      {{ footerData.label | translate }}: {{ footerData.value }}
    </div>
  </div>
</div>

<!--(selectItem)="onSelectItem($event)"-->
<!--(sortOrprintSelected)="onSortOrprintSelected($event)"-->

<div class="upay-pagination">
  <iu-ui-pagination *ngIf="totalItems > pageSize"
                    [itemsPerPage]="pageSize"
                    [maxSize]="5"
                    [rotate]="false"
                    [totalItems]="totalItems"
                    (pageChange)="pageChange($event)">
  </iu-ui-pagination>
</div>
