/* You can add global styles to this file, and also import other style files */

@import "_variables";
@import "reset-init";

@import "popup";
@import "tabs";
@import "table";
@import "header";
@import "terminal";


//@import "assets/less/_variables";

//*{
//  margin: 0;
//  padding: 0;
//  box-sizing: border-box;
//}
//
//li { list-style: none; }
//button { cursor: pointer; }
//
//body {
//  font-size: 16px;
//  font-family: @font-family-base;
//  font-weight: 400;
//  line-height: 1.5;
//  color: @gray-400;
//}
//
//.app-container {
//  max-width: @container-width;
//  height: 100%;
//  margin: 0 auto;
//}
//.page-wrapper {
//  padding-top: 80px;
//  min-height: 100vh;
//}
//
//.popup-wrapper {
//  padding: @block-space *2;
//}
//
//button:focus, input:focus {
//  outline: none;
//}
//
//.w-25 { width: @container-width/4 - @block-space; }
//
//.w-75 { width: @container-width/4 * 3; }
//
//.w-50 { width: 50%; }
//
//h1, h2, h3, h4, h5, h6 {
//  .title;
//}
//
//h3 {
//  font-size: 1.2rem;
//  font-weight: 300;
//  color: @gray-600;
//  border-bottom: 1px solid @gray-200;
//  padding-bottom: .5rem;
//}



@import "assets/less/activity-and-favorites";
@import "assets/less/popup";
@import "assets/less/info-banner";





