@import '../../../assets/less/_vars';

:host ::ng-deep {
  .l-img-container {
    .info {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      text-align: right;
    }
  }
}


