<div class="l-field-wrapper">
  <div class="l-field-label"
       *ngIf="field.label">
       {{field.label}}
  </div>
  <div class="l-field" [ngSwitch]="field.component">
    <lavash-input *ngSwitchCase="'input' || undefined"
                  [type]="field.descriptors.type || 'text'"
                  [value]="fieldDataObject[field.name]"
                  [placeholder]="field.descriptors.placeholder || ''"
                  [placeholderType]="field.descriptors.placeholderType || 'hidden'"
                  [readonly]="field.descriptors.readonly || false"
                  [noInput]="field.descriptors.noInput || false"
                  [noClearEvent]="field.descriptors.noClearEvent || false"
                  (inputEvent)="onTypedDataChange($event)">
    </lavash-input>

    <lavash-textarea *ngSwitchCase="'textarea' || undefined"
                  [placeholder]="field.descriptors.placeholder || ''"
                  [value]="fieldDataObject[field.name]"
                  [placeholderType]="field.descriptors.placeholderType || 'hidden'"
                  [noClearEvent]="field.descriptors.noClearEvent || false"
                  (inputEvent)="onTypedDataChange($event)">
    </lavash-textarea>

  </div>
  <div class="l-field-error"
       *ngIf="field.hasError">
    <lavash-msg [message]="field.errorMessage || 'Field has error'">
    </lavash-msg>
  </div>
</div>
