<div  *ngIf="!isSignUpActivationCodeSent" class="popup-wrapper signUp-popup">
  <div class="flex col">
    <div class="flex center-left center-top logo">
      <iu-ui-img src="assets/img/logo.svg" alt="UPay-logo">
      </iu-ui-img>
    </div>

    <div class="flex col form">
      <iu-ui-input placeholder="phone number"
                   (valueChange)="onPhoneNumberChange($event)">
      </iu-ui-input>

      <iu-ui-input placeholder="password"
                   (valueChange)="onPasswordChange($event)">
      </iu-ui-input>

    </div>

    <div class="cta-btn">
      <iu-ui-button (click)="onSignUp()"
                    text="Sign up">
      </iu-ui-button>
    </div>

    <div class="flex center-left center-top extra">
      <iu-ui-text>
        Do u have an account?
      </iu-ui-text>
      <iu-ui-button text="Sign In"
                    (click)="openPopup('login')">
      </iu-ui-button>
    </div>
  </div>
</div>

<div *ngIf="isSignUpActivationCodeSent" class="popup-wrapper signUp-popup" >
  <div class="flex col" >
    <div class="flex center-left center-top">
      <span>Type In Your Code</span>
      <span>We sent special 6-digital security code to your mobile {{phoneNumber}}</span>
    </div>

    <div class="flex col form">
      <iu-ui-input placeholder="code"
                   (valueChange)="onCodeChange($event)">
      </iu-ui-input>
    </div>

    <div class="cta-btn">
      <iu-ui-button (click)="onConfirmCode()"
                    text="confirm">
      </iu-ui-button>
    </div>

    <div class="flex center-left center-top extra">
      <iu-ui-button text="resend code"
                    (click)="onResendCode()">
      </iu-ui-button>
    </div>
  </div>
</div>
