.app-basket, app-group {
  margin-top: @block-space;

  .w-75 {
    padding: 0;
  }

  .right-block {
    padding: 0;

    input {
      padding: 2px;
      width: 50%;
      text-align: right;
      border: 1px solid @purple;
    }

    div {
      border-bottom: 1px solid @gray-200;

      p {
        padding: @block-space;

        &.total {
          background: @gray-100;
        }
      }

      &.purple-bg {
        background: @purple;
        color: @white;
      }

      &.cta-btns {
        border-bottom: none;
      }
    }

    button {
      .btn;
      .btn-green;
      .btn-large;
      margin-left: 15px;
      margin-bottom: 10px;
    }

    upay-armenian-phone-picker{
      display: block;
      padding: 0 20px 10px;
      & > div{
        border-bottom: none;
        &.title-num{
        }
        &.select-with-input{
          iu-ui-autocomplete{
            & > div{
              border-bottom: none;
              width: 75%;
            }
            .iu-ui-autocomplete-container{
              .selected-option{
                .toggler{
                }
              }
            }
          }
          iu-ui-input{
            & > div{
              border-bottom: none;
            }
            input{
              width: 100%;
            }
          }
        }
        &.error-message{

        }
      }
      .select-with-input{
      }
    }
  }

  button {
    .btn;
    .btn-rounded;
    margin: 0 2px;
    padding: .375rem .5rem;
  }

  input {
    width: 100%;
  }

  .empty-basket {
    padding: 40px 0;
    .flex;
    .col;
    text-align: center;

    a {
      .btn;
      .btn-green;
      .btn-rounded;
      .btn-large;
      margin: 10px auto;
      display: inline-block;
    }
  }

  .empty {
    opacity: .5;
    pointer-events: none;
  }
}

.app-basket {
  .basket-error {
    .error-message {
      color: red;
    }
  }
  .edit-amount {
    input.errorInput {
      border: 1px solid @red !important;
    }
  }

  .cash-none-cash{
    padding: @block-space;
    label{
      position: relative;
      padding-right: 40px;
      display: block;
      cursor: pointer;
      &:before{
        content: '';
        position: absolute;
        top: 1px;
        right: 0;
        width: 20px;
        height: 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #9393b6;
      }
      &:after{
        display: none;
        content: '\2713';
        line-height: 100%;
        position: absolute;
        top: 2px;
        right: 2px;
        color: #86af23;
        font-size: 1.2rem;
        font-weight: 900;
      }
    }
    input[type='checkbox'] {
      display: none;
    }
    input[type='checkbox']:checked + label{
      &:after{
        display: block;
      }
    }
  }
}

.app-group {
  // search
  .search-block {
    background: @white;
    padding: @block-space;
    margin-bottom:@block-space;
    border: 1px solid @gray-200;
    .search-field-and-btn{
      width: 60%;
      align-self: start;
      upay-armenian-phone-picker{
        min-width: 250px;
        max-width: 100%;
      }
      .search-btn{
        margin-left: 40px;
      }
    }
    .search-results{
      .search-result{
        margin-top: @block-space;
        max-width: 285px;
        padding: @block-space/2;
        background: #ffffff;
        cursor: pointer;
        .transition;
        &:hover{
          color: @green;
        }
      }
    }
    .format-mention {
      width: 100%;
      font-size: .8rem;
      padding-top: 10px;
    }

    button {
      .btn;
      .btn-transparent;
      .btn-rounded;
      margin: 0 2px;
    }

    .iu-ui-wildcard-search-wrap {
      .flex;
      .center-top;
    }

    iu-ui-wildcard-search {
      width: 100%;
    }

    .iu-ui-wildcard-search {
      width: 100%;
      margin-right: @block-space;
    }

    input {
      border: 1px solid @gray-200;
      width: 100%;
      line-height: 40px;
      padding: 0 10px;
    }
  }

  .debt {
    padding: 20px;

    b {
      color: @red;
    }
  }
}



