//// filter
//.upay-filter {
//  .filters {
//    .flex;
//    .center-top;
//    margin-bottom: 20px;
//
//    .filter {
//      .flex;
//      .col;
//      .space-between;
//      width: 100%;
//      padding: 0 20px ;
//      border-right: 1px solid @gray-200;
//
//      &:last-child {
//        border: none;
//      }
//
//      &.cta {
//        iu-ui-button {
//          button {
//            .btn;
//            .btn-green;
//            .btn-rounded;
//            .btn-large;
//          }
//
//          &.reset {
//            margin: 0 0 20px 0;
//            button {
//              .btn-transparent;
//            }
//          }
//        }
//      }
//
//      iu-ui-select {
//        width: 100%;
//      }
//
//      iu-ui-input {
//        width: 100%;
//      }
//
//      upay-cashbox-autocomplete,
//      upay-operator-autocomplete,
//      upay-provider-autocomplete,
//      upay-branch-autocomplete,
//      iu-ui-autocomplete{
//        width: 100%;
//      }
//
//      .iu-ui-input-wrapper{
//        input {
//          width: 100%;
//          padding: 0.75rem;
//          border: 1px solid @gray-200;
//          color: @gray-400;
//          //border-radius: @radius;
//        }
//      }
//    }
//
//    .criteria-wraper {
//      &:first-child {
//        margin-bottom: 20px;
//      }
//    }
//
//    .criteria {
//      .flex;
//      .center-top;
//
//      .spliter {
//        padding: 0 5px;
//      }
//    }
//
//    .opacity {
//      opacity: 0;
//    }
//  }
//
//
//  &.support {
//    .filters {
//      .filter {
//        flex-direction: row;
//        .center-top;
//        border-right: none;
//      }
//
//      .criteria-wraper {
//        margin-bottom: 0;
//      }
//    }
//  }
//}
