.header {
  iu-ui-navigation {
    height: 100%;

    nav {
      .flex;
      height: 100%;
    }

    .iu-ui-ul {
      .flex;

      iu-ui-navigation-item {
        .iu-ui-li {
          height: 100%;

          .iu-ui-a {
            .flex;
            .center-top;
            height: 100%;
            padding: 0 1rem;
            color: @dark;
            background: @white;
            font-size: .9rem;
            border-bottom: 5px solid transparent;
            .transition;

            &:hover, &.active {
              border-bottom: 5px solid @primary;
              .transition;
            }

            &.active {
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}
