@import '../../../assets/less/variables.less';

.l-tooltip-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.l-tooltip {
  opacity: 0;
  width: auto;
  height: 30px;
  padding: @padding_sm;
  text-align: center;
  position: fixed;

  //opacity: 0;
  pointer-events: none;
  .transition_fast;

  &.l-visible {
    opacity: 1;
    //pointer-events: all;
  }
}