<div class="l-tooltip-container"
     #containerEl
     (mouseenter)="onmMuseenter($event, containerEl, tooltipEl)"
     (mouseleave)="onMouseleave($event)">
    <ng-content></ng-content>
</div>

<div class="l-tooltip"
     [ngClass]="_tooltipVisibility ? 'l-visible' : ''"
     [ngStyle]="{'top.px': _tooltipTop, 'left.px': _tooltipLeft, 'width.px': _tooltipWidth}"
     #tooltipEl>
    <!--ng-content></ng-content>
    <lavash-icon></lavash-icon>
    <lavash-icon></lavash-icon-->
    {{text}}
</div>
