<lavash-event-container (mouseEvent)="onClickOutSideSelect($event)"
                 (keyboardEvent)="onUpAndDown($event)">
  <div class="l-select">
    <div class="l-selection">
      <lavash-input [placeholder]="selectionPlaceholder"
                    [value]="selectedOptionsRenderString ? selectedOptionsRenderString : null"
                    graphics="icon-chevron-down"
                    graphicsPosition="right"
                    [noInput]="true"
                    (deleteEvent)="onDeleteSelect($event)"
                    (focusEvent)="toggleSelect($event)"
                    (graphicClick)="toggleSelect($event)"
                    [ngClass]="optionsVisible ? 'visible' : ''">
      </lavash-input>
    </div>

    <div class="l-select-options" *ngIf="optionsVisible">
      <!--autocomplete : optional-->
      <lavash-input *ngIf="hasAutocomplete"
                    class="autocomplete-input"
                    [placeholder]="autocompletePlaceholder ? autocompletePlaceholder : 'Find option'"
                    placeholderType="top"
                    [value]="autocompleteValue ? autocompleteValue : null"
                    (deleteEvent)="onDeleteAutoSelect($event)"
                    (inputEvent)="onAutocomplete($event)">
      </lavash-input>

      <lavash-msg *ngIf="hasAutocomplete && autocompleteValue && !selectOptions.length"
                        [message]="autocompleteErrMsg">
      </lavash-msg>

      <!--option list : required-->
      <div *ngIf="!isMultiselect">
        <div class="l-option" *ngFor="let option of selectOptions"
             [ngClass]="option.selected ? 'l-option-selected' : option.hover ? 'l-option-hover' : ''"
             (click)="onSelectOption(option.key)">
          {{option.value}}
        </div>
      </div>

      <!--multiselect-->
      <div *ngIf="isMultiselect" class="multiselect">
        <lavash-checkbox-list [options]="selectOptions"
                              (selectOption)="onSelectCheckboxOption($event)">
        </lavash-checkbox-list>
      </div>
    </div>
  </div>
</lavash-event-container>

<!--demo
<lavash-select-autocomplete >

</lavash-select-autocomplete>

<lavash-select-autocomplete [hasAutocomplete]="true">

</lavash-select-autocomplete>

<lavash-select-autocomplete [hasAutocomplete]="true"
                            autocompletePlaceholder="Find your item">

</lavash-select-autocomplete>

<lavash-select-autocomplete [hasAutocomplete]="true"
                            autocompletePlaceholder="Find your item"
                            autocompleteIconClass="icon-user">

</lavash-select-autocomplete>

<lavash-select-autocomplete [hasAutocomplete]="true"
                            autocompletePlaceholder="Find your item"
                            autocompleteIconClass="icon-user"
                            [isMultiselect]="true">
</lavash-select-autocomplete -->