<div class="news-details">
  <iu-ui-action-card [imageUrl]="newsDetails.imageUrl"
                     [mainTitle]="newsDetails.title"
                     [title]="newsDetails.date | date"
                     [description]="newsDetails.description">
  </iu-ui-action-card>
</div>

<div class="news-list">
  <div class="header">
    նորություններ
  </div>

<app-news-top-list mode="smol"></app-news-top-list>


</div>
