@import "../../../assets/less/_variables";

:host ::ng-deep {

  .flex;

  .news-details {
    width: 59%;
    border-right: 2px solid #e9e9e9;
  }

  .iu-ui-card {
    .flex;
    .col;
    max-width: 628px;

  }

  .iu-ui-image {
    max-height: 45%;
  }

  .iu-ui-card-content {
    .flex;
    .col;
    flex: 1;
  }

  .iu-ui-card-main-title {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    color: @dark;
    margin-bottom: 20px;
  }

  .iu-ui-card-title {
    font-size: 1rem;
    font-weight: bold;
    color: @dark;
    margin-bottom: 35px;
    margin-top: 35px;
  }

  .header {
    border-bottom: 2px solid #c8df7e;
    text-transform: uppercase;
    color: @dark;
    font-size: 1.2rem;
    text-wrap: normal;
    width: fit-content;
  }

  .iu-ui-card-description {
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }

  .news-list {
    .flex;
    .col;
    width: 40%;
    padding-left: 20px;

    iu-ui-action-card {
      border-bottom: 2px solid #e4e4e4;
    }

    .iu-ui-card {
      .flex;
      .row;
      height: 5rem;
      margin: 20px 0 20px 0;
    }

    .iu-ui-image {
      max-width: 9rem;
    }

    .iu-ui-card-content {
      .flex;
      .col;
      flex: 1;
      padding-left: 1rem;
    }

    .iu-ui-card-title {
      font-size: 0.8rem;
      font-weight: bold;
      color: @dark;
      margin: unset;
    }

    .iu-ui-card-description {
      font-size: 0.8rem;
      font-weight: bold;
      color: black;
    }
  }

}
