*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host ::ng-deep {
  .l-asside-content-inner {
    padding: 20px;
  }

  .route-title {
    font-size: 2rem;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid lavenderblush;
  }
}

.l-accordion-description {

}