<div class="container flex center-top">
    <lavash-sidebar class="sidebar"
                    [showsidebar]="true"
                    sidebarPosition="top-left"
                    [hasAssideContent]="true"
                    openBtn="fix"
                    assideContentPosition="flex">

        <div *ngFor="let m of libStructure">
            <div class="l-accordion-container flex col">
                <div class="l-accordion-headline">
                    <lavash-icon class="l-accorion-icon l-left"></lavash-icon>
                    <div class="l-accordion-title">{{m.moduleName}} ({{m.moduleDirName}})</div>
                    <lavash-icon class="l-accorion-icon l-right"></lavash-icon>
                </div>

                <div class="l-accordion-description">
                    <div class="l-nested" *ngFor="let c of m.componentsMetadata">
                        <lavash-link [routingLink]="true"
                                     [href]="c.componentRoutePath"
                                     [text]="c.componentName">
                        </lavash-link>
                    </div>
                </div>
            </div>
        </div>

        <div aside class="content">
            <h1 class="route-title">{{title}}</h1>
            <router-outlet></router-outlet>
        </div>
    </lavash-sidebar>
</div>