@import '../../../assets/less/_vars';

:host ::ng-deep {
  .get-in-touch {
    padding: 10px 0;
    padding-top: 0;
    color: @white_ll;
    //font-family: 'Spartan', 'Philosopher', sans-serif;
    font-family: 'Philosopher', sans-serif;
    font-size: .7rem;


    i {
      color: @toxic;
      padding: 5px;
      opacity: .8;
      font-size: 1.2rem;
    }
  }
}
