@import '../../../assets/less/variables.less';

textarea {
  line-height: @height_sm;
  border-radius: @border-radius;
  padding: 0 @padding_sm;
  width: 100%;
  border: 1px solid @gray-bold;
}

textarea {
  resize: vertical;
}