@import '_variables';

:host ::ng-deep{
  .editable-data-list-container {
    .editable-data-list-header{
      .flex;
      .center-top;
      .space-between;

      background: @purple;
      padding: 15px;

      .header-components {
        flex: 1;

        &:last-child {
          span {
            display: block;
            width: 100%;
            text-align: right;
          }
        }

        i {
          font-size: 1.2rem;
          padding: 8px;
        }

        .descriptive-icon {
          font-size: 2rem;
          color: @white;
          padding-left: 0;
        }
      }

      .top-header-title, .top-header-value {
        font-weight: 500;
        letter-spacing: 1px;
        line-height: 1.2;
        color: @white;
      }

      .top-header-action {
        button {
          i {
            color: @white;
            &:hover {
              .transition;
              opacity: .8;
              text-shadow: 1px 1px 2px @gray-500;
            }
          }
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      font-size: .8rem;
      font-weight: 300;

      tr {
        border: 1px solid @gray-200;
      }

      thead {
        tr {
          text-align: center;
          background: @purpleLight;
        }

        th {
          padding: 15px 5px;
          border: 1px dashed @gray-200;
        }
      }

      tbody {
        tr {
          background: @gray-100;
          border: 1px solid @gray-300;
          position: relative;

          &:nth-child(odd) {
            background: @white;

            &:hover {
              .transition;
              background: darken(@gray-100, 3%);
              //background: @red;
              //color: @white;
            }
          }

          &:hover {
            .transition;
            background: darken(@gray-100, 3%);

            //background: @purple;
            //color: @white;
          }

          &.error {
            opacity: .4
          }

          &.no-event {
            pointer-events: none;
          }
        }

        td {
          padding: 10px 5px;
          text-align: center;
          border: 1px solid @gray-200;
        }

        .editable-column {
          .flex;
          .center-top;

          p {
            width: 100%;
            text-align: center;
          }

          p, input {
            margin-left: 5px;

            width: 150px;
            border: 1px solid @gray-300;
          }

          input {
            border: 1px solid @blue;
          }

          i {
            font-size: 1rem;
            margin: 5px;
            cursor: pointer;
            width: 40px;
            line-height: 30px;
            border-radius: 50%;
            // background: @secondary;
            border: 1px solid @gray-300;
            box-shadow: 1px 0 1px rgba(0,0,0,.2);
            // color: @white;
            .transition;

            &:hover {
              background: @gray-400;
              color: @white;
            }
          }
        }
      }

      //.error-tooltip {
      //  vertical-align: top;
      //  text-align: right;
      //  padding: 0;
      //  margin: 0;
      //}
    }
  }
}
