<div class="editable-data-list-container">
  <!--header-->
  <div class="editable-data-list-header">
    <div *ngFor="let i of topHeader"
         class="header-components flex center-top"
         [ngClass]="i.customClassName? i.customClassName : ''">
          <i *ngIf="i.icon"
             class="descriptive-icon icon"
             [ngClass]="i.icon">
          </i>
          <span *ngIf="i.title"
                class="top-header-title">
                {{ i.title | translate}}
          </span>
          <span *ngIf="i.value"
                class="top-header-value">
                {{ i.value | translate}}
          </span>
          
          <iu-ui-button-with-icon class="top-header-action"
                                  *ngIf="i.action"
                                  [text]="i.action.displayText ? i.action.displayText : ''"
                                  [iconClassName]="i.action.icon ? i.action.icon : ''"
                                  (click)="onHeaderActionClick(i.action)">
          </iu-ui-button-with-icon>
    </div>
  </div>
  <!-- list -->
  <div class="editable-data-list">
    <table>
      <thead>
        <tr>
          <th *ngFor="let i of columns">
            <iu-ui-checkbox *ngIf="i.columnType === 'checkbox'"
                            [isChecked]="isCheckedAll"
                            (changeState)="onCheckAll(i.columnHeaderAction, $event)">
            </iu-ui-checkbox>
            <p *ngIf="i.columnType === 'string' || 'editableString'">{{i.columnHeaderDisplayText | translate}}</p>
            <iu-ui-button-with-icon *ngIf="i.columnType === 'action'"
                                    [text]="i.columnHeaderAction.displayText ? i.columnHeaderAction.displayText : ''"
                                    [iconClassName]="i.columnHeaderAction.icon ? i.columnHeaderAction.icon : ''"
                                    (click)="onHeaderActionClick(i.columnHeaderAction, $event)">
            </iu-ui-button-with-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dataItem of dataSource, index as index"
            [ngClass]="dataItem?.customClassName">
          <td *ngFor="let column of columns">
            <iu-ui-checkbox *ngIf="column.columnType === 'checkbox'"
                            [isChecked]="dataItem.checked"
                            (changeState)="onCheckItem(column.columnComponentConfig, dataItem)">
                            <!--(changeState)="onTableActionClick(column.columnComponentConfig, dataItem)">-->
            </iu-ui-checkbox>
            <p *ngIf="column.columnType === 'string'">
              <span *ngFor="let value of getValue(column, dataItem)">{{value + '' | translate}}</span>
            </p>
            <div *ngIf="column.columnType === 'editableString'"
                 class="flex col">
              <div class="editable-column">
                <p *ngIf="!dataItem.editMode">{{dataItem[column.columnValue]}}</p>
                <input *ngIf="dataItem.editMode"
                       [type]="column.columnComponentConfig.type ? column.columnComponentConfig.type : 'text'"
                       [value]="dataItem[column.columnValue]"
                       (input)="onValueChange($event, dataItem, column.columnValue)"
                       (keydown)="onEnter($event, dataItem, index)"/>
                <i class="icon edit icon_edit"
                   [ngClass]="dataItem.editMode ? 'icon_checkbox-selected' : 'icon_edit'"
                   (click)="editRow(dataItem, index)">
                </i>
              </div>
              <div *ngIf="dataItem?.errorMessage" class="error-message">{{dataItem.errorMessage}}</div>
            </div>
            <iu-ui-button-with-icon *ngIf="column.columnType === 'action'"
                                    [text]="column.columnComponentConfig.displayText ? column.columnComponentConfig.displayText : ''"
                                    [iconClassName]="column.columnComponentConfig.icon ? column.columnComponentConfig.icon : ''"
                                    (click)="onTableActionClick(column.columnComponentConfig, dataItem)">
            </iu-ui-button-with-icon>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- END List -->
</div>




