.iu-ui-checkbox {
  width: 15px;
  height: 15px;
  border: 1px solid #b2b2b2;
  margin: 2px;
  border-radius: 3px;
  cursor: pointer;

  &.checked {
    position: relative;

    &:after {
      content: '\2713';
      width: 100%;
      line-height: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      color: #86af23;
      font-size: 1.2rem;
      font-weight: 900;
    }
  }
}
