<div class="claim-details whitebox no-padding" *ngIf="claimData">
  <div class="claim-block application">
    <h3>{{claimerTitle | translate}}</h3>
    <div class="form flex space-between">
      <div class="form-group" *ngFor="let group of customerDataConfig"
           [ngClass]="group.groupName">
        <div *ngFor="let field of group.fields"
             class="field flex center-top space-between">
          <span>{{field.label}}</span>
          <b>{{claimData[field.displayValueKey]}}</b>
        </div>
      </div>
    </div>
  </div>
  
  <div class="claim-block transaction">
    <h3>{{directionTitle | translate}}</h3>
    <p>{{claimData.direction}}</p>
  </div>
  
  <div class="claim-block notes-history" *ngIf="claimData.notes">
    <h3>{{examinationNotesTitle | translate}}</h3>
    <div class="note-history">
      <div *ngFor="let note of claimData.notes"
           class="note-history-item">
        <p>
          <span>{{noteHistoryDate | translate}}</span>
          <span>{{note.timestamp ? note.timestamp : '--'}}</span>
        </p>
        <p>
          <span>{{noteHistoryUsername | translate}}</span>
          <span>{{note.username ? note.username : '--'}}</span>
        </p>
        <p class="status" [ngClass]="note.status">
          <span>{{noteHistoryStatus | translate}}</span>
          <span>{{note.status ? ((cancellationTypeTranslationPrefix + note.status) | translate) : '--'}}</span>
        </p>
        <p>
          <span>{{noteHistoryComment | translate}}</span>
          <span>{{note.comment ? note.comment : '--'}}</span>
        </p>
      </div>
    </div>
  </div>
  
  <div class="claim-block attachments">
    <h3>{{attachmentsTitle | translate}}</h3>
    <div class="flex wrap pad-l-20">
      <div class="documents">
        <iu-ui-button  class="document"
          *ngFor="let file of files">
          <iu-ui-icon [type]="'icon_png'"></iu-ui-icon>
          <a download [href]="getFileLink(file.url)">
            {{file.name}}
          </a>
        </iu-ui-button>
      </div>
    </div>
  </div>
  
  <div class="claim-block notes" *ngIf="claimData.actions && claimData.actions.length">
    <h3>{{newNotesTitle | translate}}</h3>
    <textarea placeholder="{{newNotesPlaceholder | translate}}" (input)="addNotes($event)"></textarea>
  </div>
  
  <div class="claim-block cta" *ngIf="claimData.actions && claimData.actions.length">
    <div *ngFor="let action of claimData.actions" [ngClass]="action.customClass">
      <iu-ui-button [text]="action.name | translate" (click)="onActionClick(action)"></iu-ui-button>
    </div>
  </div>
</div>
