<div class="popup-wrapper">
  <div [innerHTML]="sanitized.bypassSecurityTrustHtml(printView)"></div>
  <div class="flex col">
    <div class="flex cta-btn">
        <div *ngIf="!data?.isComfirm">
          <span>
            <iu-ui-button text="Տպել" (click)="onPrintClick()"></iu-ui-button>
          </span>           
      </div>
      <div *ngIf="data?.isComfirm">
        <span *ngIf="printCta">
          <iu-ui-button text="Տպել" (click)="onPrintClick()"></iu-ui-button>
        </span>
        <span *ngIf="!printCta">
          <iu-ui-button *ngIf="data?.isComfirm" text="Հաստատել" (click)="onComfirmClick()"></iu-ui-button>
        </span>
       </div> 
    </div>
  </div>
</div> 
