@import '_variables';
.pay-block {
  font-size: .8rem;
  width:90%;
  padding: 10px 0;
  border-bottom: 1px solid @gray-200;
  &.total-block {
    margin-top: 20px;
    .total {
      margin-bottom: 5px;
    }
  }
}

:host ::ng-deep {
  img {
    max-width: 65px;
  }
}
