<!--transaction details-->
<div class="open-claim claim-type-selected whitebox">
  <app-claim-card [claimSearchResult]="searchResult"
                  [hasGoBack]="true"
                  [goBackPath]="goBackPath"
                  [goBackText]="goBackText | translate">
  </app-claim-card>

  <!-- claim type-->
  <div class="claim-by-customer whitebox no-border no-padding">
    <div class="claim-block application">
      <h3>{{'pages.support.claimer' | translate}}</h3>
      <div class="form flex space-between">
        <div class="form-group" *ngFor="let group of formConfig"
                                [ngClass]="group.groupName">
          <div *ngFor="let field of group.fields"
               class="flex center-top space-between">
            <span>{{field.label}}</span>
            
            <iu-ui-input *ngIf="field.component === 'input'"
                         [type]="field.type ? field.type : 'text'"
                         [hasErr]="field.hasErr ? field.hasErr : false"
                         [errMsg]="field.errorMsg ? field.errorMsg : 'error.fieldHasError'"
                         [required]="field.required"
                         (valueChange)="changeFormValue($event, field)">
            </iu-ui-input>
  
  
            <!-- datepicker-->
            <div *ngIf="field.component === 'datePicker'">
              <div>
                <iu-ui-date-picker
                  [placeholder]="field.label | translate"
                  (valueChange)="changeFormValue($event, field)">
                </iu-ui-date-picker>
                <div *ngIf="field?.hasErr" class="error">
                  {{(field.errorMsg | translate) || ('error.fieldHasError' | translate)}}
                </div>
              </div>
            </div>
            
            <!-- phone picker-->
            <div *ngIf="field.component === 'phonePicker'">
              <upay-armenian-phone-picker (valueChange)="changeFormValue($event, field)">
              </upay-armenian-phone-picker>
              <div *ngIf="field?.hasErr" class="error">
                {{'error.fieldHasError'  | translate}}
              </div>
            </div>

            
          </div>
        </div>
      </div>
    </div>

    <div class="claim-block transaction">
      <h3>{{'pages.support.direction' | translate}}</h3>
      <div class="inter-related-selectboxes">
        <app-provider-search-result-string (dynamicStringChange)="onDynamicStringChange($event)">
        </app-provider-search-result-string>
      </div>
      <div class="print-btn">
        <iu-ui-button-with-icon text="widgets.support.print"
                                (click)="printApplication()">
        </iu-ui-button-with-icon>
      </div>
    </div>

    <div class="claim-block notes">
      <h3>{{'pages.support.notes' | translate}}</h3>
      <div class="flex col">
        <textarea placeholder="{{'pages.support.notes' | translate}}"
                [value]="notes"
                (input)="updateNotes($event)">
      </textarea>
      </div>
    </div>

    <div class="claim-block attachments">
      <h3>{{'pages.support.attachments' | translate}}</h3>
      <div class="flex wrap pad-l-20">
        <div class="file-upload">
          <iu-ui-file-upload
            iconClassName="icon icon_attach"
            (fileUpload)="attachFile($event)"
            [text]="uploadBtnText | translate"
            [accept]="fileType"
            [acceptMultiple]="true">
          </iu-ui-file-upload>
        </div>
        <div class="documents flex wrap center-top" *ngIf="files.length">
          <iu-ui-button  class="document" *ngFor="let file of files">
            <iu-ui-icon [type]="'icon_png'"></iu-ui-icon>
            <a download [href]="getFileLink(file.url)">{{file.name}}</a>
            <!--<i class="delete icon icon_close1"></i>-->
          </iu-ui-button>
        </div>
      </div>
    </div>

    <div class="claim-block cta">
      <iu-ui-button [text]="'buttons.openCancelationClaim' | translate" (click)="openClaim()"></iu-ui-button>
    </div>
  </div>
</div>

