.iu-ui-flex {
  display: flex;

  &.wrap {
    flex-wrap: wrap;
  }

  &.col {
    flex-direction: column;
  }

  &.center-top {
    align-items: center;
  }

  &.center-left {
    justify-content: center;
  }

  &.right {
    justify-content: center;
  }
}
