<div class="upay-tabs">
  <iu-ui-navigation>
    <div class="flex tabs">
      <div class="tab" *ngFor="let tab of tabs">
        <span class="notification" *ngIf="tab.notification">{{tab.notification}}</span>
        <iu-ui-link-with-icon
          [link]="tab.dynamicPart ? tabPathPrefix + tab.link + tab.dynamicPart : tabPathPrefix + tab.link"
          [text]="translationprefix + tab.text | translate"
          [iconClassName]="tab.iconClass ? 'icon_' + tab.iconClass : ''">
        </iu-ui-link-with-icon>
      </div>
    </div>
  </iu-ui-navigation>
</div>
