<section class="bg flex">
  <div class="flex col space-around float-right contact">
    <div class="form flex col">
      <h1><i class="icon icon-send-o"></i>Get in touch</h1>
      <lavash-form-builder [fieldsConfig]="fieldsConfig"
                           submitBtnText="submit"
                           (submitEvent)="onSubmit($event)">
      </lavash-form-builder>
      <p>At a moment I have several photo project ideas and I am down to collaborate with whoever shares
        my vision on the subject of photography art. <br>
      </p>
      <app-social-links cta="So feel free to get in touch"></app-social-links>
      <p class="mail">Email: <span>lilit.hovhannisyan.armeni(@)gmail.com</span></p>
    </div>
  </div>
</section>
