:host{
  display: flex;
  flex-direction: row;
  flex: 1;
}

div{
  height: 30px;
  width: 30px;
  line-height: 30px;
  background: #F3F3F5;
  color: #3F4553;
  font-size: 12px;
  border: 1px solid #cccccc;
  margin-right: 2px;
  cursor: pointer;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
}

div:hover{
  background-color: rgba(152,188,42,0.49);
}

.pressed{
  background-color: #98bc2a;
  color: #fff;
}

.disabled{
  pointer-events:none;
  cursor:no-drop;
  color: #d4d4d4;
}
