<div (click)="moveToPage(MIN_PAGE)"        [class.disabled]="cursor == MIN_PAGE"><<</div>
<div (click)="moveCursor(-1)" [class.disabled]="!rotate && cursor == MIN_PAGE"><</div>
<div (click)="moveToPage(basePage)" *ngIf="cursor > maxSize && totalPages > maxSize">...</div>
<div *ngFor="let p of pageButtonList" (click)="paginate(p)" [class.pressed]="cursor === p">{{ p }}</div>
<div (click)="moveToPage(basePage + maxSize + 1)" *ngIf="basePage < (totalPages - maxSize )">...</div>
<div (click)="moveCursor(1)" [class.disabled]="!rotate && cursor > totalPages - 1">></div>
<div (click)="moveToPage(totalPages)"         [class.disabled]="cursor > totalPages - 1">>></div>
