<div class="l-radio-button-list">
  <div class="l-radio-button-option"
       *ngFor="let o of radioButtonOptions">
    <lavash-radio-button [option]="o"
                        (selectOption)="onSelectOption(o)">
    </lavash-radio-button>
  </div>
</div>
