@import '../../../assets/less/variables.less';
@import '../../../assets/icomoon/style.css';

:host {
  &[placeholdertype="label"] {
    .l-input-wrapper {
      margin-top: 15px;
    }
  }

  &::ng-deep {
    .l-input-wrapper {
      // width: @width_md;
      position: relative;
      margin-top: 8px;

      input, .readonly, .l-input-readonly {
        line-height: @height_sm;
        border-radius: @border-radius;
        padding: 0 @padding_sm;
        width: 100%;
        border: 1px solid @gray-bold;

      }

      .l-textarea {
        min-height: 70px;
      }

      .l-input-readonly {
        line-height: @height_sm;
        display: block;
        .text-overflow-ellipsis;
        color: @gray_placeholder;
        border: 1px solid @gray;
        padding-right: 3px;
      }

      .clear-field-btn {
        .error-text;
        position: absolute;
        top: 0;
        right: 0;
      }

      &.graphic-positioning-container {
        &.left, &.right {
          border: 1px solid @gray-bold;

          input, .readonly, .l-input-readonly {
            border: none;
          }
        }

        .l-placeholder {
          left: @height_sm;
        }

        &.right, &.outer-right {
          .l-placeholder {
            left: 0;
          }

          .clear-field-btn {
            right: @height_sm;
          }
        }
      }
    }

    .readonly {
      opacity: .7;
      .no-event;
    }

    .l-placeholder {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      color: @gray_placeholder;
      padding: 0 @padding_sm;
      .flex;
      .center-top;
      pointer-events: none;
      .transition;

      &.l-focused, &.l-value {
        &.hidden {
          opacity: 0;
          .no-event;
        }

        &.top, &.bottom {
          height: auto;
          background: @white;
          font-size: .3rem;
        }

        &.top {
          top: -3px;
        }

        &.bottom {
          top: unset;
          bottom: -3px;
        }

        &.label {
          font-size: .5rem;
          top: -22px;
          .transition;
        }
      }

      &.for_textarea {
        align-items: unset;
        padding: @padding_sm;
      }
    }
  }
}
