<div class="l-input-wrapper" [ngClass]="graphics ? 'graphic-positioning-container ' + graphicsPosition :
                             readonly ? 'readonly' : ''">

	<lavash-graphics [graphics]="graphics"
					 (graphicClick)="onGraphicClick($event)">
	</lavash-graphics>

	<lavash-text *ngIf="readonly"
				 class="l-input-readonly"
				 [text]="value || ''">
	</lavash-text>

	<input *ngIf="type !== 'textarea' && !readonly"
		   class="l-input"
		   [type]="type || 'text'"
		   [value]="value || ''"
		   [readonly]="noInput"
		   (input)="onInput($event)"
		   (focus)="onFocus($event)"
		   (keydown)="onKeyDown($event)"
		   (blur)="onBlur($event)"/>

	<textarea *ngIf="type === 'textarea'"
			  class="l-textarea"
			  [value]="value || ''"
			  (input)="onInput($event)"
			  (focus)="onFocus($event)"
			  (keydown)="onKeyDown($event)"
			  (blur)="onBlur($event)">
	</textarea>

	<lavash-text *ngIf="placeholder"
		         class="l-placeholder"
				 [ngClass]="[placeholderType, 'for_' + type,
				             focusIsOnInput ? 'l-focused' : value ? 'l-value' : '']"
	             [text]="placeholder">
	</lavash-text>


	<lavash-button *ngIf="value && !noClearEvent"
					className="no-background clear-field-btn no-padding"
					graphics="l-icon-times"
					(clickEvent)="onRemoveValue()">
	</lavash-button>
</div>