<div>Providers @@</div>
<div class="search">
  <iu-ui-input-with-icon placeholder="Search..." iconClassName="icon_search" >
  
  </iu-ui-input-with-icon>
</div>
<div class="service-providers">
  <div *ngFor="let p of providers" class="service-provider-item">
    <iu-ui-link-with-icon *ngIf="p.iconClass" [link]="getRoutLink(p.name)" [iconClassName]="p.iconClass" [text]="p.text"></iu-ui-link-with-icon>
    <iu-ui-link-with-icon *ngIf="p.logo" [link]="getRoutLink(p.name)" [src]="'assets/img/' + p.logo" [text]="p.text"></iu-ui-link-with-icon>
  </div>
</div>
