@import "../../../assets/less/_variables";


.service-providers {
  .flex;
  .wrap;
  .center-left;

  .service-provider-item {
    .flex;
    .col;
    .center-top;
    width: 20%;
    padding: 10px;
  }

}

:host ::ng-deep {
  .service-provider-item {
    a {
      display: block;
      max-height: 180px;
      color: @gray-400;
      padding: 1.5rem 2rem;
      text-align: center;
      border: 1px solid @gray-200;
      background: @white;
      border-radius: @radius;
      line-height: 50px;
      .transition;


      i, img {
        border-radius: 50%;
        box-shadow: 0 1px 4px #d1d1d1;
        padding: 1rem;
      }

      i {
        color: @primary;
        font-size: 1.875rem;
        .transition;
      }

      img {
        background: @white;
        display: block;
        width: 100%;
      }

      &:hover {
        color: @white;
        background: @secondary;

        i {
          color: @white;
        }
      }
    }
  }

  .search {
    width: 95%;
    margin: @block-space auto;

    .iu-ui-input-wrapper {
      position: relative;
    }

    input {
      display: block;
      width: 100%;

      background: @gray;
      height: 50px;
      font-size: 1.2rem;
      padding: 1rem;
      position: relative;
      border: 1px solid @gray-200;
      padding-left: 50px;
      color: @gray-400;
    }

    i {
      display: block;
      position: absolute;
      left: 1rem;
      top: 0;
      font-size: 24px;
      color: @gray-400;
      z-index: 1;
      line-height: 50px;
    }
  }

}
