<div class="claim-application-details">
  <upay-business-data-card [results]="claimSearchResult"
                           [noEvent]="true"
                           [hasGoBack]="true"
                           [goBackText]="goBackText | translate"
                           [goBackPath]="goBackPath">
  </upay-business-data-card>
  
  <upay-claim-by-operator-description [claimDescriptionData]="claimDescriptionData"
                                      reasonTitle="pages.claims.fault"
                                      documentsTitle="pages.claims.attachments"
                                      examinationNotesTitle="pages.claims.examinationNotes"
                                      noteHistoryDate="pages.claims.noteHistoryDate"
                                      noteHistoryUsername="pages.claims.noteHistoryUsername"
                                      noteHistoryStatus="pages.claims.noteHistoryStatus"
                                      noteHistoryComment="pages.claims.noteHistoryComment"
                                      cancellationTypeTranslationPrefix="pages.claims."
                                      newNotesTitle="pages.claims.notes"
                                      newNotesPlaceholder="pages.claims.notes"
                                      [allowNewNotes]="allowNewNotes"
                                      (notesInput)="addNotes($event)"
                                      (actionClick)="onActionClick($event)">
  </upay-claim-by-operator-description>
</div>
