@import '_variables';

:host ::ng-deep {
  .claim-application-details {
    .upay-business-data-card-results {
      background: red;
      .result.no-event:hover {
        background: @purpleLight;
      }
      .label-message{
        top: -40px;
      }
    }
  }
}
