<!--<mat-select placeholder="Favorite food" [(value)]="selectedLanguage">-->
  <!--<mat-option *ngFor="let lang of supportedLanguages" [value]="lang">-->
    <!--{{lang}}-->
  <!--</mat-option>-->
<!--</mat-select>-->

<!--<iu-ui-select [options]="supportedLanguages"-->
              <!--[defaultValue]="selectedLanguage"-->
              <!--(change)="onLanguageChange($event)">-->

<!--</iu-ui-select>-->


<div class="language-picker">
  <iu-ui-drop-down>
    <div iu-ui-header>
      {{selectedLanguage}}
      <iu-ui-icon type="icon_arrow-down"></iu-ui-icon>
    </div>
    
    <div iu-ui-body>
      <ul>
        <li class="language-option" *ngFor="let language of supportedLanguages" (click)="onLanguageChange($event)">
          <span *ngIf="language !== selectedLanguage">
            {{language}}
          </span>
        </li>
      </ul>
    </div>
  </iu-ui-drop-down>
</div>
