@import '_variables';

.details-header {
  padding: @block-space;
  margin-bottom: @block-space;
  background: @purpleLight;

  .details-block-wrap {
    border-top: 1px solid @gray;
    padding: @block-space;
  }

  .details-block {
    width: 100%;
    margin-right: @block-space;

    &:last-child {
      margin-right: 0;
    }

    div {
      margin-bottom: @block-space;
    }
  }
}

:host ::ng-deep {
  button {
    .btn;
    .btn-transparent;
    color: @gray-400;
    border: none;
    padding-left: 0;

    &:hover {
      border: none;
    }
  }

  table {
    th, td {
      padding: 10px;
      text-align: left;
      font-weight: 300;
    }

    th {
      background: @purple;
      color: @white;
    }

    td {
      border: 1px solid @gray;
    }
  }
}
