<div *ngIf="reportData">
  <div class="flex col details-header">
    <iu-ui-button-with-icon iconClassName="icon_arrow-left" (click)="goBack()"></iu-ui-button-with-icon>
    <div class="flex details-block-wrap">
      <div class="details-block">
        <div> {{'widgets.reportDetails.text.cashboxId' | translate}} - {{reportData.cashboxName}} </div>
        <div> {{'widgets.reportDetails.text.date' | translate}} - {{reportData.date  | date:'dd/MM/yyyy' }}</div>
        <div> {{'widgets.reportDetails.text.closingTime' | translate}} - {{reportData.date  | date:'HH:mm'}} </div>
      </div>
      <div class="details-block">
        <div>{{'widgets.reportDetails.text.nameSurname' | translate}} - {{reportData.fullName}}</div>
        <div>{{'widgets.reportDetails.text.startBalance' | translate}} - {{reportData.startBalance}}</div>
        <div>{{'widgets.reportDetails.text.endBalance' | translate}} - {{reportData.balance}}</div>
      </div>
      <div class="details-block">
        <div>{{'widgets.reportDetails.text.saldo' | translate}} - {{reportData.saldo}}</div>
      </div>
    </div>
  </div>
</div>
