@import '../../../assets/less/_vars';

section {
  &:after {
    background: black url(@about-bg) no-repeat center center;
    background-size: cover;
  }

  .about-block { width: 80%; }

  .frame {
    height: 60vh;
    padding: 10px;

    background: rgba(0,0,0,.2);
    opacity: .3;

    position: absolute;
    left: 13%;
    z-index: -1;
    top: -250px;
    animation: drop .3s ease-in-out forwards;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      opacity: .8;

      border: 1px solid @toxic;
      position: absolute;
      top: 5%;
      left: -5%;

    }
  }

  .desc {
    // width: 55%;
    font-weight: 300;
    padding: 10px;
    padding-bottom: 0;
    opacity: 0;
    font-size: .75rem;
    font-family: 'Spartan', sans-serif;
    line-height: 1.5;
    animation: fadeIn .5s ease-in-out .5s forwards;

    p, span {
      color: @black_l;
    }

    .photographers {
      span {
        color: @toxic_b;
        font-size: .8rem;
        margin-left: 3px;
      }

      i {
        color: @border;
      }
    }

  }

  .l-hovhanni {
    font-size: .8rem;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes drop {
  0% { top: 25%; }
  100% { top: 30%; }
}
