<section class="bg flex col space-around center-top center-left">
  <h1 class="flex"><i class="icon-camera"></i>Hey yo</h1>
  <div>
    <div class="flex">
      <div class="about-block frame">
      </div>
      <div class="about-block desc flex col">
        <p>
          Imag(in)e that John Lennon never have that courage to stand alone from the Beatles and
          live his life with Yoko: the woman who was considered to be strange and not beautiful by everybody except for him...<br>
          Imagine I adore Lennon's music of this period of his life more, as I have the feeling of honest script and melody,
          that reflects his real eternity rapidly  affected by her...<br><br>

          Revealing the imaginary world of photography, I felt in love supposingly for the lifetime.
          It's an amazing experience to touch your own emotions as if they are tangible and have taste of the best food.
          You explore your inner feelings and fears, vision and understanding of beauty when developing new concepts and creating new photos with the cameraman.
          Ones showcase your vulnerability, others capture your deep concealed side of personality, thirds enforce you to create and play/imagine/ characters,
          which you will never be in real life, but after all you continue to adore that imagination game.<br><br>

          In this small project I want to thank the guys and girl, who invest their time and skills playing with me this beautiful game of
          improvisation and accumulation of the ideas and transmission them into a visual content.
        </p>

        <span class="flex flex-wrap photographers">
          So thank you
          <span *ngFor="let photographer of objectKeys(photographers), let index = index"
                class="flex">
            <app-ph-link [photographer]="photographer">
            </app-ph-link>
            <i>{{index !== objectKeys(photographers).length - 1 ? ',  ' : '.'}}</i>
          </span>
        </span>

        <br>

        <p>
          Diving into the world of photography I once again realize that human's imagination is limitless, as I found such great artists as Nicolas Fols,
          Guy Bourdin, fantastic self portrait artist Ziqian, Helmut Newton and many others. In the other hand those f*ing amazing models
          that do incredible and non repetitive job... those flawless, interesting and natural poses of Coco Rocha, uff ...
          It feels like you will never ever be as graceful as them.<br>
          Very often comparing the photography job we do here in Armenia with those guys and babies, I also realize that maybe
          we will always loose  in this comparison duel... But after all I am more than convinced that only over and over attempts of creating
          can bring to the state of uniqueness in what we do.<br><br>

          So i choose the path to create despite of all my doubts. At a moment I have several photo project ideas and I am down to collaborate
          with whoever shares my vision on the subject of photography art.<br><br><br>
          <i class="l-hovhanni">@l_hovhanni</i>
        </p>
      </div>
    </div>

    <app-social-links></app-social-links>
  </div>
</section>

