
<div class="app-service-categories whitebox">
  <iu-ui-navigation>
    <li *ngFor="let item of providerLabels"
        class="app-service-categories-item sidebar" >
      
      <iu-ui-link-with-icon [link]="item._link"
                            [iconClassName]="item._icon || 'icon_qr-code'"
                            [text]="item.name | translate">
      </iu-ui-link-with-icon>
      
    </li>
    
  </iu-ui-navigation>
</div>
