<div class="flex client-pay-page">
  <div class="w-25 gggg">
    
    <upay-terminal-category-navigation>
    
    </upay-terminal-category-navigation>
    <!--<app-service-category-navigation routPath="/client/transactions/pay">-->
    <!---->
    <!--</app-service-category-navigation>-->
  </div>
  <div class="selected service-container w-75 whitebox">
    
    <upay-provider-list *ngIf="labelId && !providerId">
    
    </upay-provider-list>
    
    <upay-pay-terminal *ngIf="labelId && providerId">
    
    </upay-pay-terminal>
    
    <!--<router-outlet></router-outlet>-->
  </div>
  
</div>
