<!--button (click)="onClick($event)">
  {{(text | translate) || ''}}
</button-->

<button (click)="onClick($event)" [ngClass]="[getClassName(), graphics ?  'graphic-positioning-container ' + graphicsPosition : '']">
  <lavash-graphics [graphics]="graphics">
  </lavash-graphics>

  {{text || ''}}
</button>



