// btn
.btn {
  font-size: 1rem;
  border: none;
  padding: 0.55rem 1rem;
  margin: 1px;
  .transition;
}

.btn-green {
  color: @white;
  background: @primary;

  &:hover {
    background: @secondary;
  }
}

.btn-transparent {
  background: none;
  //border: 1px solid @gray-400;
  //color: @gray-600;

  color: @primary;
  border: 1px solid @primary;
  &:hover {
    color: @white;
    background: @primary;
  }
}

.btn-rounded {
  border-radius: 1.4rem;
}

.btn-large {
  letter-spacing: 1px;
  min-width: 160px;
}

.btn-text {
  padding: 0;
  border: none;
  background: transparent;
  color: @secondary;

  &:hover {
    color: @gray-400;
  }
}

.text-btn{
  float: right;
  color: @green;
  background:none;
  border:none;
  cursor: pointer;
}

// options
.btn_1 {
  button {
    .btn;
    .btn-green;
  }
}
