<iu-ui-data-list [dataSource]="customerDebitPayDataSource">

  <ng-template let-item>

    <iu-ui-customer-debit-pay-list-item
      [toggleIconClass]="toggleIconClass"
      
      [iconClassName_new]="iconClassName_new"
      [iconClassName_fav]="iconClassName_fav"
      [iconClassName_recurrent]="iconClassName_recurrent"
      
      [paymentMethodTitle]="paymentMethodTitle"
      
      [customerDebitPayData]="item.data"
      [paymentCards]="paymentCards"
      [paymentListText]="paymentListText"
      [amountText]="amountText"
      [commissionText]="commissionText"
      [withCommissionText]="withCommissionText"
      [payText]="payText"
      [addNewCardText]="addNewCardText"
      [favoriteText]="favoriteText"
      [recurrentText]="recurrentText"
      (addNewCardClick)="onAddNewCardClick($event)"
      (payClick)="onPayClick($event)"
      (favoriteClick)="onFavoriteClick($event)"
      (recurrentClick)="onRecurrentClick($event)">

    </iu-ui-customer-debit-pay-list-item>

  </ng-template>

</iu-ui-data-list>
