<table style="width:100%">
  <tr class="ui-ui-table-heading">
    <!--<th></th>-->
    <ng-container *ngFor="let column of columnsConfig; let i = index">
    <th *ngIf="isVisible(column)"
        (click)="onHeaderClick($event, column, i)">
      <div>
        <span *ngIf="column.displayIcon" class="iu-ui-print-selected">
          <iu-ui-icon type="{{column.displayIcon}}">
          </iu-ui-icon>
        </span>
        {{getColumnName(column)}}
        <span *ngIf="column.sortKey">
          <iu-ui-icon [type]="getSortIcon(i)">
          </iu-ui-icon>
        </span>
      </div>
    </th>
    </ng-container>
  </tr>
  <tr class="ui-ui-table-row" *ngFor="let row of tableData">
    <!--<td>-->
      <!--<iu-ui-checkbox *ngIf="haveCheckboxColumn"-->
        <!--(changeState)="onSelectItem($event, row)">-->
      <!--</iu-ui-checkbox>-->
    <!--</td>-->
    <ng-container *ngFor="let column of columnsConfig">
    <td  *ngIf="isVisible(column)" [ngClass]="column.customClass ? setCustomClass(column, row) : ''">

      <div *ngIf="!column.type || column.type !== 'action'">

        <iu-ui-img *ngIf="column.imageSrcKey"
                   [src]="row[column.imageSrcKey]"
                   [alt]="row[column.displayValueKey]">
        </iu-ui-img>

        <span>
          {{getCellValue(row, column)}}
        </span>
      </div>

      <iu-ui-icon *ngIf="column.type === 'action' && column.actionIcon"
                  [type]="column.actionIcon"
                  (click)="onActionClick(getColumnAction(column, row), column, row)">
      </iu-ui-icon>

      <iu-ui-button *ngIf="column.type === 'action' && !column.actionIcon"
                    [text]="column.displayActionText"
                    (click)="onActionClick(getColumnAction(column, row), column, row)">
      </iu-ui-button>
    </td>
    </ng-container>
  </tr>
</table>
