<!--demo-->

<lavash-button text="Button"></lavash-button>
<lavash-button text="Rounded button" className="rounded"></lavash-button>
<lavash-button text="Disabled button" className="disabled"></lavash-button>
<lavash-button text="No-background button" className="no-background"></lavash-button>
<lavash-button text="Outlined button" className="outlined"></lavash-button>
<lavash-button text="Outlined button with icon" className="outlined" graphics="icon-chevron-down" graphicsPosition="right"></lavash-button>
<lavash-button text="Button" graphics="icon-chevron-down"></lavash-button>
