@import "_variables";

.app-incasation-categories {
  //border:  1px solid transparent;
  padding: 0;
}

:host ::ng-deep {
  .app-incasation-categories-item {
    .transition;

    a {
      .flex;
      .center-top;
      width: 100%;
      height: 60px;
      text-align: left;
      border-radius: 0;
      color: @gray-600;
      padding: 0.5rem 1.2rem;
      font-size: .9rem;
      .transition;
    }

    i {
      ._icon;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      .transition;
    }


    &:first-child{
      //border-top-left-radius: @radius;
      //border-top-right-radius: @radius;
      //a{
      //  border-top-left-radius: @radius;
      //  border-top-right-radius: @radius;
      //}
    }
    &:last-child{
      //border-bottom-left-radius: @radius;
      //border-bottom-right-radius: @radius;
      //a{
      //  border-bottom-left-radius: @radius;
      //  border-bottom-right-radius: @radius;
      //}
    }

    &:hover {
      background: @secondary;

      a {
        color: @white;
      }

      i {
        color: @white;
      }
    }
  }
}
