<div class="app-incasation-categories whitebox">
  <iu-ui-navigation>
    <li class="app-incasation-categories-item sidebar" *ngFor="let item of incasationTypes">
      <iu-ui-link-with-icon [link]="item.name"
                            [iconClassName]="item.iconClassName"
                            [text]="'navigation.sidebar.encashment.' + item.armText | translate"
                            (click) = "clearFieldsOnRoutChange()">
      </iu-ui-link-with-icon>
    </li>
  </iu-ui-navigation>
</div>
