<!-- todo create molecule pair-table -->

<!-- description block | todo create molecule pair-table -->
<div class="iu-ui-favorite-body-container">
  <div class="iu-ui-favorite-body-container-block customer-block" *ngIf="customerDebitPayData.customerDetails && customerDebitPayData.customerDetails.length">
    <ul class="iu-ui-favorite-body-description">
      <li *ngFor="let detail of customerDebitPayData.customerDetails" class="iu-ui-favorite-body-description-element">
        <label>{{detail.name}}</label>
        <span class="iu-ui-favorite-body-element-value customerDetails"><b>{{getResultValue(detail)}}</b></span>
      </li>
    </ul>
  </div>

  <div class="iu-ui-favorite-body-container-block update" *ngIf="customerDebitPayData?.updated === 'false'">{{updatedText}}</div>

  <div class="iu-ui-favorite-body-container-block debt-block" *ngIf="customerDebitPayData.debtDetails && customerDebitPayData.debtDetails.length">
    <ul class="iu-ui-favorite-body-description">
      <li *ngFor="let detail of customerDebitPayData.debtDetails" class="iu-ui-favorite-body-description-element">
        <label>{{detail.name}}</label>
        <span class="iu-ui-favorite-body-element-value debtDetails"><b>{{getResultValue(detail)}}</b></span>
      </li>
    </ul>
  </div>

  <div class="iu-ui-favorite-body-container-block prev-debt-block" *ngIf="customerDebitPayData.prevDebtDetails && customerDebitPayData.prevDebtDetails.length">
    <ul class="iu-ui-favorite-body-description">
      <li *ngFor="let detail of customerDebitPayData.prevDebtDetails" class="iu-ui-favorite-body-description-element">
        <label>{{detail.name}}</label>
        <span class="iu-ui-favorite-body-element-value debtDetails"><b>{{getResultValue(detail)}}</b></span>
      </li>
    </ul>
  </div>

  <!-- payment method block | todo create organism payment-card-select -->
  <div class="iu-ui-favorite-body-container-block" *ngIf="paymentCards">
    <h4>{{paymentMethodTitle || 'Payment method' }}</h4>
    <ul class="iu-ui-favorite-body-method">
      <li *ngFor="let card of paymentCards" class="iu-ui-favorite-body-method-element">
        <iu-ui-button-with-icon (click)="onPaymentCardSelect(card)" [text]="card.text" [src]="card.src"></iu-ui-button-with-icon>
      </li>
      <li class="iu-ui-favorite-body-method-element">
        <iu-ui-button-with-icon (click)="onAddNewCardClick()" [text]="addNewCardText || 'Add New Card'" [iconClassName]="iconClassName_new"></iu-ui-button-with-icon>
      </li>
    </ul>
  </div>

  <!-- amount block -->
  <div class="iu-ui-favorite-body-container-block">
    <div *ngIf="hasPayPurpose">
      <h4>Նշումներ</h4>
      <textarea (input)="onPayPurposeChange($event)" maxlength="200" ></textarea>
    </div>
    <h4>{{amountText || 'Amount' }}</h4>
    <ul class="iu-ui-favorite-body-amount">
      <li class="iu-ui-favorite-body-amount-element">
        <div class="iu-ui-form">
          <div class="input-data flex col">
            <input type="number"
                   [attr.disabled]="isFixPay ? '' : null"
                   [(ngModel)]="amount"
                   (input)="onAmountChange($event)"
                   (focus)="onFocus($event)"/>
          </div>
  
          <span class="iu-ui-pay">
                <iu-ui-button (click)="onPayClick()" [text]="payText || 'Pay'" *ngIf="payText"></iu-ui-button>
                <iu-ui-button-with-icon
                  (click)="onBasketClick()"
                  [text]="basketText || 'Add to basket'"
                  [iconClassName]="iconClassName_basket"
                  *ngIf="basketText">
                </iu-ui-button-with-icon>
            </span>
        </div>
        <div class="iu-ui-extra">
        <span class="iu-ui-extra-text">
          <b>{{ withCommissionText || 'With Commission'}}</b>
        </span>
          <span class="iu-ui-extra-value">{{commission}} AMD</span>
        </div>
      </li>
    </ul>
  </div>

  <!-- cta buttons -->
  <div class="iu-ui-favorite-body-container-block">
    <ul class="iu-ui-favorite-body-btns">
      <li class="iu-ui-favorite-body-item">
      <span class="iu-ui-btn-favorite" *ngIf="favoriteText">
        <iu-ui-button-with-icon (click)="onFavoriteClick()" [text]="favoriteText || 'Favorite'" [iconClassName]="iconClassName_fav"></iu-ui-button-with-icon>
      </span>
      <span class="iu-ui-btn-recurrent" *ngIf="recurrentText">
        <iu-ui-button-with-icon (click)="onRecurrentClick()" [text]="recurrentText || 'Make Recurrent'" [iconClassName]="iconClassName_recurrent"></iu-ui-button-with-icon>
      </span>
      <span class="iu-ui-btn-recurrent" *ngIf="groupText">
        <iu-ui-button-with-icon (click)="onGroupClick()" [text]="groupText || 'Add to Group'" [iconClassName]="iconClassName_group"></iu-ui-button-with-icon>
      </span>
      </li>
    </ul>
  </div>
</div>


