<section class="bg">
  <app-toolbar>
    <!--left part-->
    <lavash-button
            class="mode l"
            text="Photos"
            (clickEvent)="routeManagementService.navigate('portfolio')">
    </lavash-button>
    <lavash-button
            class="mode l"
            text="Story telling"
            (clickEvent)="routeManagementService.navigate('story-telling')">
    </lavash-button>
    <lavash-button
            class="mode l active"
            graphics="icon-video2">
    </lavash-button>
    <!--right part-->
    <div class="items r">{{videos.length}} items in portfolio</div>
  </app-toolbar>
  <div class="portfolio">
    <app-grid-container [items]="videos"
                        [columns]="columns">
    </app-grid-container>
  </div>
</section>
