@import '../../../assets/less/_vars';

:host ::ng-deep {
  .app-popup-slider {
    height: 100vh;
  }

  button {
    background: rgba(0,0,0, .3) !important;
    padding: 10px !important;
  }

  i {
    font-size: 1.5rem;
  }
}

@media all and (max-width: @mobile) {
    :host ::ng-deep {
      .l-full {

        .l-article-img {
          top: 0 !important;
        }

        .l-article-title {
          font-size: 1.5rem !important;
        }

        .l-article-content {
          margin-top: 20px !important;
          padding: 0 20px !important;
        }


        .l-article-description {
          height: calc(100vh - 60px) !important;
        }
      }
  }
}
