<div class="iu-ui-autocomplete-container">
  <div (click)="toggle()"  class="selected-option">
    <span *ngIf="selectedOption">
      {{ this.getPropertyFromOption(selectedOption, displayFieldKey) | translate}}
    </span>
    <span *ngIf="!selectedOption">
      {{placeholder | translate}}
    </span>
    <i class="icon toggler" [ngClass]="[visible ? 'active' : '', 'icon_arrow-down']"></i>
  </div>
  <div class="options-list-and-search" *ngIf="visible">
    <input type="text"
           [placeholder]="searchPlaceholder"
           *ngIf="hasFiltering"
           (input)="inputValueChange($event)"/>
    <!--(focus)="toggle()"-->
    <ul>
      <li *ngFor="let option of filteredOptions"
          (click)="selectOption(option)">
        {{ this.getPropertyFromOption(option, displayFieldKey) | translate }}
      </li>
    </ul>
  </div>
  <div [ngClass]="hasErr? 'visible' : ''" class="error-msg">{{errMsg || 'Դաշտը պարտադիր է'}} </div>
</div>
