.iu-ui-autocomplete-container{
  width: 100%;
  position: relative;
  //::placeholder {
  //  color: #e6e6e7;
  //}
  //:-ms-input-placeholder {
  //  color: #e6e6e7;
  //}
  //
  //::-ms-input-placeholder {
  //  color: #e6e6e7;
  //}
  .selected-option{
    position: relative;
    cursor: pointer;
    display: flex;
    line-height: 40px;
    font-size: .875rem;
    padding-left: .75rem;
    border: 1px solid #e6e6e7;
    .toggler {
      position: absolute;
      top: 16px;
      right: 10px;
      transition: all .3s ease-in-out;
      width: 14px;
      height: 14px;
      color: #c1c4cb;
      font-size: .85rem;
      &.active {
        top: 9px;
        transform: rotate(180deg);
        transition: all .3s ease-in-out;
      }
    }
    span{
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 80%;
    }
    //.selected-option-value{
    //}
  }
  .options-list-and-search{
    position: absolute;
    width: 100%;
    min-height: 120px;
    max-height: 300px;
    top: 40px;
    //border: 1px solid #e6e6e7;
    z-index: 2;
    input{
      margin: 10px 10px 0;
      width: calc(100% - 20px);
    }
    ul{
      z-index: 3;
      padding-top: 5px;
      overflow: auto;
      position: absolute;
      border: 1px solid #e6e6e7;
      background: white;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      max-height: 300px;
      li {
        cursor: pointer;
        padding: 7px 10px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-transition: all .3s ease ;
        -moz-transition: all .3s ease ;
        -o-transition: all .3s ease ;
        transition: all .3s ease ;
        &.active {
          background: #f0f0f0;
          pointer-events: none;
          opacity: .5;
        }
        &:hover{
          color: #a2cd3a;
        }
      }
    }
  }

  .error-msg {
    display: none;
    color: red;

    &.visible {
      display: block;
    }
  }
}
