@import "../../../assets/less/_variables";


:host ::ng-deep {

  .header{
    border-bottom: 2px solid #c8df7e;
    text-transform: uppercase;
    font-size: 24px;
    margin: auto;
    margin-bottom: 30px;
  }


  .cards-container{
    .flex;
    .wrap;
    .space-between;
  }

  .news-list-container{
    .flex;
    .col;
  }

  .pagination{
    margin: auto;
    margin-top: 20px;
  }

  .iu-ui-card {
    .flex;
    .col;
    width: 370px;
    height: 444px;
    box-shadow:0 3px 7px #c1c4cb;
    margin-bottom: 20px;
  }

  .iu-ui-image {
    max-height: 45%;
  }

  .iu-ui-card-content{
    .flex;
    .col;
    background-color: white;
    flex:1;
    padding: 30px;
  }

  .iu-ui-card-title {
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: bold;
    color: @dark;
    margin-bottom: 10px;
  }

  .iu-ui-card-description {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
  }

  .iu-ui-button {
    .text-btn;
  }

}
