<div class="news-list-container">
  <div class="header">
    նորություններ
  </div>
  <div class="cards-container">


    <iu-ui-action-card *ngFor="let card of newsList"
                       [imageUrl]="card.imageUrl"
                       [title]="card.title"
                       [description]="card.description"
                       actionButtonText="Read More"
                       (actionButtonClick)="readMore(card)"
    >
    </iu-ui-action-card>
  </div>
  <div class="pagination" *ngIf="newsTotalCount">
    <iu-ui-pagination [itemsPerPage]="pageSize"
                      [maxSize]="5"
                      [rotate]="false"
                      [totalItems]="newsTotalCount"
                      (pageChange)="getPages($event)">

    </iu-ui-pagination>
  </div>
</div>

