<div>
  <div class="green-button-tabs">
    <upay-tabs [tabs]="transactionPageTabs" translationprefix="navigation.tabs.clientTabs."></upay-tabs>
  </div>
  <router-outlet></router-outlet>
</div>
