<div class="iu-ui-drop-down-container">
  <div class="iu-ui-drop-down-header" (click)="toggle($event)">
    <ng-content select="[iu-ui-header]"></ng-content>
  </div>
  <div class="iu-ui-drop-down-body dropdown-menu" *ngIf="visible" (click)="toggle($event)">
    <ng-content select="[iu-ui-body]"></ng-content>
  </div>
</div>

