<!--todo create card wrap atom-->
<div class="iu-ui-card">

  <div *ngIf="mainTitle" class="iu-ui-card-main-title">
    <iu-ui-text> {{mainTitle}} </iu-ui-text>
  </div>

  <div *ngIf="imageUrl" class="iu-ui-card-image">
    <iu-ui-img [src]="imageUrl">
    </iu-ui-img>
  </div>
  
  <div *ngIf="iconClassName" class="iu-ui-card-icon">
    <iu-ui-icon [type]="iconClassName"></iu-ui-icon>
  </div>

  <div class="iu-ui-card-content">
    <p *ngIf="title" class="iu-ui-card-title">
      <iu-ui-text> {{title}} </iu-ui-text>
    </p>

    <p *ngIf="description" class="iu-ui-card-description">
      <iu-ui-text> {{description}} </iu-ui-text>
    </p>

    <iu-ui-button *ngIf="actionButtonText" (click)="onActionClick()" [text]="actionButtonText || 'Action'">
    </iu-ui-button>
  </div>
</div>
