<div class="popup-styles add-to-group-popup">
  <div class="popup-inner-wrapper title">Ավելացնել խումբ</div>
  <div class="popup-inner-wrapper flex col">
    
    <div class="flex col form">
      <!--<iu-ui-input placeholder="group name"-->
                   <!--[model]="groupName"-->
                   <!--(valueChange)="onChange($event, 'groupName')">-->
      <!--</iu-ui-input>-->
      <!--<iu-ui-input placeholder="group description"-->
                   <!--[model]="groupDescription"-->
                   <!--(valueChange)="onChange($event, 'groupDescription')">-->
      <!--</iu-ui-input>-->
      <upay-armenian-phone-picker (valueChange)="onPhoneNumberChange($event)">
      </upay-armenian-phone-picker>
    </div>
    
    <div class="cta-btn">
      <iu-ui-button text="Ավելացնել խումբ"
                    (click)="addToGroup()">
      </iu-ui-button>
    </div>
  </div>
</div>
