@import '../assets/less/_vars';

.mainLayout {
  opacity: 0;
  animation: mainLayout 1s ease-in-out @Delay-5 forwards;

  .headline-block {
    width: 100%;
    height: 100vh;
  }
}

@keyframes mainLayout {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
