@import '_variables';

.w-25 {
  .icon-user  {
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid;
    padding: 1rem;
    border-radius: 50%;
    margin: 20px auto;
  }

  p{
    padding: 10px 0;
    border-bottom: @gray-200;
  }
}

.change-pass {
  margin-top: 60px;

  h1 {
    text-align: center;
  }

  .form {
    width: 350px;
    margin: auto;
  }
}
