@import '_variables';

:host ::ng-deep {
  .claim-type-selected {
    margin-top: 0;
    padding: 0;

    .result.no-event {
      transition: all 0s;
      background: @purpleLight;
      pointer-events: none;
      padding: 30px;
    }
  }

  .claim-block {
    background: @gray-100;
    padding: @block-space;

    h3 {
      border-bottom: none;
    }

    .form{
      padding: 0 @block-space;
      & > div{
        & > div{
          margin-top: @block-space / 4 * 3;
          iu-ui-input{
            width: 280px;
            margin-left: @block-space * 2;
          }
        }
      }
    }

    &.options {
      padding: @block-space;
      iu-ui-radio-button {
        .flex;
        .col;
        .wrap;
        height: 65px;
        width: 60%;
        padding-left: 20px;
      }
    }

    &.transaction {
      position: relative;
      border-top: 1px solid @gray-300;


      .print-btn {
        button {

          .btn;
          .btn-large;
          .btn-green;
          .btn-rounded;
          margin: 10px 20px;
        }
      }

      .provider-interrelated-selectbox {
        width: 40%;
        padding: @block-space/2 @block-space;
      }
      .provider-interrelated-selectbox-result {
        margin-top: 5px;

        .wrapper {
          min-width: 200px;
          margin-right: 5px;
        }
      }
    }
    &.notes{
      background-color: @gray-100;
      padding: 20px;
      border: 1px solid @gray-200;
      border-right: 0;
      .flex.col{
        padding: @block-space;
      }

      .operator {
        text-align: right;
      }
    }
  }

  .attachments {
    background: @purpleLight;

    .file-upload {
      margin-right: @block-space/4;
    }

    .file-upload, .document button {
      .btn;
      .btn-transparent;
      .btn-rounded;
      overflow: hidden;
      max-width: 250px;
      text-overflow: ellipsis;
      position: relative;


      font-size: 0.8rem;
      margin: 3px;
      margin-top: 10px;
      border: 1px solid @blue;
      color: @gray-300;
      cursor: pointer;
      white-space: nowrap;

      i {
        color: @primary;
        font-size: 1rem;
        margin-right: 5px;
      }

      a {
        width: 100%;
        color: @gray-500;
        overflow: hidden;
      }

      &:hover {
        background: transparent;
        color: @gray-300;
      }

      .delete {
        height: 100%;
        width: 30px;
        position: absolute;
        right: 5px;
        top: 0;
        color: @gray-500;
        .flex;
        .center-top;
        .transition;

        &:hover {
          color: @gray-500;
        }
      }
    }


    .documents {
      span{
        margin-left: @block-space/4;
        font-size: .85rem;
      }
    }
  }

  .cta {
    padding: @block-space;
    text-align: center;
    &.claim-type-buttons{
      .flex;
      .center-left;
      margin-top: @block-space;
      margin-bottom: @block-space;
    }
    button {
      .btn;
      .btn-green;
      .btn-large;
      .btn-rounded;
      padding: 0.55rem 1.5rem;

      &:first-child {
        margin-right: @block-space;
      }
    }
  }

  .claim-details {
    .upay-business-data-card-results {
      .label-message {
        z-index: 1;
        top: -45px;
      }
    }

    .msg {
      font-size: 1.5rem;
      text-align: center;

      &.success {
        color: @primary;
      }

      &.error {
        color: @red;


      }
    }
  }

  .go-back {
    button {
      .transition;
      &:hover {
        color: @secondary;
      }
    }

  }

  .mat-form-field {
    width: 280px;
    input {
      padding: 0.75rem;
      border: 1px solid #d8d9da;
      background: @white;
    }
  }

  upay-armenian-phone-picker {
    .select-with-input {
      .flex;
      .center-top;
      padding: 0;
      width: 255px;
    }
  }

  .error, .error-msg {
    color: @red;
    text-align: left;
    font-size: .8rem;

    &.isCancellationClaimAcceptable {
      font-size: 1rem;
      margin: 10px 20px;
      text-align: center;
      padding: 7px 0;
      border: 1px solid @red;
      background: #f8e4e7;
    }
  }
}
