<div class="favorites">
  <div class="flex">
    <div class="w-75">
      <div class="whitebox">
        <app-favorites [pageSize]="20"></app-favorites>
      </div>
    </div>
    <div class="flex col w-25">
      <div class="banner">
        <app-pay-action-card></app-pay-action-card>
      </div>
      <div class="banner">
        <app-transfer-action-card></app-transfer-action-card>
      </div>
    </div>
  </div>
</div>

