@import "../../../assets/less/_variables";

.favorites {
  .w-75 {
    margin-right: @block-space;
  }

  .banner:first-child {
    margin-bottom: @block-space;
  }
}

:host ::ng-deep {
  .iu-ui-card {
    flex-direction: column;
  }
}
