<div>

  <upay-alert-box></upay-alert-box>
  <upay-loading></upay-loading>
  <upay-dialog></upay-dialog>
  
  <app-popup-manager></app-popup-manager>

  <app-header></app-header>

  <section>
    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </section>

</div>
