<div class="page-wrapper transaction-log">
  <upay-business-data-table [columnsConfig]="columnsConfig"
                            [dataSource]="dataSource"
                            [totalItems]="totalItems"
                            [hasFilter]="false"
                            [reloadTime]="3000"
                            footerLabelText="widgets.reportDetails.text.total"
                            [footerDataSource]="footerDataSource"
                            (getDataSource)="getPendingClaims($event)"
                            (rowActionClick)="onRowActionClick($event)">
  </upay-business-data-table>
</div>
