<div class="flex client-pay-page">
  <div class="w-25">
    <app-service-category-navigation routPath="/client/top-up"></app-service-category-navigation>
  </div>
  <div>
    <div class="selected service-container w-75">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


