<ul class="iu-ui-data-list">
    <li class="iu-ui-data-list-item"
         *ngFor="let itemData of dataSource"
         (click)="onItemClick($event, itemData)">
      
      <ng-template [ngTemplateOutlet]="itemTemplateRef"
                   [ngTemplateOutletContext]="{$implicit: { data: itemData }}">
          <!--dynamic defined template-->
      </ng-template>

    </li>

</ul>
