<div class="page-wrapper home-page">

  <div class="popup-wrapper no-popup login">
    <upay-login-form *ngIf="!isForgotForm"
                     signInText="widgets.login.button.login"
                     (signInClick)="onSignIn($event)">
    </upay-login-form>
  
    <!--<upay-forgot-password-form *ngIf="isForgotForm"-->
                              <!--(openLogin)="setIsForgotForm(false)">-->
    <!--</upay-forgot-password-form>-->
  </div>

</div>
