@import "../../../assets/less/_variables";

.flex {
  .tab {
    width: @container-width/4 ;
    min-width: 50px;
    text-align: center;
    line-height: 60px;
    margin-right: @block-space;
    margin-top: @block-space;
    margin-bottom: @block-space;

    &:nth-of-type(4) {
      margin-right: 0;
    }
  }
}

:host ::ng-deep {
  a {
    display: block;
    background: @white;
    color: @gray-400;
    border: 1px solid @gray-200;
    border-bottom: 2px solid @secondary;
    border-radius: @radius;
    position: relative;
    .transition;

    i {
      position: absolute;
      display: block;
      left: 1.5rem;
      top: 0;
      color: @secondary;
      font-size: 2.125rem;
      line-height: 60px;
      .transition;
    }

    &:hover {
      color: @white;
      background:  @secondary;
      .transition;

      i {
        color: @white;
        .transition;
      }
    }
  }
}
