<div class="flex">
    <div class="tab" *ngFor="let tab of tabs">
      <iu-ui-link-with-icon
        [link]="tabPathPrefix + tab.link"
        [text]="tab.text"
        [iconClassName]="'icon_' + tab.iconClass">
      </iu-ui-link-with-icon>
    </div>
</div>
