<div class="popup-styles edit-group-popup">
  <div class="popup-inner-wrapper title">Վերանվանել խումբը</div>
  <div class="popup-inner-wrapper flex col">
    
    <div class="flex col form">
      <div class="flex space-between last_group_name">
        <span>Խմբի նախկին անվանումը՝ </span>
        <b>{{lastGroupName}}</b>
      </div>
      <upay-armenian-phone-picker (valueChange)="onPhoneNumberChange($event)">
      </upay-armenian-phone-picker>
    </div>
    <div class="cta-btn">
      <iu-ui-button text="Վերանվանել խումբը"
                    (click)="editGroup()">
      </iu-ui-button>
    </div>
  </div>
</div>
