<!--<upay-alert-box [visible]="alertBoxVisible" [text]="alertBoxText" [type]="alertBoxType"></upay-alert-box>-->
<upay-pay-terminal [labelId]="labelId"
                   [providerId]="providerId"
                   [hasBasket]="false"
                   (addToFavoriteClick)="onAddToFavoriteClick($event)"
                   (payClick)="onPayClick($event)">
</upay-pay-terminal>
