@import "../../../assets/less/_variables";

:host ::ng-deep {
  .bottom-pagination{
    text-align: center;
    line-height: 0;
    .centering{
      display: inline-block;
      iu-ui-pagination{
        margin-top: @block-space*2;
      }
    }
  }
}
