<h3 *ngIf="title">{{title}}</h3>

<iu-ui-data-list [dataSource]="activityDataSource">

  <ng-template let-item>
    <app-transaction-data-list-item [activityData]="item.data"
                                   [iconClassName_toggle]="iconClassName_toggle"
                                   [iconClassName_fav]="iconClassName_fav"
                                   [iconClassName_recurrent]="iconClassName_recurrent"
                                   (showDetailsClick)="onOpenActivity($event)"
                                   (payAgainClick)="onActivityPayAgainClick($event)"
                                   (favoriteClick)="onActivityFavoriteClick($event)"
                                   (recurrentClick)="onActivityRecurrentClick($event)">
    </app-transaction-data-list-item>

  </ng-template>
</iu-ui-data-list>

<div class="bottom-pagination">
  <div class="centering">
    <iu-ui-pagination *ngIf="hasPagination && totalItems"
                      [itemsPerPage]="pageSize"
                      [maxSize]="5"
                      [rotate]="false"
                      [totalItems]="totalItems"
                      (pageChange)="pageChange($event)">
    </iu-ui-pagination>
  </div>
</div>

