<div class="provider-table">
  <div class="upay-table" *ngIf="columnsConfig">
    <iu-ui-data-table [columnsConfig]="columnsConfig"
                      [tableData]="contractsData"
                      (actionClick)="onActionClick($event)">
    </iu-ui-data-table>
  </div>
</div>
