<div class="app-popup" *ngIf="activePopupName !== popupsService.Popups.none">
  <iu-ui-modal-window iconClassName="icon_close" [customClass]="activePopupName" (closeModalClick)="closePopup()">

    <app-forgot-popup *ngIf="activePopupName === popupsService.Popups.forgot"></app-forgot-popup>

  </iu-ui-modal-window>
</div>

