@import "../../../assets/less/_variables";

.app-service-categories {
  //border:  1px solid transparent;
  padding: 0;
}

:host ::ng-deep {
  .app-service-categories-item {
    .transition;

    a {
      .flex;
      .center-top;
      width: 100%;
      height: 60px;
      text-align: left;
      border-radius: 0;
      color: @gray-600;
      padding: 0.5rem 1.2rem;
      font-size: 1rem;
      .transition;
    }

    i {
      font-size: 1.95rem;
      color: @secondary;
      margin-right: 0.7rem;
      margin-left: 0.3rem;
      .transition;
    }

    &:hover {
      background-image: linear-gradient(#a2cd3a, #86af23);

      a {
        color: @white;
      }

      i {
        color: @white;
      }
    }
  }
}
