<!--to do create aside navigation molecule-->
<div class="app-service-categories whitebox">
  <div class="app-service-categories-item" *ngFor="let item of serviceCategories">
    <iu-ui-link-with-icon [link]="item.name"
                          [iconClassName]="item.iconClass"
                          [text]="item.text">
    </iu-ui-link-with-icon>
  </div>
</div>
