<div *ngIf="logoUrl" class="flex center-left center-top logo">
  <iu-ui-img [src]="logoUrl" alt="logo">
  </iu-ui-img>
</div>

<div class="flex col form">
  <iu-ui-input placeholder="mobile"
               (valueChange)="onUsernameChange($event)">
  </iu-ui-input>
</div>

<div class="cta-btn">
  <iu-ui-button (click)="onSubmit()" text="Submit">
  </iu-ui-button>
</div>

<div class="flex center-left center-top extra">
  <iu-ui-text>
    Already have an account?
  </iu-ui-text>
  <iu-ui-button text="Sign In"
                (click)="onOpenLogin()">
  </iu-ui-button>
</div>

