<div class="user-avatar">
  <iu-ui-drop-down>
    <div iu-ui-header>
      <div class="flex center-top">
        <i class="icon-user icon_user-profile"></i>
        <div class="flex center-top">
          <span class="user-data">ffffffff {{currentUser?.forename}} {{currentUser?.surname}}</span>
          <i class="icon-toggle icon_arrow-down"></i>
        </div>
      </div>
    </div>

    <div iu-ui-body>
      <ul class="avatar-drop-down">
        <li>
          <iu-ui-link [link]="linkToMyprofile" [text]="myProfileText | translate"></iu-ui-link>
        </li>
        <li>
          <iu-ui-button-with-icon [text]="logoutBtnText | translate" iconClassName="icon_logout" (click)="logout()"></iu-ui-button-with-icon>
        </li>
      </ul>
    </div>
  </iu-ui-drop-down>
  <!--<div id="cashboxId" class="hidden">{{currentUser?.cashBoxId}}</div>-->
</div>


