@import '../../../shared-assets/less/_variables';

.user-avatar {
  position: relative;
  font-size: .9rem;
}

:host ::ng-deep {
  .iu-ui-drop-down-body {
    position: absolute;
    top: 35px;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.3);
  }

  .icon-user {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid grey;
    border-radius: 50%;
    font-size: 1rem;
    margin-right: 1rem;
  }

  .icon-toggle {
    font-size: .7rem;
    margin: 4px;
  }

  .avatar-drop-down {
    li {
      margin-top: 10px;
      margin-bottom: 10px;

      iu-ui-link {
        a {
          color: @secondary;
          height: auto;
          &.active {
            opacity: .4;
          }
        }
      }
    }
  }
}
