<!--<button (click)="onClick($event)">-->
  <!--{{text || ''}}-->
<!--</button>-->

<h1>KISAT</h1>

<lavash-container [type]="wrapperContainerType">
    <lavash-container *ngFor="let "
                     [type]="wrapperContainerType">

    </lavash-container>
</lavash-container>




