<div class="page-wrapper report-log">
  <upay-business-data-table [columnsConfig]="columnsConfig"
                            [dataSource]="dataSource"
                            [totalItems]="totalItems"
                            [activeFilters]="activeFilters"
                            [hasAmountIntervalFilter]="false"
                            [hasExportExcel]="true"
                            footerLabelText="widgets.reportDetails.text.total"
                            [footerDataSource]="footerDataSource"
                            (exportExcel)="downloadReport($event)"
                            (getDataSource)="getReportList($event)"
                            (rowActionClick)="onRowActionClick($event)">
  </upay-business-data-table>
</div>

