<div class="app-popup" *ngIf="activePopupName !== popupsService.Popups.none">
  <iu-ui-modal-window iconClassName="icon_close"
                      [ngClass]="popupsService.Popups.encashmentOrder"
                      [customClass]="activePopupName"
                      (closeModalClick)="closePopup()">

    <app-add-to-group-popup *ngIf="activePopupName === popupsService.Popups.addToGroup"></app-add-to-group-popup>

    <app-ticket-popup class="ticketPopup" *ngIf="activePopupName === popupsService.Popups.ticket"></app-ticket-popup>

    <app-basket-pay-popup *ngIf="activePopupName === popupsService.Popups.basketPay"></app-basket-pay-popup>

    <app-unfreeze-account *ngIf="activePopupName === popupsService.Popups.unFreezeAccount"></app-unfreeze-account>

    <app-terminate-account *ngIf="activePopupName === popupsService.Popups.terminateAccount"></app-terminate-account>
    
    <app-freeze-account *ngIf="activePopupName === popupsService.Popups.freezeAccount"></app-freeze-account>

    <app-new-version *ngIf="activePopupName === popupsService.Popups.newVersion"></app-new-version>

    <app-edit-group-popup *ngIf="activePopupName === popupsService.Popups.editGroup"></app-edit-group-popup>

    <app-invoice-print *ngIf="activePopupName === popupsService.Popups.invoice"></app-invoice-print>
    
    <app-encashment-order *ngIf="activePopupName === popupsService.Popups.encashmentOrder"></app-encashment-order>
    
  </iu-ui-modal-window>
</div>

