@import "_variables";

.app-popup {
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.3);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}
:host ::ng-deep {
  .iu-ui-modal-window-content {
    background: @white;
    height: auto;
    width: 500px;
    max-height: 80%;
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    margin: auto;

    &.ticket{
      width: 90%;
    }

    &.encashmentOrder {
        width: 80%;
      }

  }

  .iu-ui-modal-close {
    position: absolute;
    top: 20px;
    right: 30px;

    button {
      background: none;
      border: none;
    }

    i{
      color: @gray-300;
      font-size: 1rem;
      line-height: 1.2rem;
    }
  }
}
