@import '../../../assets/less/_vars';

:host ::ng-deep {
  .top-block {
    background: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .project {
    color: @white;
  }

  .l-toggle {
    top: 9px !important;
  }

  .l-sidebar-title {
    height: 56px !important;
  }
}
