<!-- todo : tanel lib -->
<div class="upay-filter">
  <div class="filters" id="transactionLogFilters">
    <div class="filter">
      <div class="criteria-wraper">
        <span class="opacity">{{amountText | translate}}</span>
        <div class="criteria">
          <iu-ui-select [placeholder]="placeholder"
                        [options]="options"
                        [optionPrefix]="optionPrefix"
                        (optionClick)="onOptionClick($event)">
          </iu-ui-select>
        </div>
      </div>
      <div class="criteria-wraper">
        <span class="opacity">{{amountText | translate}}</span>
        <div class="criteria">
          <iu-ui-input *ngIf="by !== 'ըստ ծառայության'" type="text"
                       [placeholder]="'Search ' + by"
                       (valueChange)="onFilterDataChange('columnValue', $event)">
          </iu-ui-input>
          <iu-ui-select *ngIf="by === 'ըստ ծառայության'"
                        [placeholder]="servicePlaceholder"
                        [options]="services"
                        (optionClick)="onFilterDataChange('columnValue', $event.id)">
          </iu-ui-select>
        </div>
      </div>
    </div>
    <div class="filter">
      <div class="criteria-wraper iu-ui-amount-critera">
        <span>{{amountText | translate}}</span>
        <div class="criteria">
          <iu-ui-input type="text"
                       placeholder="from AMD"
                       (valueChange)="onFilterDataChange('amountFrom', $event)">
          </iu-ui-input>
          <span class="spliter">-</span>
          <iu-ui-input type="text"
                       placeholder="to AMD"
                       (valueChange)="onFilterDataChange('amountTo', $event)">

          </iu-ui-input>
        </div>
      </div>
      <div class="criteria-wraper iu-ui-date-criteria">
        <span>{{dateText | translate}}</span>
        <div class="criteria">
          <iu-ui-input type="date"
                       placeholder="from"
                       (valueChange)="onFilterDataChange('dateFrom', $event)">
          </iu-ui-input>
          <span class="spliter">-</span>
          <iu-ui-input type="date"
                       placeholder="to"
                       (valueChange)="onFilterDataChange('dateTo', $event)">

          </iu-ui-input>
        </div>
      </div>
    </div>
    <div class="filter cta">
      <iu-ui-button [text]="resetText | translate" (click)="onReset()" class="reset"></iu-ui-button>
      <iu-ui-button [text]="searchText | translate" (click)="onSearch()" class="search"></iu-ui-button>
    </div>
  </div>
</div>
