<table mat-table
       matSort
       (matSortChange)="onSortParamsChange($event)"
       style="width: 100%"
       [dataSource]="dataSource">

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <ng-container *ngFor="let columnConfig of columnsConfig"
                [matColumnDef]="columnConfig.valueKey">



    <th mat-header-cell
        mat-sort-header
        *matHeaderCellDef>
           {{columnConfig.displayHeaderKay}}
      <ng-container *ngIf="columnConfig.filter">
        <mat-icon (click)="onSetActiveColumnFilterKey($event, columnConfig)">Filter</mat-icon>
        <mat-form-field *ngIf="columnConfig.valueKey === activeColumnFilterKey">
          <input matInput
                 (keyup)="onFilterParamsChange({
                     by: columnConfig.valueKey,
                     comparison: 'startsWith',
                     value: $event.target.value})"
                 placeholder="Filter">
        </mat-form-field>
      </ng-container>
    </th>

    <td mat-cell *matCellDef="let rowData">
      {{rowData[columnConfig.valueKey]}}
    </td>

  </ng-container>

</table>

<mat-paginator [pageSizeOptions]="pageSizeOptions"
               [pageSize]="selectedPageSize"
               [length]="totalData"
               (page)="onPageParamsChange($event)"
               showFirstLastButtons>
</mat-paginator>
