<div class="upay-filter support">
  <div class="filters" id="transactionLogFilters">
    <div class="filter flex-big-item">
      <div class="criteria-wraper">
        <span class="opacity">Empty</span>
        <div class="criteria">
          <iu-ui-select [placeholder]="placeholder"
                        [options]="options"
                        (optionClick)="onOptionClick($event)">
          </iu-ui-select>
        </div>
      </div>
      <div class="criteria-wraper">
        <span class="opacity">Empty</span>
        <div class="criteria">
          <iu-ui-input type="text"
                       [placeholder]="'Փնտրել ' + by"
                       (valueChange)="onFilterDataChange('searchVal', $event)">
          </iu-ui-input>
        </div>
      </div>
    </div>
    <div class="filter cta">
      <iu-ui-button [text]="searchText" (click)="onSearch()" class="search" [ngClass]="forcefilterSelect ? 'no-event' : ''"></iu-ui-button>
    </div>
  </div>
</div>
