@import '_variables';


.no-event {
    opacity: .5;
    pointer-events: none;
}

.filter{
  flex: 1;
  &.flex-big-item{
    flex: 3;
  }
  .criteria-wraper{
    width: 100%;
    margin-right: @block-space * 2;
  }
}
