<div class="iu-ui-activity-data-list-item">
  <!--<p class="iu-ui-date">-->
    <!--<b>Today || date :[hardcoded]</b>-->
  <!--</p>-->


  <div class="iu-ui-activity-head"
       *ngIf="provider"
       (click)="onShowDetailsClick()">
    <div class="iu-ui-activity-head-left-block">
      <!-- left icon -->
      <iu-ui-img [src]="'shared-assets/img/providers/' + provider.config.logo">
      </iu-ui-img>
      <!--<iu-ui-icon [type]="activityData.icon"></iu-ui-icon>-->
      <!-- text -->
      <p class="iu-ui-activity-head-text">
        <span class="iu-ui-activity-head-title"><iu-ui-text>{{provider.config.displayText | translate}}</iu-ui-text></span>
        <span class="iu-ui-activity-head-time"><iu-ui-text>{{ activityData.issued | date }}</iu-ui-text></span>
      </p>
    </div>

    <div class="iu-ui-activity-head-right-block">
      <!--amount-->
      <span class="iu-ui-amount" [ngClass]="getAmountType()">
        {{activityData.amount}} {{'measureUnit.amd' | translate }}
      </span>
      <!-- toggle icon -->
      <iu-ui-icon type="icon_arrow-right toggle-icon"></iu-ui-icon>
    </div>

  </div>

  <div class="iu-ui-activity-body" *ngIf="isDetailsOpen">
    <ul>
      <li  class="iu-ui-activity-body-element">
        <label>{{"purpose"}}</label>
        <span class="iu-ui-activity-body-element-value">
          <b>{{activityData.purpose}}</b>
        </span>
      </li>
      <li  class="iu-ui-activity-body-element">
        <label>{{"Date"}}</label>
        <span class="iu-ui-activity-body-element-value">
          <b>{{activityData.issued | date}}</b>
        </span>
      </li>
      <li  class="iu-ui-activity-body-element">
        <label>{{"receipt number"}}</label>
        <span class="iu-ui-activity-body-element-value">
          <b>{{activityData.receiptId}}</b>
        </span>
      </li>
      <li  class="iu-ui-activity-body-element">
        <label>{{"amount"}}</label>
        <span class="iu-ui-activity-body-element-value">
          <b>{{activityData.amount}} {{'measureUnit.amd' | translate }}</b>
        </span>
      </li>
      <li  class="iu-ui-activity-body-element">
        <label>{{"amount"}}</label>
        <span class="iu-ui-activity-body-element-value">
          <b>{{activityData.commissionAmount}} {{'measureUnit.amd' | translate}}</b>
        </span>
      </li>


      <li class="iu-ui-activity-body-btns">
        <span  class="iu-ui-btn-pay">
          <iu-ui-button (click)="onPayAgainClick()" [text]="'Pay Again'">
          </iu-ui-button>
        </span>
        <!--<span class="iu-ui-btn-favorite">-->
          <!--<iu-ui-button-with-icon (click)="onFavoriteClick()" [text]="favoriteText || 'Favorite'" [iconClassName]="iconClassName_fav">-->
        <!--</iu-ui-button-with-icon>-->
        <!--</span>-->
        <span class="iu-ui-btn-recurrent">
          <iu-ui-button-with-icon (click)="onShowInvoiceClick()"
                                  [text]="'Show invoice'"
                                  [iconClassName]="iconClassName_recurrent">
        </iu-ui-button-with-icon>
        </span>
      </li>
    </ul>
  </div>
</div>
