.iu-ui-radio-button {
  padding-left: 35px;
  position: relative;
  cursor: pointer;
  opacity: .95;
  transition: all .3s;

  &:before {
    content: '';
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -5px;
  }

  &:hover {
    opacity: 1;
  }

  &.active {
    &:before {
      background: black;
    }
  }
}
