.side-nav{
  width: 80px;
  float: left;
  background-color: #fff;
  height: 100vh;
  .side-nav-item{
    .link-btn{
      border: none;
      text-align: center;
      line-height: 1;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      padding: 0.5rem 0;
      border-left: 2px solid $white;
      i{
        font-size: 30px;
        display: block;
      }
      span{
        padding: 0;
        font-size: 14px;
        display: block;
        line-height: 26px;
      }
      &:hover, &.active{
        background: none;
        border-left: 2px solid $secondary;
        color: $gray-600 !important;
      }
    }
  }
  .dropdown-divider{
    margin: 0.5rem;
  }
}

.top-payment-nav{
  padding: 0.8rem;
  background-color: $white;
  margin-bottom: 1rem;
  @include clearfix();
  .top-link{
    line-height: 30px;
    padding: 0 2rem;
    float: left;
    border-right: 1px solid $gray-400;
    color: $gray-400;
  }
}
.betting-list{
  .whitebox{
    padding: 10px 5px;
    text-align: center;
    span{
      padding-left: 0;
      font-size: 15px;
    }
  }
}