

  /*-user-info box-----------------------------------------*/
  .user-data {
    margin: 0;
    li{
      display: block;
      padding: 1.5rem 0 1rem;
      border-bottom: 1px solid $gray-200;
      position: relative;
      @include clearfix();
      &:last-child{
        border: none;
      }
      &:first-child{
        padding-top: 1rem;
      }
      .balance, .bonus{
        position: absolute;
        display: block;
        left: 50%;
        top: -16px;
        width: 59px;
        height: 32px;
        line-height: 33px;
        text-align: center;
        color: #fff;
        font-size: 25px;
        padding: 0 12px;
        margin-left: -29px;
        border-right: 5px solid #fff;
        border-left: 5px solid #fff;
      }
      .balance{
        background-color: $secondary;
      }
      .bonus{
        background-color: $orange;
        font-size: 20px;
      }
      p{
        margin: 0;
        display: block;
        line-height: 2;
        @include clearfix();
        label, span{
           font-size: 14px;
          &.green{
            color: $secondary;
            font-size: 1.2rem;
          }
        }
        &.small{
          line-height: 1.2 !important;
        }
        &.line-h{
          label, span{
            line-height: 50px;
            margin-bottom: 0;
          }
        }
      }
    }
    .user-block {
      .user-foto {
        float: left;
        @media (max-width: 1024px) {
          float: none;
        }
        span {
          display: inline-block;
          width: 46px;
          height: 45px;
          border: 1px solid grey;
          border-radius: 25px;
          text-align: center;
          line-height: 40px;
          margin: 0 13px 0 0;
          .icon_user-profile {
            font-size: 25px;
            color: $gray-400;
          }
        }
      }
      .user-info {
        width: 160px;
        margin-top: -3px;
        float: right;
        @media (max-width: 1024px) {
          float: none;
          margin-top: 1rem;
          position: relative;
          width: auto;
        }
        .phone, .user-name {
          color: $gray-400;
          font-size: 14px;
          font-weight: 600;
        }
        a{
          background-color: $gray-100;
          width: 30px;
          height: 30px;
          border-radius: 18px;
          color: $gray-600;
          display: block;
          float: right;
          text-align: center;
          line-height: 26px;
          @media (max-width: 1024px) {
            position: absolute;
            right: 0;
            top: 20px;
          }
        }
      }
    }
  }

  .money-value{
    float: right;
    padding-right: 20px !important;
    position: relative;
    font-size: 18px !important;
    &:after{
      position: absolute;
      content: "\e940";
      font-family: "UPay-icons" !important;
      display: block;
      right: -2px;
      top:50%;
      font-size: 14px;
      margin-top: -11px;
      line-height: 22px;
    }
  }

/*--Saved cards block-------------------------------------------*/

.cards-wallet{
  margin: 0 -1rem;
  ul{
    li{
      height: 50px;
      background-position: center;
      background-repeat: no-repeat;
      color: $white;
      font-size: 14px;
      p{
        line-height: 46px;
        padding-left: 1.5rem;
        font-size: 16px;
        a{
          color: $white;
        }
        i{
          font-size: 22px;
          line-height: 46px;
          margin-right: 1rem;
        }
      }
    }
  }
  .empty-card{
    background-image: url(../images/cards_empty-card.svg);

  }
  .visa-card{
    background-image: url(../images/cards_visa.svg);
  }
  .master-card{
    background-image: url(../images/cards_mastercard.svg);
  }
  .arca-card{
    background-image: url(../images/cards_arca.svg);
  }
  .diners-card{
    background-image: url(../images/cards_dinersclub.svg);
  }
  .american-card{
    background-image: url(../images/cards_americanexpress.svg);
  }
}

.start-pay{
  display: flex;
  align-items: center;
  @include clearfix();
  button{
    line-height: 50px;
    border-radius: 35px !important;
    &.orange{
      background: $orange;
    }
    @media (max-width: 768px){
      white-space: normal;
      line-height: 1;
    }
    i{
      font-size: 30px;
      margin-left: 0.5rem;
      @media (max-width: 768px){
        display: none;
      }
    }
  }
}

.tab-block {
  &.choose-payment {
    .tab-content {
      .border-dot {
        font-size: 12px;
        font-style: italic;
        color: $gray-600;
        i {
          font-size: 24px;
          margin-right: 0.5rem;
        }
      }
    }
  }
}

  /*--Activity parth blocks--------------------------------------------*/

  ul.activity, li{
    @include clearfix();
    display: block;
  }
  ul.activity, ul.paymentlist, ul.tab-list{
    li{
      &.date-line{
        height: 40px;
        line-height: 40px;
        &:first-child{
          border-top: 1px solid $gray-200;
        }
      }
      &.current {
        padding: 1.2rem 0;
        .activity-head {
          @include clearfix();
          a {
            display: block;
            @include clearfix();
            i {
              font-size: 26px;
              color: $primary;
              padding: 0.6rem;
              border: 1px solid $gray-200;
              border-radius: 23px;
              height: 46px;
            }
            .icon_arrow-right {
              font-size: 0.7rem;
              border: 0;
              color: $gray-400;
              display: block;
              line-height: 24px;
              height: auto;
            }
            span {
              display: inline-block;
              vertical-align: middle;
              padding-left: 1rem;
              color: $gray-400;
              &.small {
                padding-left: 0;
              }
              &.green-txt, &.red-txt {
                padding-right: 1rem;
              }
            }
          }
        }
        .activity-body{
          padding-top: 2rem;
          ul{
            padding-left: 55px;
            @media (max-width: 768px){
              padding-left: 0;
            }
            li{
              padding: 0.5rem 0;
              position: relative;
              label, span{
                width: 30%;
                display: inline-block;
                @media (max-width: 768px){
                  width: 40%;
                }
                .btn{
                  width: 90%;
                  height: 40px;
                  i{
                    font-size: 1.3rem;
                  }
                  span{
                    width: auto;
                    display: inline-block;
                  }
                }
              }
              i{
                border: 0;
              }
              a{
                margin-top: -3px;
                @media (max-width: 768px){
                  position: absolute;
                  top: -25px;
                  right: 5px;
                }
                .icon_show{
                  font-size: 20px;
                  color: $secondary;
                  & + span{
                    white-space: nowrap;
                  }
                }
              }
              &:last-child{
                span{
                  width: 30%;
                  .btn{
                    padding: 0.375rem 1rem !important;
                    font-size: 14px;
                    width: 90%;
                    margin-right: 1rem;
                    @media (max-width: 768px){
                      padding: 0.375rem 0.3rem !important;
                      width: 100%;
                    }
                  }
                  @media (max-width: 768px){
                    width: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  ul.activity {
    li {
      &.current {
        border-bottom: 1px solid $gray-200;
        padding: 1.2rem 0 1.2rem 1.2rem;
        .activity-head {
          a {
            .icon_arrow-right {
              line-height: 10px;
            }
          }
        }
      }
    }
  }

  ul.paymentlist{
    margin-bottom: 0;
    margin-top: 1rem;
    li{
      &.current {
        border-top: 1px solid $gray-200;
        span{
          line-height: 40px;
        }
      }
    }
  }

  //for favorites page too ------------------------------------

  ul.tab-list{
    margin: 0;
    li{
      &.current{
        border-top: 1px solid $gray-200;
        span{
          line-height: 40px;
        }
        .activity-body{
          padding-top: 0;
        }
        &.fav-list{
          padding: 1.2rem 0;
          &.selected{
            //i{
            //  border: 2px solid $secondary;
            //}
            //.service-name{
            //  color: $secondary;
            //  font-weight: 600;
            //}

          }
        }
      }
    }
  }
  .add-group{
    background-color: $primary;
    color: $white;
    font-size: 20px;
    padding: 2px 9px 5px 9px;
    border-radius: 22px;
    font-style: normal;
    margin-right: 10px;
  }
  .add-group-txt{
    font-size: 16px;
    text-decoration: underline;
  }
  .selected-list{
    @include clearfix();
    padding: 1rem;
    box-shadow: 0 5px 6px $gray-200;
    margin: -1rem -1.2rem 1rem;
    span{
      line-height: 38px;
      margin-right: 2rem;
      &.select-number{
        background-color: $secondary;
        color: $white;
        border-radius: 20px;
        padding: 0 0.8rem;
        margin: 0.55rem 2rem 0.8rem 0;
        line-height: 20px;
        font-size: 14px;
      }
      &.deselect{
        border: 1px solid $gray-400;
        border-radius: 20px;
        font-size: 34px;
        line-height: 17px !important;
        padding: 0 5px 5px;
        width: 24px;
        margin-top: 4px;
      }
    }
    .icon_delete{
      font-size: 22px;
      line-height: 30px;
    }
  }

  // end for favorites page too ----------------------------------



  .d-fb{
    .advers{
      padding-left: 0;
    }
    .profit-box{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.2rem 1.2rem 0.8rem;
      @media (max-width: 768px) {
        padding: 0.4rem 1rem 0.2rem;
      }
      .profit-pic{
        float: left;
        width: 50%;
        @media (max-width: 768px){
          display: none;
        }
      }
      .profit-txt{
        text-align: center;
        @media (max-width: 768px){
          text-align: left;
        }
        .btn.pay{
          width: 140px;
          margin: 1rem auto 0;
          display: block;
          @media (max-width: 768px){
            display: inline-block;
            float: right;
            margin-top: 5px;
          }
        }
      }
    }
  }


  // --payment receipt modal styles--------------

  #receiptModal{
    .modal-content {
      color: $gray-600;
      font-size: 15px;
      padding: 1rem 3rem 0;
      .modal-header {
        .logo-md {
          width: 110px;
          margin: 0 auto;
        }
      }
      .modal-body {
        padding: 0 1rem;
        ul {
          li {
            padding-left: 1rem;
            padding-top: 0.3rem;
            label {
              float: left;
            }
            span {
              float: right;
            }
          }
          .dropdown-divider {
            border-top: 1px solid $gray-200;
          }
        }
      }
      .modal-footer {
        padding-left: 2rem;
        webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        .footer-links {
          margin-left: 0;
          a {
            display: inline-block;
            color: $gray-400;
            padding-right: 2rem;
            .icon_print, .icon_download{
              font-size: 20px;
              color: $primary;
            }
          }
        }
      }
    }
  }
