main{
  padding-top: 80px;
  .clientarea{
    background-color: $gray-100;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.col-*{
  padding-left: 10px;
  padding-right: 10px;
}
.fow{
  margin-right: -10px;
  margin-left: -10px;
}
.container{
  padding-left: 10px;
  padding-right: 10px;
}


/* media visibility
-------------------------------------------------- */

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

//-----------------------------------------------------


input{
  color: $gray-400;
  &::placeholder{
    color: $gray-400;
  }
  &.form-control{
    border-color:  $gray-200;
    color: $gray-400;
  }
}


.row-justify{
  margin-right: -30px;
  margin-left: -30px;
}

ul{
  padding: 0;
}

.marg-just{
  margin-right: -30px;
  margin-left: -30px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: $gray-600;
}

// ---btn & link-btn-------------------------------------

.link-btn{
  display: block;
  text-align: center;
  line-height: 40px;
  color: $gray-400 !important;
  border-radius: 4px;
  border: 1px solid $gray-200;
  border-bottom: 2px solid $secondary;
  &:hover, &.active{
    background: linear-gradient($primary, $secondary);
    border: 1px solid transparent;
    color: $white !important;
  }
  &.green{
    background: linear-gradient($primary, $secondary);
    border: 1px solid transparent;
    color: $white !important;
  }
  &.orange{
    background: $orange;
    border: 1px solid transparent;
    color: $white !important;
  }
}

.btn{
  background: linear-gradient($primary, $secondary);
  border: 1px solid transparent;
  color: $white !important;
  letter-spacing: 1px;
  min-width: 160px;
  @media (max-width: 768px){
    font-size: 0.8rem;
    line-height: 1.2;
  }
  &.btn-white{
    background: $white;
    color: $gray-400 !important;
    border: 1px solid $gray-300;
  }
}

.btn + .btn {
  margin-left: 20px;
}
//--------------------------------------------

p{
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.top-nav {
  .link-btn {
    line-height: 60px;
    position: relative;
    background-color: $white;
    @media (max-width: 1024px) {
      text-align: left;
      padding-left: 60px;
    }
    &:before {
      position: absolute;
      font-family: "UPay-icons" !important;
      display: block;
      left: 1.5rem;
      top: 0;
      color: $secondary;
      font-size: 34px;
      line-height: 60px;
      @media (max-width: 1024px) {
        left: 1rem;
      }
    }
    &:hover, &.active {
      &:before {
        color: #fff;
      }
    }
    &.home {
      &:before {
        content: "\e92f";
      }
    }
    &.pay {
      &:before {
        content: "\e930";
      }
    }
    &.topup {
      &:before {
        content: "\e91f";
      }
    }
    &.transfer {
      &:before {
        content: "\e920";
      }
    }
  }
}

//-------------------------------------------------------

.d-fb{
  display: flex;
}

.whitebox{
     border: 1px solid $gray-200;
     background-color: $white;
     border-radius: 6px;
     padding: 1.2rem;
     @include clearfix();
   }

.whitebox-br{
  padding: 0;
  border-radius: 0;
  border: 1px solid $gray-200;
  background-color: $white;
  @include clearfix();
}

.border-dot{
  border: 0.05rem dashed $gray-400;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
}
.borderless{
  border: 0;
}

.text-upper{
  text-transform: uppercase;
}

h1, .h1 {
  font-size: 3.6rem;
  text-transform: uppercase;
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 2.6rem;
  }
}

h2, .h2, h3, .h3{
  text-transform: uppercase;
}

.title-1{
  font-weight: 600;
  color: #353535;
}

.title-2{
  font-size: 1.2rem;
  font-weight: 300;
  color: $gray-600;
}

.green-txt{
  color: $secondary !important;
}
.green-bg{
  background-color: $primary;
}

.gray-txt{
  color: $gray-300 !important;
}
.gray-bg{
  background-color: $gray-200;
}

.red-txt{
  color: $red !important;
}
.red-bg{
  background-color: $red;
}

.orange-txt{
  color: $orange !important;
}

.orange-bg{
  background-color: $orange;
}


.color-txt-icon{
  color: $gray-600 !important;
}

.txt-uppercase{
  text-transform: uppercase;
}

.pl-45{
  padding-left: 2rem !important;
}

ul, li{
  list-style: none;
}

.w-20{
  width: 20%;
}

.w-75{
  width: 75%;
}

.w-85{
  width: 85%;
}

.w-100{
  width: 100%;
}

.mrg-auto{
  margin: 0 auto;
}
.marg5{
  margin: 5px;
}


.pull-right{
  float: right !important;
}
.pull-left{
  float: left !important;
}

a{
  cursor: pointer;
}

a.read-more{
  margin-top: 1rem;
  display: block;
  font-style: italic;
}
a.see-all{
  display: block;
  color: $gray-400;
}

.shad-box{
  box-shadow: 0 0 10px $gray-400;
}

@media (min-width: 768px) {
  .static-psn{
    position: static !important;
  }
}

@media (max-width: 767px) {
  .static-psn{
    position: relative !important;
  }
}

.aft-none:after{
  display: none !important;
}

data{
  font-size: 0.8rem;
  padding-bottom: 1rem;
  display: block;
}

.card {
  text-align: left;
  margin: 2rem auto 0;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 7px #c1c4cb;
  img{
    max-height: 200px;
    @media (max-width: 1024px){
      max-height: 140px;
    }
  }
  .card-title {
    text-transform: uppercase;
    margin-bottom: 0.3rem;
  }
}
.container-pad{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pagination{
  margin: 2rem 0 0;
    .page-item{
      margin: 0 3px;
      .page-link {
        padding: 0.25rem 0.8rem;
        font-size: 0.8rem;
        line-height: 24px;
      }
      &.disabled{
        color: $gray-200;
      }
    }
}


.row-redirect{
  @media (max-width: 768px) {
  flex-direction: column;
  }
  .col-4, .col-7, .col-5{
    @media (max-width: 768px) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.soc-icon{
  color: $grey-ft-text;
  font-size: 30px;
}

.dropdown-divider{
  border-top: 1px solid $dropdown-divider-bg;
  clear: both;
}

.card-bg{
  width: 100%;
  height: 145px;
  background-color: $gray-300;
}

//---accordion----------------------------------

.accordion {
  border: 1px solid $gray-200;
  .card {
    margin: 0 auto;
    box-shadow: none;
    .card-header {
      background-color: $white;
      padding: 0 0 0 1.6rem;
      border-bottom: 0;
      h5 {
        line-height: 3.5rem;
        border-top: 1px solid $gray-200;
        .btn {
          display: block;
          width: 100%;
          border-radius: 0 !important;
          line-height: 3.5rem;
          padding: 0 !important;
          margin: 0 !important;
          border: 0;
          text-align: left;
          color: $gray-600;
          text-decoration: none;
        }
      }
      &:hover, &.active {
        background-color: $secondary;
        h5 {
          border: 0;
          .btn {
            color: $white;
          }
        }
      }
      .btn-link:hover {
        text-decoration: none;
      }
    }
    &:first-child {
      .card-header {
        h5 {
          border-top: none;
        }
      }
    }
  }
}
//---end accordion----------------------------------


//--MODAL window Styles--------------------------------------

.modal-content{
  padding: 1rem;
  width: 620px;
  .modal-header {
    border: 0;
    .close {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 30px;
      font-weight: normal;
    }
  }

  .modal-footer{
    border: 0;
    justify-content: flex-start;
    flex-direction: column;
  }
}

.fnt-14{
  font-size: 14px;
}

.fnt-18{
  font-size: 18px;
}

.fnt-20{
  font-size: 20px;
}

small, .small {
  font-size: 80%;
  font-weight: 400 !important;
}

.tab-block{
  .nav-tabs{
    margin-bottom: 1rem;
    .nav-item{
      margin: 0;
      border: 0;
      border-bottom: 3px solid transparent;
      padding-bottom: 0.5rem;
      .nav-link{
        padding: 0 4rem;
        border: 0;
        border-right: 1px solid $gray-200;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: $gray-600;
        background-color: $white;
      }
      &:last-child{
        .nav-link{
          border: none;
        }
      }
      &.active{
        border-bottom: 3px solid $secondary;
        .nav-link{
          font-weight: 600;
        }
      }
    }
  }
  .tab-content{

  }
}

// Form inputs styles------------------------------------

::placeholder {
  color: $gray-300 !important;
  opacity: 1; /* Firefox */
  font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $gray-300 !important;
  font-size: 14px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $gray-300 !important;
  font-size: 14px;
}

// floating label for input-------------------------------------------

.has-float-label{
   label, > span{
    color: $gray-300;
    font-size: 16px;
    left: 5px;
    opacity: 1;
  }
  .form-control{
    padding-left: 5px;
    color: $gray-600;
  }
}

.has-float-label input:placeholder-shown:not(:focus) + *,
.has-float-label select:placeholder-shown:not(:focus) + *,
.has-float-label textarea:placeholder-shown:not(:focus) + *{
  font-size: 100%;
  opacity: 1;
  bottom: 5px;
  top: auto;
  left: 5px;
}
.has-float-label input,
.has-float-label select,
.has-float-label textarea {
  font-size: inherit;
  padding-top: 1em;
  margin-bottom: 2px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

//custom checkbox and radio buttons -----------------------------------

.custom-control-label:before,
.custom-file-label,
.custom-select {
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.custom-control-label:before {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: $white;
  border: 1px solid $gray-400;
}

.custom-control-label:after {
  position: absolute;
  top: 0.25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox, .custom-radio {
  .custom-control-input:checked ~ .custom-control-label:before {
    color: #ffffff;
    background-color: $secondary;
    border: 1px solid $secondary;
  }
  .custom-control-input:checked ~ .custom-control-label:after {
    background-image: url(../images/check.svg);
  }
}

.custom-control{
  position: relative;
  display: block;
  height: 16px;
  padding: 0;
  line-height: 16px;
  margin: 0;
  top: -2px;
  &.custom-radio{
    .custom-control-input {
      position: absolute;
      z-index: -1;
      opacity: 0;
      top: 12px;
      left: 0;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
  &.custom-checkbox{
    .custom-control-label {
      position: relative;
      margin-bottom: 0;
      padding-top: 4px;
      &:before{
        border-radius: 3px;
      }
    }
  }
}
