/*-header - navbar---------------------------------------*/

.header-bg{
  background-color: #fff;
  box-shadow: 0 3px 7px $gray-300;
  .container {

    @media (min-width: 992px) {
      max-width: 970px !important;
      padding: 0;
    }
    @media (min-width: 768px) {
      max-width: 760px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px !important;
      padding: 0;
    }

    .navbar-expand-md{
      justify-content: space-between;
    }

    .navbar{
      padding: 0;
      height: 80px;
      @media (max-width: 1359px) {
        height: 70px;
      }
      .navbar-brand {
        display: inline-block;
        padding: 0;
        font-size:0;
        margin-right: 1rem;
        line-height: 1;
        white-space: nowrap;
        width: 82px;
        height: 80%;
        @media (max-width: 767px) {
          padding: 0;
          margin-right: 0;
          line-height: 1;
          height: 40px;
        }
        img{
          height: 100%;
          @media (max-width: 767px) {
            height: 100%;
            width: auto;
          }
        }
      }
      .navbar-nav{
        flex-direction: row;
        @media (max-width: 767px){
          flex-direction: row !important;
        }
        .nav-item {
          .nav-link {
            color: $gray-400;
            line-height: 90px;
            padding: 0 1.6rem;
            @media (min-width: 1200px) {
              padding: 0 1.6rem !important;
            }
            @media (min-width: 992px) {
              padding: 0 1rem;
            }
            @media (min-width: 768px) {
              padding: 0 1rem;
            }
            &.active{
              color: #fff;
              background: linear-gradient(#a2cd3a, #86af23);
            }
          }
          .dropdown-menu{
            min-width: 70px;
            border: 0;
            border-radius: 0;
            padding: 0.5rem;
            .cont-size {
              padding: 0.5rem 5rem;
              @media (min-width: 768px) {
                padding: 0.5rem 0 0.5rem 2.5rem !important;
              }
              .dropdown-item {
                &.bullet{
                  display: inline-block;
                  width: 30%;
                  position: relative;
                  line-height: 60px;
                  padding-left: 30px;
                  color: $gray-400;
                  &:before{
                    display: block;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    top: 44%;
                    left: 0;
                    content: '';
                    background: linear-gradient($primary, $secondary);
                  }
                }
              }
            }
          }

        }
      }
      .right-menu{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        min-width: 385px;
        @media (max-width: 768px) {
          min-width: 330px;
        }
        /*-search box-----------------------------------------*/
        .form-inline {
          @media (max-width: 767px) {
            margin-top: 0 !important;
          }
          .dropdown {
            &.static-psn {
              @media (max-width: 767px) {
                position: static !important;
              }
              .icon_search.lens {
                font-size: 1.4rem;
                color: #353535;
                border-left: 1px solid $gray-400;
                border-right: 1px solid $gray-400;
                padding: 0.2rem 1rem;
                @media (min-width: 768px) {
                  font-size: 1.4rem;
                  color: #353535;
                  border-left: none;
                  border-right: none;
                  padding: 0.2rem 0.5rem;
                }
                @media (min-width: 992px) {
                  font-size: 1.4rem;
                  color: #353535;
                  border-left: 1px solid $gray-400;
                  border-right: 1px solid $gray-400;
                  padding: 0.2rem 1rem;
                }
                @media (max-width: 767px) {
                  font-size: 1.4rem;
                  color: $gray-400;
                  border-left: none;
                  border-right: none;
                  padding: 0;
                }
              }
              .search-box.show {
                height: 90px;
                background-color: rgba(249, 249, 249, 0.8);
                display: flex;
                justify-content: center;
                align-items: center;
                .search-input {
                  border-top: 0;
                  border-left: 1px solid $gray-400;
                  border-right: 0;
                  border-bottom: 0;
                  border-radius: 0;
                  font-size: 20px;
                  padding: 1.4rem 1rem;
                  background-color: transparent;
                  color: $gray-400;
                  outline: none;
                }
              }
              &.show{
                .icon_search.lens {
                  @media (max-width: 767px) {
                    position: relative;
                    z-index: 3000;
                    right: -33px;
                    color: $secondary;
                  }
                }
                .search-box.show{
                  @media (max-width: 767px){
                    font-size: 1rem;
                    padding: 0.8rem 0;
                    height: 55px;
                    top: -2px;
                    left: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: #fff;
                  }
                  a{
                    line-height: 1;
                    .icon_close {
                      color: #353535;
                    }
                  }
                  .search-input {
                    @media (max-width: 767px) {
                      font-size: 1rem;
                      padding: 0 1rem;
                      height: 30px;
                      margin-left: 10px;
                      border-left: 1px solid #dadada;
                    }
                  }
                }
              }
            }

          }


        }
        .icon_user {
          font-size: 20px;
          @media (max-width: 767px) {
            font-size: 22px;
            color: $gray-400;
          }
        }

        /*-languages box-----------------------------------------*/
        .lang{
          padding: 0;
          .aft-none{
            color: $gray-400;
            line-height: 2.7rem;
            span{
              padding-right: 0.5rem;
            }
            i{
              font-size: 0.8rem;
              position: relative;
              z-index: 3000;
            }
          }
          &.show{
            .aft-none{
              i{
                color: $secondary;
              }
            }
          }
        }
        .lang-box{
          width: 78px;
          @media (max-width: 767px){
            text-align: center;
          }
          .lang-box-item{
            display: block;
            color: $gray-400;
            padding-left: 0.5rem;
            &.active{
              color: $secondary;
            }
          }
          &.dropdown-menu{
            &.show {
              display: block;
              width: 77px;
              -webkit-box-shadow: 0 4px 5px #7d7d7d;
              box-shadow: 0 4px 5px $gray-400;
              top: -1px;
              left: -16px;
              padding: 0.5rem;
              min-width: auto;
              border: 0;
              border-radius: 0;
            }
          }
        }

        /*-notifications box-----------------------------------------*/
        .notes{
          position: relative;
          border-left: 1px solid $gray-400;
          border-right: 1px solid $gray-400;
          padding: 0.1rem 0.8rem;
          @media (max-width: 768px){
            border-left: 0;
            border-right: 0;
            padding: 0;
          }
          i{
            font-size: 22px;
            color: $gray-400;
          }
          .notes-number{
            position: absolute;
            right: 9px;
            top: 1px;
            width: 15px;
            height: 15px;
            border-radius: 8px;
            background-color: red;
            font-size: 0.8rem;
            color: #fff;
            text-align: center;
            line-height: 14px;
            padding: 0;
            @media (max-width: 768px){
              right: -2px;
            }
          }
        }

        /*-user-info box-----------------------------------------*/
        .user-block{
          width: 180px;
          .user-foto{
            position: relative;
            z-index: 2000;
            span{
              display: inline-block;
              width: 41px;
              height: 40px;
              border: 1px solid grey;
              border-radius: 20px;
              text-align: center;
              line-height: 34px;
              margin: 4px 10px 4px 0;
              .icon_user-profile{
                font-size: 25px;
                color: $gray-400;
              }
            }
          }
          .user-info{
            width: 129px;
            padding-right: 10px;
            .dropdown-toggle{
              position: relative;
              z-index: 2000;
              display: block;
             @include clearfix();
                .phone{
                  color: $gray-400;
                  font-size: 15px;
                  float: right;
                }
                .amount{
                  color: $secondary;
                  font-size:18px;
                  padding-left: 0;
                  line-height: 20px;
                }
                .icon_arrow-down {
                  font-size: 0.65rem;
                  display: block;
                  float: right;
                  margin: 6px 0 auto 6px;
                  color: $gray-600;
                  z-index: 2000;
                  position: relative;
                }
            }


            .dropdown-menu{
              width: 205px;
              &.show {
                display: block;
                -webkit-box-shadow: 0 4px 5px $gray-300;
                box-shadow: 0 4px 5px $gray-300;
                top: -15px;
                left: -67px;
                padding: 0.5rem;
                min-width: auto;
                border: 0;
                border-radius: 0;
                ul{
                  padding: 55px 0.5rem 0;
                  margin-bottom: 0;
                  li.current{
                    padding: 0.5rem 0;
                    text-align: center;
                    a{
                      font-size: 14px;
                      color: $gray-400;
                      .icon_logout{
                        font-size: 18px;
                      }
                      .icon_settings{
                        font-size: 21px;
                      }
                    }
                  }
                }
              }
            }
          }

        }
      }
    }
  }
}