
//--desktop variant tabs-tabpanels--
.tabs-panels{
  width: 100%;
}

.tabs{
  padding-left: 15px;
  .nav-link{
    border-bottom: 1px solid $gray-200;
    border-right: 25px solid $white;
    border-left: 25px solid $white;
    line-height: 40px;
    text-align: left;
    border-radius: 0;
    color: $gray-600;
    padding: 0.5rem 0;
    font-size: 14px;
    background-color: $white;
    @media (max-width: 1024px){
      text-align: center;
      font-size: 12px;
      line-height: 22px;
    }
    i{
      font-size: 28px;
      color: $secondary;
      margin-right: 1rem;
      @media (max-width: 1024px){
        margin-right: 0;
        font-size: 22px;
        display: block;
      }
    }
    &:hover, &.active {
      background-color: $secondary;
      color: $white;
      border-color: $secondary;
      i{
        color: $white;
      }
    }
    &:last-child{
      border-bottom: 0;
    }
  }
}
.tab-content{
  .tab-pane{
    border: 0;
    .d-flex{
      justify-content: space-between;
      .w-20{
        width: 18%;
        padding: 1rem 2rem;
        text-align: center;
        span{
          display: block;
          clear: both;
          text-align: center;
          margin-top: 1rem;
          padding-left: 0;

        }
      }
    }
  }
}
.form-group{
  &.sr-group {
    position: relative;
    &::before {
      display: block;
      content: $icon_search;
      font-family: "UPay-icons" !important;
      position: absolute;
      left: 1rem;
      top: 0.5rem;
      font-size: 24px;
      color: $gray-400;
      z-index: 10;
    }
    .search-input {
      background-color: #e6e7eb;
      height: 50px;
      font-size: 1.2rem;
      padding: 1rem;
      position: relative;
      border: 1px solid $gray-200;
      padding-left: 50px;
      color: $gray-400;
      &::placeholder{
        color: $gray-400;
      }
      &.white-bg{
        background-color: $white;
      }
    }
    .search-input::placeholder {
      color: $gray-400 !important;
      opacity: 1; /* Firefox */
      font-size: 16px;
    }

    .search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: $gray-400 !important;
      font-size: 16px;
    }

    .search-input::-ms-input-placeholder { /* Microsoft Edge */
      color: $gray-400 !important;
      font-size: 16px;
    }
  }
}

.round-box{
  color: #a2cd3a;
  font-size: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 4px #d1d1d1;
  box-shadow: 0 1px 4px #d1d1d1;
  padding: 1rem;
  display: inline-block;
}

.lines{
  border-top: 1px solid $gray-200;
  border-bottom: 1px solid $gray-200;
  padding: 1.5rem 1rem 1rem;
  margin-top: 1rem;
  @include clearfix();
  p{
    font-size: 15px;
  }
  .form-group{
    display: flex;
    flex-direction: row;
  }
}

.search-result, .collapse-content {
  ul{
    padding: 0 1rem 1rem;
    font-size: 15px;
    li{
      padding: 0 !important;
      label, span{
        width: 40%;
        margin-bottom: 0.3rem;
      }
      span{
        font-weight: 600;
        line-height: 1.3 !important;
      }
    }
  }
  .btn-white{
    span{
      line-height: inherit !important;
    }
  }
  .customer-info {
    background-color: $gray-100;
    margin: 1rem -1.2rem;
    padding: 2rem 2.15rem!important;
  }
}

.collapse-content {
  ul {
    padding: 0 1rem 1rem !important;
  }
}

.card-type{
    background-color: $gray-100;
    padding: 0.8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
      @media (max-width: 768px){
        padding: 0.5rem;
      }
   img{
     width: 35%;
     height: auto;
   }
  span{
    font-size: 15px;
    font-weight: normal !important;
    white-space: nowrap;
    width: 60% !important;
    padding-left: 0.5rem;
    line-height: 18px;
    @media (max-width: 768px){
      font-size: 12px;
      padding-left: 0.3rem;
    }
  }
}