.profile-box{
  width: 400px;
  margin: 2rem auto;
  li{
    .user-foto{
      span{
        display: inline-block;
        width: 66px;
        height: 66px;
        border: 1px solid  $gray-200;
        border-radius: 33px;
        text-align: center;
        line-height: 48px;
        margin: 0 25px 0 0;
        font-size: 35px;
        color: $gray-300;
      }
    }
    .user-info{
      font-size: 14px;
      color: $gray-300;
      .btn.btn-white{
        border-radius: 0 !important;
        font-size: 14px;
        margin-top: 0.5rem;
      }
    }
    &.current{
      padding: 1rem 0.5rem 0.1rem;
      p{
        display: block;
      }
    }
  }
}