
// define any non-bootstrap vars

$font-size-base: 1rem;

$font-family-base: 'Tahoma Armenian', 'Tahoma', sans-serif !important;

$gray-100:     #f4f4f4;
$gray-200:     #d8d9da;
$gray-300:     #c1c4cb;
$gray-400:     #7d7d7d;
$gray-500:     #404041;
$gray-600:     #353535; // body text color
$gray-700:     #3c4044; // footer light
$gray-800:     #25292d; // footer dark
$grey-900:     #3c4044; // navbar-collapse bg
$black:        #000;    // titles color
$grey-ft-text: #7c808f; // footer text color


$primary:   #a2cd3a; // link color, button hover color
$secondary: #86af23; // button color
$success:   #86af23;
$info:      #404041;
$light:     #f7f7f7;
$dark:      #353535;
$white:     #ffffff;

$red:       #ff0000;
$orange:    #f7ba17;
$green:     $secondary;

$icons-color: $secondary;
$icon-box-0:  $gray-200;
$icon-box-00: $red;
$icon-box-1:  #e7c549;
$icon-box-2:  #8790d5;

$font-size-lg:                ($font-size-base * 1.6) !default;
$font-size-sm:                ($font-size-base * 1.4) !default;

$jumbotron-title: 6.2rem;

$h1-font-size:                $font-size-base * 3.6 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.8 !default;
$h4-font-size:                $font-size-base * 1 !default;

$dropdown-divider-bg:         $gray-200 !default;
$border-color:                $gray-200 !default;

$container-max-widths: (
        sm: 540px,
        md: 725px,
        lg: 970px,
        xl: 1140px,
        xxl: 1380px
) !default;

$body-bg:                   $gray-100 !default;
$body-color:                $gray-400 !default;
$body-title:                $gray-600 !default;

$grid-columns:                12 !default;
$grid-gutter-width:           20px !default;

