<!-- irakanum ahavor markup a : petqa poxel ete hascnenq -->
<div class="user-block">
  <iu-ui-drop-down>
    <div iu-ui-header>
      <div class="notes">
        <i class="icon_notification-16"></i>
        <span class="notes-number">2</span>
      </div>
    </div>
    <div iu-ui-body>
      <ul>
        <li class="notification">notification</li>
        <li class="dropdown-divider"></li>
        <li class="notification">notification</li>
        <li class="dropdown-divider"></li>
        <li class="notification">notification</li>
        <li class="dropdown-divider"></li>
        <li class="notification">notification</li>
      </ul>
    </div>
  </iu-ui-drop-down>
</div>


