@import '_variables';

:host ::ng-deep {
  .whitebox {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    min-height: 60vh;
  }

  .content-styles {
    margin: @block-space*2 @block-space 0;
    width: 60%;
    color: @dark;
    letter-spacing: .5px;
  }

  .balance {
    border: 1px solid @gray-200;
    .balance-blok {
      .flex;
      .space-between;
      .center-top;
      position: relative;
      padding: @block-space/3*2 @block-space*2;
      span {
        padding: 10px 0 10px 40px;
        position: relative;
        min-width: 170px;
        width: auto;
        //text-align: right;
        line-height: 26px;
        i {
          width: 26px;
          height: 26px;
          text-align: center;
          line-height: 26px;
          color: @white;
          background: @primary;
          border-radius: 50%;
          position: absolute;
          top: 10px;
          left: 0;
        }
      }

      &.in {
        // default
      }

      &.out {
        span {
          i {
            background: @red;
          }
        }
      }

      &.commision {
        span {
          i {
            background: @orange;
          }
        }
      }

      &.saldo {
      }

      &:not(:last-child) {
        &:before{
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          border-bottom: 1px solid @gray-200;
        }
      }
    }
  }

  .close-day {
    .flex {
      & > div{
        flex: 1;
        width: 50%;
        .body {
          margin-top: @block-space;
          //min-height: 150px;
          & > div{
            padding: @block-space/2 0;
          }
          .send-button{
            margin: @block-space*2 auto 0;
            //text-align: center;
          }
        }

        .heading {
          text-align: center;
          font-weight: bold;
        }

        &:first-child {
          padding-right: @block-space/2*5;
          border-right: 1px solid @gray-200;
          .body {
            & > div{
              font-size: .9rem;
            }
            .diff {
              font-size: 1rem;
              margin-top: @block-space/2;
              padding-top: @block-space/2*3;
              border-top: 1px solid @gray-200;
              font-weight: bold;
            }
          }
        }
        &:last-child {
          padding-left: @block-space/2*5;
          .heading{
            text-align: left;
          }
        }
      }
    }

    button {
      .btn;
      .btn-green;
      .btn-rounded;
      .btn-large;
      text-transform: uppercase;

    }
  }

}
