<div>
  <div class="white-bg-tabs">
    <upay-tabs [tabs]="transactionHistoryPageTabs" translationprefix="navigation.tabs.historyTabs."></upay-tabs>
  </div>
  <div class="whitebox">
    <router-outlet></router-outlet>
  </div>
</div>
