
// define any non-bootstrap vars

@font-size-base: 1rem;

@font-family-base: 'Tahoma Armenian', 'Tahoma', sans-serif !important;

@gray:         #e6e7eb;
@gray-100:     #f4f4f4;
@gray-200:     #d8d9da;
@gray-300:     #c1c4cb;
@gray-400:     #7d7d7d;
@gray-500:     #404041;
@gray-600:     #353535; // body text color
@gray-700:     #3c4044; // footer light
@gray-800:     #25292d; // footer dark
@grey-900:     #3c4044; // navbar-collapse bg
@black:        #000;    // titles color
@grey-ft-text: #7c808f; // footer text color


@primary:   #a2cd3a; // link color, button hover color
@secondary: #86af23; // button color
@success:   #86af23;
@info:      #404041;
@light:     #f7f7f7;
@dark:      #353535;
@white:     #ffffff;

@red:       #ff0000;
@orange:    #f7ba17;
@green:     @secondary;

//@icons-color: @secondary;
//@icon-box-0:  @gray-200;
//@icon-box-00: @red;
//@icon-box-1:  #e7c549;
//@icon-box-2:  #8790d5;
//
//@font-size-lg:                (@font-size-base * 1.6) !default;
//@font-size-sm:                (@font-size-base * 1.4) !default;
//
//@jumbotron-title: 6.2rem;
//
//@h1-font-size:                @font-size-base * 3.6 !default;
//@h2-font-size:                @font-size-base * 2 !default;
//@h3-font-size:                @font-size-base * 1.8 !default;
//@h4-font-size:                @font-size-base * 1 !default;
//
//@dropdown-divider-bg:         @gray-200 !default;
//@border-color:                @gray-200 !default;
//
//@container-max-widths: (
//        sm: 540px,
//        md: 725px,
//        lg: 970px,
//        xl: 1140px,
//        xxl: 1380px
//) !default;
//
//@body-bg:                   @gray-100 !default;
//@body-color:                @gray-400 !default;
//@body-color:                @gray-400 !default;
//@body-title:                @gray-600 !default;
//
//@grid-columns:                12 !default;
//@grid-gutter-width:           20px !default;

@container-width: 1140px;
@block-space: 20px;
@radius: 6px;


// ----------------------------------- mixins

// transitin
.transition {
  transition: all .3s ease-in-out;
}

// flex related
.flex { display: flex; }
.wrap { flex-wrap: wrap; }
.col { flex-direction: column; }
.row{ flex-direction: row; }
.center-top { align-items: center; }
.center-left { justify-content: center; }
.float-right { margin-left: auto; }
.space-between { justify-content: space-between; }

// btn
.btn {
  font-size: 1rem;
  border: none;
  padding: 0.375rem 1rem;
  margin: 1px;
  .transition;
}

.btn-green {
  color: @white;
  background: @primary;

  &:hover {
    color: @gray-500;
  }
}

.btn-transparent {
  background: none;
  border: 1px solid @gray-400;
  color: @gray-600;

  &:hover {
    color: @primary;
    border: 1px solid @primary;
  }
}

.btn-rounded {
  border-radius: 1.4rem;
}

.btn-large {
  letter-spacing: 1px;
  min-width: 160px;
}

.btn-text {
  padding: 0;
  border: none;
  background: transparent;
  color: @secondary;

  &:hover {
    color: @gray-400;
  }
}

// white box
.whitebox {
  border: 1px solid @gray-200;
  background-color: @white;
  border-radius: @radius;
  padding: 1.2rem;
}

.text-btn{
  float: right;
  color: @green;
  background:none;
  border:none;
  cursor: pointer;
}

// title
.title {
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 1.2;
  color: @gray-600;
}
