// ACTIVITY & FAVORITE dropdowns
.iu-ui-date {
  line-height: 40px;
  font-weight: 600;
  color: @dark;
}

.iu-ui-activity-data-list-item {
  border-bottom: 1px solid @gray-200;
  cursor: pointer;
}

// head
.iu-ui-favorite-head {
  cursor: pointer;
}

.iu-ui-activity-head, .iu-ui-activity-body {
  .flex;
  .center-top;
  padding: 1.2rem 0 1.2rem 1.2rem;
}

.iu-ui-activity-head-left-block {
  .flex;
  .center-top;

  i {
    font-size: 26px;
    color: @primary;
    padding: 0.6rem;
    border: 1px solid @gray-200;
    border-radius: 23px;
    height: 46px;
    margin-right: 1rem;
  }

  .iu-ui-activity-head-text {
    .flex;
    .col;
  }

  .iu-ui-activity-head-time {
    font-size: 80%;
  }
}

.iu-ui-activity-head-right-block {
  .flex;
  .float-right;
}

.iu-ui-negative { color: @red; }
.iu-ui-positive { color: @green; }

.toggle-icon {
  font-size: 0.7rem;
  padding: 0.6rem;
}

// body -- mainly Activity
.iu-ui-activity-body, .iu-ui-favorite-body-container {
  button {
    .btn;
    .btn-large;
  }
}

.iu-ui-activity-body-element {
  .flex;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;

  label {
    width: 40%;
  }
}

.iu-ui-activity-body-btns {
  margin-top: @block-space;

  span {
    margin-right: @block-space;

    &:nth-last-of-type {
      margin-right: 0;
    }
  }
}

.iu-ui-btn-pay {
  button {
    .btn-green;
    .btn-rounded;
  }
}

.iu-ui-btn-favorite, .iu-ui-btn-basket, .iu-ui-btn-recurrent {
  button {
    .btn-transparent;
    .btn-rounded;
    border: 1px solid @gray-300;
    color: @gray-400;
  }
}

// body -- mainly Favorite
.iu-ui-favorite-body-container {
  .iu-ui-favorite-body-container-block {
    border-bottom: 1px solid @gray-200;
    padding: 1.2rem;

    &:first-of-type {
      padding-top: 0;
      background: @gray-100;
      border-bottom: none;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }

  h4{
    font-weight: 600;
    color: @dark;
    padding-top: 1.2rem;
  }
}

iu-ui-customer-debit-pay-form { width: 100%; }

.iu-ui-favorite-body-description-element {
  .flex;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;

  label {
    width: 40%;
  }
}

.iu-ui-favorite-body-method {
  display: flex;

  li {
    margin-right: @block-space;

    button {
      .flex;
      .center-top;
      height: 100%;
      max-width: 150px;
      border: 2px solid @gray-200;
      border-radius: @radius;
      background-color: @gray-100;
      padding: 0.8rem;
      .transition;

      img {  width: 70%; }

      i { font-size: 2rem;}

      &:hover {
        border: 2px solid @primary;
        .transition;
      }
    }

    img {
      padding: 0 10px;
    }
  }
}

.iu-ui-favorite-body-amount-element {
  .iu-ui-form {
    .flex;

    input {
      display: block;
      width: 100%;
      height: 30px;
      border: 1px solid #d8d9da;
      color: #7d7d7d;
      margin-right: 1.5rem !important;
    }

    iu-ui-button {
      button {
        .btn;
        .btn-green;
        .btn-rounded;
      }
    }
  }

  .iu-ui-extra {
    .flex;
    font-size: .8rem;
    font-weight: 400;

    .iu-ui-extra-text {
      margin-right: 100px;
    }
  }
}

.iu-ui-favorite-body-btns {
  margin-top: @block-space;

  span {
    margin-right: @block-space;

    &:nth-last-of-type {
      margin-right: 0;
    }
  }
}



