// info banner in HOMEPAGE && UWALLET page

.info-banner-container  {
  padding: 3rem 0;
  background: white;

  .info-banner-wrapper {
    .flex;
    .center-top;
  }

  .info-banner-title {
    .title;
    font-size: 1.8rem;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  .info-banner-item{
    .title {
      text-transform: uppercase;
      font-weight: 600;
      color: @gray-600;
    }

    .decsription {
      margin-bottom: 1rem;
    }
  }

  &.homepage {
    .info-banner-item{
      padding-left: 2rem;
      position: relative;
      border-left: 1px solid @gray;

      .order {
        content: '';
        display: block;
        width: 30px;
        height: 50px;
        background: @white;
        font-size: 2.12rem;
        font-weight: 600;
        color: @gray;
        text-align: center;
        position: absolute;
        top: -8px;
        left: -15px;
      }
    }
  }

  &.service-page {
    .info-banner-wrapper {
      position: relative;
    }

    .info-banner-title {
      text-align: center;
    }

    .info-banner-items {
      .flex;
      .wrap;
      .space-between;
    }

    .info-banner-item {
      width: 25%;
      margin-bottom: @block-space * 4;
      padding-top: 57px;
      position: relative;

      i {
        display: block;
        width: 47px;
        line-height: 47px;
        border-radius: @radius;
        color: @white;
        font-size: 2rem;
        text-align: center;
        background: @primary;

        position: absolute;
        top: 0;
      }

      &:nth-child(1), &:nth-child(3) {
        margin-right: 25%;
        text-align: right;

        i {
          right: 0;
        }
      }

      &:nth-child(2), &:nth-child(4) {
        i {
          ledt: 0;
        }
      }
    }

    .info-banner-img {
      display: block;
      width: 590px;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

}
