// sign in && sign up && forgot ------ common code
.popup-wrapper {
  .logo {
    margin-bottom: @block-space*3;

    img {
      width: 94px !important;
    }
  }

  .cta-btn {
    button {
      .btn;
      .btn-green;
      .btn-rounded;
      min-width: 100%;
      text-transform: uppercase;
      padding: @block-space / 3 * 2 ;
      margin-top: @block-space * 2 ;
      letter-spacing: 1px;
    }
  }

  .form {
    input {
      width: 100%;
      color: @gray-400;
      border: none;
      border-bottom: 1px solid @gray-400;
      margin-top: @block-space;
      padding: @block-space/2;
      background: transparent;
    }
  }

  .extra{
    text-align: right;

    button {
      .btn;
      .btn-transparent;
      border: none;
      font-weight: 700;
    }
  }
}


// sign in
.forget-password {
  button {
    .btn;
    .btn-transparent;
    border: none;
    padding-left: 0;
    font-weight: 700;
    font-size: .8rem;
  }
}

.terms {
  text-align: center;
  font-size: .8rem;
  padding: @block-space;
  margin-bottom: @block-space;
}

// check view
.invoice {
  & > div{
    & > div{
      & > div{
        &:first-child{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: @block-space;
          & > div{
            img{
              width: 94px;
            }
          }
        }
        &:not(:first-child){
          & > div{
            display: flex;
            justify-content: space-between;
            margin-top: @block-space/4;
            span{
              b{

              }
              &:last-child{
                text-align: right;
              }
            }
          }
          hr{
            margin-top: @block-space/4;
          }
        }
        &:last-child{
          & > div{
            margin-top: @block-space/4*3;
          }
        }
      }
    }
  }
}
