<iu-ui-data-list [dataSource]="activityDataSource">

  <ng-template let-item>
    <iu-ui-activity-data-list-item [activityData]="item.data"
                                   [iconClassName_toggle]="iconClassName_toggle"
                                   [iconClassName_fav]="iconClassName_fav"
                                   [iconClassName_recurrent]="iconClassName_recurrent"
                                   (showDetailsClick)="onOpenActivity($event)"
                                   (payAgainClick)="onActivityPayAgainClick($event)"
                                   (favoriteClick)="onActivityFavoriteClick($event)"
                                   (recurrentClick)="onActivityRecurrentClick($event)">

    </iu-ui-activity-data-list-item>

  </ng-template>

</iu-ui-data-list>
