<div class="balance content-styles">
  <div class="balance-blok init">
    Սկզբնական մնացորդ
    <span>
      <i class="icon_dram"></i>
      {{openingBalance}}
    </span>
  </div>
  <div class="balance-blok in">Մուտք դրամարկղ <span><i class="icon_dram"></i>{{amountIn}}</span></div>
  <div class="balance-blok in">Անկանխիկ <span><i class="icon_dram"></i>{{cashlessOut}}</span></div>
  <div class="balance-blok out">Ելք դրամարկղից <span><i class="icon_dram"></i>{{amountOut}}</span></div>
  <!--<div class="balance-blok commision">Հաճախորդից պահված միջնորդավճար <span><i class="icon_dram"></i>{{commissions}}</span></div>-->
  <div class="balance-blok saldo">Վերջնական մնացորդ <span><i class="icon_dram"></i>{{currentBalance}}</span></div>
</div>
