//@import '_variables';
//
//.balance{
//  width: 60%;
//
//  .balance-blok {
//    .flex;
//    .space-between;
//    //padding: 15px;
//
//    span {
//      padding: 10px 0;
//      position: relative;
//      width: 200px;
//      text-align: right;
//
//      i {
//        .flex;
//        .center-top;
//        .center-left;
//        width: 30px;
//        height: 30px;
//        color: @white;
//        background: @primary;
//        border-radius: 50%;
//        position: absolute;
//
//        top: 0;
//        left: 10px;
//        bottom: 0;
//        margin: auto;
//      }
//    }
//
//    &.out {
//      span {
//        i {
//          background: @red;
//        }
//      }
//    }
//
//    &.commision {
//      span {
//        i {
//          background: @orange;
//        }
//      }
//    }
//
//    &.saldo {
//      border-top: 1px solid @gray-200;
//    }
//  }
//}
