@import 'lavash-variables-and-mixins';

@border : @toxic;
@light: #f4f4f4;
@black_l: #190808;
@white: #fafafa;
@white_l: #e4e4e4;
@white_ll: #bfbfbf;
@introBg: #000;
@logoColor: @toxic_b;


@toxic: #bcdcff;
@toxic_b: #263547;
@transparent: rgba(0, 0, 0, 0.7);
@blue_tr: rgba(38, 53, 71, .36);


// animation
@Duration-1 : .3s;
@Duration-2 : .5s;

// used for intro
@Delay-1 : 1s;
@Delay-2 : @Delay-1 + @Duration-2;
@Delay-3 : @Delay-2 + @Duration-2;
@Delay-4 : @Delay-3 + .2;

// used for container
//@Delay-5 : @Delay-4 + .1;
@Delay-5 : 0s;

@portfolioItem: 250px;

@contact-bg: '/l-hovhanni-assets/img/static/bg1.jpeg';
@about-bg: '/l-hovhanni-assets/img/static/about1.jpg';
@about-bg1: '/l-hovhanni-assets/img/static/about3.jpg';
@portfolio-bg: '/l-hovhanni-assets/img/static/IMG_8476-2.jpg';
@not-found-bg: '/l-hovhanni-assets/img/static/404.jpg';
@video-bg: '/l-hovhanni-assets/img/static/gramaphone2.jpg';
@stories-bg: '/l-hovhanni-assets/img/static/isolation.jpg';

