.invoice {
  & > div{
    & > div{
      & > div{
        &:not(:first-child){

          & > div{

          }
        }
        img{
          max-width: 80px;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
