<lavash-event-container (scrollEvent)="onScroll($event)">
  <div class="toolbar"
       [ngClass]="fixToolBar ? 'fix' : ''">
    <div class="modes left flex center-top">
      <ng-content select=".l"></ng-content>
    </div>
    <div class="modes right flex center-top">
      <ng-content select=".r"></ng-content>
    </div>
  </div>
</lavash-event-container>