<iu-ui-download-link [link]="link" [text]="text">
  <iu-ui-icon [type]="iconClassName" *ngIf="iconClassName"></iu-ui-icon>
  <iu-ui-img [src]="src" [alt]="alt" *ngIf="src"></iu-ui-img>
</iu-ui-download-link>

