@import '../../../assets/less/_vars';

section {
  .flex;
  flex-direction: column;

  &:after {
    background: black url(@stories-bg) no-repeat center center;
    background-size: cover;
  }
}

.portfolio {
  position: relative;
  min-height: 200px;
  border: 1px solid @toxic_b;
  margin-top: 20px;
  padding: 3px;
}

@media screen and (max-width: @mobile) {
  :host ::ng-deep {
    .column {
      flex: 100% !important;
      max-width: 100% !important;
    }
  }
}
