<section class="bg">
  <app-toolbar>
    <!--left part-->
    <lavash-button
            class="mode l"
            text="Photos"
            (clickEvent)="routeManagementService.navigate('portfolio')">
    </lavash-button>
    <lavash-button
            class="mode l active"
            text="Story telling">
    </lavash-button>
    <lavash-button
            class="mode l"
            graphics="icon-video2"
            (clickEvent)="routeManagementService.navigate('videos')">
    </lavash-button>
    <!--right part-->
    <div class="items r">{{stories.length}} stories so far</div>
  </app-toolbar>
  <div class="portfolio">
    <app-grid-container [items]="stories"
                        [columns]="columns"
                        (cardBtnClickEvent)="onOpenPopup($event)">
    </app-grid-container>
  </div>
</section>


