<div class="dashboard">
  <div class="flex">
    <!-- sidebar -->
    <div class="flex col w-25">
      <div class="whitebox user-data" style="height: 100px">
        user info [not implemented yet]
      </div>
      <!-- Transfer banner -->
      <app-transfer-action-card></app-transfer-action-card>
    </div>

    <div class="flex col w-75">
      <div class="whitebox activity">
        <app-transaction-data-list [hasPagination]="false"
                                   [pageSize]="3">
        </app-transaction-data-list>

        <div class="bottom-link">
          <iu-ui-link link="/client/history">
            See All
          </iu-ui-link>
        </div>
      </div>

      <div class="flex banner">
        <div class="w-50 banner-img">
          <iu-ui-img src="assets/img/client/addes.jpg"></iu-ui-img>
        </div>
        <div class="w-50">
          <app-pay-action-card></app-pay-action-card>
        </div>
      </div>

      <div class="whitebox favorites">
        <app-favorites [pageSize]="3"
                       [title]="'pages.cards.favorites' | translate">

        </app-favorites>

        <div class="bottom-link">
          <iu-ui-link link="/client/favorites">
            See All
          </iu-ui-link>
        </div>
      </div>
    </div>
  </div>
</div>






<!--<div class="row mt-4 row-justify">-->
  <!--&lt;!&ndash; SIDEBAR &ndash;&gt;-->
  <!--<div class="col-md-4 col-lg-3">-->
    <!--&lt;!&ndash; USER BAR GOES HERE : TODO &ndash;&gt;-->
    <!--<div class=" whitebox">-->
      <!--<ul class="user-data text-center">-->
        <!--<li>-->
          <!--<p class="txt-uppercase">AIDA HAMBARCUMYAN [hardcoded component]</p>-->
        <!--</li>-->
        <!--<li>-->
          <!--<p class="txt-uppercase">CARD NUMBER</p>-->
          <!--<p><b>5554 xxxx xxxx 1236</b></p>-->
        <!--</li>-->
        <!--<li>-->
          <!--<p>Expiration date</p>-->
          <!--<p><b>Valid 07/20</b></p>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a href="" class="red-txt">Remove card</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--&lt;!&ndash; Transfer banner &ndash;&gt;-->
    <!--<app-transfer-action-card>-->

    <!--</app-transfer-action-card>-->
  <!--</div>-->

  <!--&lt;!&ndash; Activity NEW&ndash;&gt;-->
  <!--<div class="col-md-8 col-lg-9">-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 col-lg-12 whitebox">-->
        <!--<app-activity [title]="'pages.cards.activity' | translate"></app-activity>-->
        <!--<a routerLink="/client/history"-->
           <!--class="see-all text-center"> See All Activities </a>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 col-lg-6 mt-4">-->
        <!--<iu-ui-img src="assets/clientarea/images/addes.jpg"></iu-ui-img>-->
      <!--</div>-->
      <!--<div class="col-md-12 col-lg-6 mt-4">-->
        <!--<app-pay-action-card></app-pay-action-card>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-md-12 col-lg-12 whitebox mt-4">-->
        <!--<app-favorites></app-favorites>-->
        <!--<a href=""-->
           <!--routerLink="/client/favorites"-->
           <!--class="see-all text-center"> See All Favorites </a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->





