@import "../../../assets/less/_variables";

.dashboard {
  .user-data {
    margin-bottom: @block-space;
  }

  .banner {
    margin-top: @block-space;

    .banner-img {
      margin-right: @block-space;
    }
  }

  .w-25 {
    margin-right: @block-space;
  }

  .favorites {
    margin-top: @block-space;
  }
}

:host ::ng-deep {
  .bottom-link{
    text-align: center;
    margin-top: @block-space;
    iu-ui-link{
      a{
        color: @primary;
        letter-spacing: 1px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
        .transition;
        &:hover{
          opacity: .8;
        }
      }
    }
  }

}
