@import '../../../assets/less/variables.less';

.l-popup-container {
  background: rgba(0,0,0, .95);
  width: 100%;
  min-height: 100vh;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999999999999999999999;


  .l-close {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
  }
}