
year
<ui-select [options]="yearsData"
           viewKey="label">
</ui-select>

month
<ui-select [options]="monthsData"
           viewKey="label">
</ui-select>

day
<ui-select [options]="daysData"
           viewKey="label">
</ui-select>
