<!-- filter-->
<div class="upay-filter whitebox support">
  <upay-business-data-filter (search)="onSearchData($event)"
                             [isSearchOnInit]="false"
                             [activeFilters]="activeFilters"
                             [hasAmountIntervalFilter]="false"
                             [hasDateIntervalFilter]="false"
                             [hasResetButton]="false">
  </upay-business-data-filter>

  <!--transaction details-->
  <div class="open-claim">
    <app-claim-card [claimSearchResult]="searchResult">
    </app-claim-card>
  </div>
  
  <!--claim already exist error-->
  <div class="error isCancellationClaimAcceptable" *ngIf="searchResult.length && !isCancellationClaimAcceptable">
    {{'error.claimAlreadyExists' | translate}}
  </div>
</div>

<!--claim type select-->
<div class="cta claim-type-buttons" *ngIf="searchResult.length && isCancellationClaimAcceptable">
  <iu-ui-button [text]="'buttons.claimByOperator' | translate"
                (click)="openClaim('operator')">
  </iu-ui-button>
  <iu-ui-button [text]="'buttons.claimByUser' | translate"
                (click)="openClaim('customer')">
  </iu-ui-button>
</div>
