<span class="flex col">
    <span *ngIf="photo"
            class="project">
      {{topics[photo.project]}}
      <span *ngIf="exLink[photo.project]">
        |
        <lavash-link *ngIf="exLink[photo.project]"
           [href]="exLink[photo.project].link"
           target="_blank"
           [text]="exLink[photo.project].platform">
        </lavash-link>
      </span>
    </span>

    <span class="author" *ngIf="photographer">
        {{introText}} <a [href]="phLink[photographer]" target="_blank">{{ph[photographer]}}</a>
    </span>
</span>