<div class="transaction-log">
  <upay-business-data-table #businessDataTableComponentRef
                            [columnsConfig]="columnsConfig"
                            [dataSource]="dataSource"
                            [totalItems]="totalItems"
                            [activeFilters]="activeFilters"
                            [hasFilter]="false"
                            (getDataSource)="getFailedTransactions($event)"
                            (rowActionClick)="onRowActionClick($event)">
  </upay-business-data-table>
</div>

<!--<div class="transaction-log">-->
<!--<upay-business-data-table [columnsConfig]="columnsConfig"-->
<!--                          [dataSource]="dataSource"-->
<!--                          [totalItems]="totalItems"-->
<!--                          [activeFilters]="activeFilters"-->
<!--                          (getDataSource)="getFailedTransactions($event)"-->
<!--                          (rowActionClick)="onRowActionClick($event)">-->
<!--</upay-business-data-table>-->
<!--</div>-->
