<a  *ngIf="!routingLink"
    [href]="href || '#'"
    [target]="target || '_self'">
    <span *ngIf="text">{{text}}</span>
    <lavash-icon *ngIf="icon"
                 [iconClassName]="icon">
    </lavash-icon>
</a>


<a  *ngIf="routingLink"
    [routerLink]="href || '#'"
    routerLinkActive="l-active-route"
    [target]="target || '_self'">

    <span *ngIf="text">{{text}}</span>
    <lavash-icon *ngIf="icon"
                 [iconClassName]="icon">
    </lavash-icon>
</a>
