<div class="popup-wrapper">
  <div [innerHtml]="sanitized.bypassSecurityTrustHtml(html)">
  </div>
  <iu-ui-button *ngIf="!printOrder"
                [text]="'buttons.confirm' | translate"
                (click)="onSubmit()">
  </iu-ui-button>
  <iu-ui-button *ngIf="printOrder"
                [text]="'buttons.print' | translate"
                (click)="onPrint()">
  </iu-ui-button>
</div>
