<div class="page-wrapper service-page">
  <div class="info-banner-container service-page">
    <div class="app-container">
      <app-info-banner title="Uwallet" src="assets/img/uwallet.png" [items]="uwalettItems"></app-info-banner>
    </div>
  </div>
  <!--<img src="assets/img/uwallet.png" />-->
  
  
  <!--todo create tab-->
  <div>
    <iu-ui-link link="/service/pay"> pay </iu-ui-link>
    <iu-ui-link link="/service/transfer"> transfer </iu-ui-link>
    <iu-ui-link link="/service/top-up"> top up </iu-ui-link>
  </div>
  <router-outlet></router-outlet>
</div>
