@import "../../../assets/less/_variables";

:host ::ng-deep {
  .info {
    padding: 3rem 0;
    background: white;

    .info-banner-wrapper {
      .flex;
      .center-top;
    }

    .info-banner-title {
      .title;
      font-size: 1.8rem;
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 3rem;
    }

    .info-banner-items {
      .flex;
      .wrap;
      .space-between;
    }

    .info-banner-item{
      width: 35%;
      padding-left: 2rem;

      .title {
        text-transform: uppercase;
        font-weight: 600;
        color: @gray-600;
      }

      .decsription {
        margin-bottom: 1rem;
      }
    }

  }
}
