<div class="page-wrapper report-log">
  <upay-business-data-table [columnsConfig]="columnsConfig"
                           [activeFilters]="activeFilters"
                           [dataSource]="dataSource"
                           [totalItems]="totalItems"
                           [hasAmountIntervalFilter]="false"
                           [hasExportExcel]="true"
                           [footerDataSource]="footerDataSource"
                           footerLabelText="widgets.reportDetails.text.total"
                           (exportExcel)="downloadPartnersReport($event)"
                           (getDataSource)="getPartnersReports($event)">
  </upay-business-data-table>
</div>
