<div class="project flex center-top"
     [ngClass]="project === currentProject ? 'active' : ''"
     (click)="changeProject(project)">
  <div class="project-img">
    <lavash-image [src]="imgPath + project.src">
    </lavash-image>
  </div>
  <div class="project-info flex col">
    <span class="project-name">Project: {{project.name}}</span>
    <app-ph-link [photographer]="project.photographer">
    </app-ph-link>
  </div>
</div>