<!--<iu-ui-link [link]="link" [customClass]="customClass" [text]="text">-->

<!--</iu-ui-link>-->

<iu-ui-button  [text]="text">
  <iu-ui-icon [type]="iconClassName" *ngIf="iconClassName"></iu-ui-icon>
  <iu-ui-img [src]="src" [alt]="alt" *ngIf="src"></iu-ui-img>
</iu-ui-button>



