<div class="flex space-between change-pass">
  <div class="whitebox w-25">
    <i class="icon-user icon_user-profile"></i>
    <p><b>{{currentUser?.forename}} {{currentUser?.surname}}</b></p>
    <p>{{'pages.profile.text.username' | translate}}: {{currentUser?.username}}</p>
    <p>{{'pages.profile.text.phone' | translate}}: {{currentUser?.phone}}</p>
    <p>{{'pages.profile.text.email' | translate}}: {{currentUser?.email}}</p>
    <!--<p>{{'pages.profile.text.scope' | translate}}: {{currentUser?.scope}}</p>-->
  </div>
  <div class="whitebox w-75 profile popup-wrapper">
    <h1>{{'pages.profile.text.change_pass' | translate}}</h1>
    <div class="flex col form">
      <input [placeholder]="'pages.profile.placeholder.old_pass' | translate"
             type="password"
             [(ngModel)]="oldPass">
      
      <input [placeholder]="'pages.profile.placeholder.new_pass' | translate"
             type="password"
             [(ngModel)]="newPass">
      
      <input [placeholder]="'pages.profile.placeholder.confirm_pass' | translate"
             type="password"
             [(ngModel)]="confirmPass">
      <div class="cta-btn">
        <iu-ui-button (click)="onResetPassword()" [text]="'pages.profile.text.change_pass' | translate">
        </iu-ui-button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
