<app-intro-component></app-intro-component>
<lavash-event-container (scrollEvent)="onScroll($event)">
  <div class="mainLayout">
    <div class="container">
      <app-header-component [ngClass]="fixToolBar ? 'fix' : ''"></app-header-component>
    </div>
    <router-outlet></router-outlet>
    <app-footer [photographer]="photographer">
    </app-footer>
    <app-popup></app-popup>
  </div>
</lavash-event-container>
