<div class="whitebox filter">
  <!--todo : poxel business filterov-->
  <app-user-filter (search)="onSearch($event)" [options]="options"></app-user-filter>

  <div class="support-user-list">
    <!-- user list -->
    <app-customer-card  *ngIf="customers && customers.length"
      [customerSearchResult]="customers"
      (selectUser)="selectUser($event)">
    </app-customer-card>
    <!-- pagination -->
    <div class="upay-pagination">


      <iu-ui-pagination *ngIf="totalItems > pageSize"
                        [itemsPerPage]="pageSize"
                        [maxSize]="5"
                        [rotate]="false"
                        [totalItems]="totalItems"
                        (pageChange)="pageChange($event)">
      </iu-ui-pagination>
    </div>
  </div>
</div>
