<header>
  <div class="app-container">
    <div class="flex center-top header-flex">
      <!-- logo -->
      <iu-ui-link link="/">
        <iu-ui-img src="shared-assets/img/logo.svg" alt="UPay-logo">
        </iu-ui-img>

      </iu-ui-link>
      <!-- navigation -->
      <div class="left-nav">
        <iu-ui-navigation>
          <iu-ui-navigation-item *ngFor="let item of headerNavigationList" [item]="item">
            <span>{{ item.text | translate }}</span>
          </iu-ui-navigation-item>
        </iu-ui-navigation>
      </div>
      <!-- right block -->
      <div class="flex center-top float-right">
        <!-- avatar -->
        <app-avatar *ngIf="isAuth"></app-avatar>
      </div>
    </div>
  </div>
</header>
