<div class="l-uploaded-files" *ngIf="files">
  <div class="l-file" *ngFor="let file of files, let i = index">
    <!-- todo draw filenames after networking-->
    <span>{{'f_' + file.name.substring(0, 5) + file.name.substring(file.name.indexOf('.'))}}</span>
    <lavash-button (click)="onDeleteFile(file.name)">
    </lavash-button>
  </div>
</div>
