@import '_variables';


:host ::ng-deep {
  .filters{
    padding-top: @block-space;
  }
  .upay-table {
    tbody{
      td{
        div{
          padding: 0;
          span{
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
          }
        }
      }
      tr{
        td {
          color: #434753;
          // letter-spacing: 1px;
          .transition;

          iu-ui-icon{
            display: block;
            width: 32px;
            height: 32px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            background: #A0BD40;
            i{
              font-size: 1rem;
              line-height: 32px;
              color: #ffffff;
            }
          }

          &.bold_text{
            font-weight: 600;
          }

          & > div{
            .transition;
            display: block;
            text-align: left;
            font-size: .75rem;
            letter-spacing: 1px;
            // text-transform: uppercase;
          }

          &.amount{
            font-size: .75rem;
            font-weight: 600;
            color: #86AF29;
          }

          &.state_success {
            //background: @primary;
            //color: @white;
            & > div{
              margin: 0 auto;
              padding: @block-space/3*2;
              font-weight: bold;
              color: @green;
              border: 1px solid @green;
              background-color: #E8F7B6;
              text-align: center;
            }
            &.success_completed {
              & > div {
                color: #ffffff;
                border: 1px solid @green;
                background-color: @green;
                text-align: center;
              }
            }
          }

          &.state_error {
            //background: @red;
            //color: @white;
            & > div{
              margin: 0 auto;
              padding: @block-space/3*2;
              font-weight: bold;
              color: @red;
              border: 1px solid @red;
              background-color: #FBD5DE;
              text-align: center;
            }
            &.rejected_completed{
              & > div {
                 color: #ffffff;
                 border: 1px solid @red;
                 background-color: @red;
              }
            }
          }

          &.state_warning {
            //background: @orange;
            //color: @white;
            & > div{
              margin: 0 auto;
              padding: @block-space/3*2;
              font-weight: bold;
              color: @orange;
              border: 1px solid @orange;
              background-color: #FBF6C7;
              text-align: center;
            }
          }

          &.no-event {
            //pointer-events: none;
            //opacity: .3;
          }

          &.opened {
            position: relative;
            color: @green;

            & > div{
              span{
                margin-left: 15px;
              }
            }

            &:before {
              content: '';
              width: 8px;
              height: 8px;
              background: @green;
              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: 10px;
              margin-top: -4px;
            }

            &.not {
              color: @red;

              &:before {
                background: @red;
              }
            }

            &.new {
              color: @orange;

              &:before {
                background: @orange;
              }
            }
          }
        }

        &:hover{
          td{
            background-color: @purpleLight;
            &.state_success {
              & > div{
                // color: #ffffff;
                // border: 1px solid @green;
                // background-color: @green;
              }
            }

            &.state_error {
              & > div{
                // color: #ffffff;
                // border: 1px solid @red;
                // background-color: @red;
              }
            }

            &.state_warning {
              & > div{
                // color: #ffffff;
                // border: 1px solid @orange;
                // background-color: @orange;
              }
            }
          }
        }
      }
    }
  }
}
