<div class="whitebox">
  <upay-business-data-table [columnsConfig]="columnsConfig"
                            [dataSource]="dataSource"
                            [totalItems]="totalItems"
                            [activeFilters]="activeFilters"
                            [orderedFieldsArr]="orderedFieldsArr"
                            footerLabelText="widgets.reportDetails.text.total"
                            (getDataSource)="getPendingClaims($event)"
                            (rowActionClick)="onRowActionClick($event)">
  </upay-business-data-table>
</div>
