@import "../../../assets/less/_variables";

.pay-action-card {
  height: 100%;
}

:host ::ng-deep {
  text-align: center;

  .iu-ui-card{
    .flex;
  }

  .iu-ui-card-image {
    width: 100%;
  }

  .iu-ui-card-title {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 300;
    color: @dark;
  }

  .iu-ui-card-description {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
  }

  .iu-ui-button {
    .btn;
    .btn-green;
    .btn-rounded;
    .btn-large;
    padding: 0.375rem 0.75rem;
  }
}
