.about-pic{
  img{
    width: 50%;
    margin: 0 0 1.5rem 1.5rem;
    float: right;
  }
}

.about-box {
  overflow: hidden;
  height: 240px;
  width: 100%;
  background-color: $white;
  -webkit-box-shadow: 0 0 25px #e0e0e0;
  box-shadow: 0 0 25px #e0e0e0;
  padding: 0;
  margin: 3rem auto;
  border-radius: 0.8rem;
  text-align: center;
  .about {
    width: 100%;
    height: 240px;
    padding: 1.5rem;
    color: $gray-400;
    border-width: 0 10px 0 0;
    border-right-style: solid;
    -webkit-border-image:
            -webkit-gradient(linear, 0 0, 0 100%, from(#a2cd3a), to(#86af23)) 1 100%;
    -webkit-border-image:
            -webkit-linear-gradient(#a2cd3a, #86af23) 1 100%;
    -moz-border-image:
            -moz-linear-gradient(#a2cd3a, #86af23) 1 100%;
    -o-border-image:
            -o-linear-gradient(#a2cd3a, #86af23) 1 100%;
    border-image:
            linear-gradient(to bottom, #a2cd3a, #86af23) 1 100%;
    &:hover{
      background: linear-gradient(#a2cd3a, #86af23);
      color: $white;
    }
    .about-box-body{
      .icon-bg{
        background-color: $white;
        width: 33px;
        height: 33px;
        border-radius: 16px;
        margin: 0 auto 2rem;
        display: block;
        overflow: hidden;
        border: 1px solid $primary;
        i{
          font-size: 2.2rem;
          color: $primary;
          display: block;
          margin-top: -2px;
          margin-left: -2px;
        }
      }
    }
  }
}