.sidebar-sticky{
  ul{
    text-align: left;
    border: 1px solid $gray-300;
    background-color: $white;
    li{
      .nav-link{
        border-bottom: 1px solid $gray-300;
        border-left: 25px solid $white;
        line-height: 40px;
        text-align: left;
        border-radius: 0;
        color: $gray-600;
        padding: 0.5rem 0;
        font-size: 14px;
        display: block;
        &:hover, .active {
          background-color: $secondary;
          border-color: $secondary;
          color: $white;
        }
      }
      &:last-child{
        .nav-link{
          border-bottom: none;
        }
      }
    }
  }
}

.accordion#accordionBranches{
  .map-box{
    height: 300px;
    width: 100%;
    background-color: $gray-100;
  }
  .branches-info{
    .branch-item{
       border-right: 1px solid $gray-300;
      &:last-child{
        border-right: none;
      }
      .read-more{
        color: $gray-300;
        .icon_branches{
          font-size: 26px;
          vertical-align: bottom;
        }
        span{
          font-size: 14px;
          vertical-align: bottom;
        }
        &.active{
          color: $secondary;
        }
      }
    }
  }
}