.page-error{
  width: 805px;
  margin: 50px auto;
  .error-number{
    height: 300px;
    background-image: url(../images/error-bg-1.png);
    background-repeat: no-repeat;
    background-position: 100px 5px;
    padding-top: 36px;
    p{
      font-size: 128px;
      color: $grey-900;
    }
    p + p{
      font-size: 24px;
      margin-top: -35px;
      text-transform: uppercase;
    }
  }
  .back-home{
    background-image: url(../images/error-bg-2.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
  }
}