footer{
  background-color: $gray-700;
  padding: 3rem 0 0;
  @media (max-width: 768px) {
    padding: 0;
  }
  .container {
    .footer-flx{
      justify-content: space-between;
      @media (max-width: 768px) {
        flex-direction: column;
        justify-content: space-around;
      }
    }
    ul {
      display: block;
      padding: 0;
      margin: 0;
      @media (max-width: 768px) {
        margin: 1.5rem 1.5rem 0;
      }
      li {
        padding: 0 0 0.3rem;
        color: $grey-ft-text;
        &.title {
          color: $white;
        }
        a {
          color: $grey-ft-text !important;
          font-size: 0.8rem;
          &.app-icon{
            display: inline-block;
            height: 30px;
            overflow: hidden;
            padding-right: 1.2rem;
            margin-right: 1rem;
            border-right: 1px solid $grey-ft-text;
            .icon_appstore, .icon_googleplay{
              color: $grey-ft-text;
              font-size: 30px;
              line-height: 30px;
            }
            &:last-child{
              border-right: none;
              margin-right: 0;
            }
          }
        }
        &.dropdown-divider{
          border-color: $grey-ft-text;
        }
      }
    }
    .order-6{
      @media (max-width: 768px) {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 1;
        order: 1;
      }
    }
    .order-7{
      @media (max-width: 768px) {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: 0;
        order: 0;
        margin-top: 1.5rem;
      }
    }
  }

  .footer-bottom{
    background-color: $gray-800;
    padding: 0.8rem 1.5rem;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
    p{
      color: $grey-ft-text;
      font-size: 0.8rem;
      margin: 0;
      span{
        color: $white;
      }
    }
  }
  .soc-icon{
    margin: 1rem;
    color: $grey-ft-text;
  }
}