main{
  padding-top: 80px;
  @media (max-width: 767px) {
    padding-top: 55px;
  }
  .publicarea{
    background-color: $white;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

/* media visibility
-------------------------------------------------- */

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

// ----------------------------------------

ul{
  padding: 0;
}

.marg-just{
  margin-right: -30px;
  margin-left: -30px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 600;
  line-height: 1.2;
  color: $gray-600;
}

h1, .h1 {
  font-size: 3.6rem;
  text-transform: uppercase;
  @media (min-width: 768px) and (max-width: 991px) {
    font-size: 2.6rem;
  }
}

h2, .h2, h3, .h3{
  text-transform: uppercase;
}


ul, li{
  list-style: none;
}

.w-85{
  width: 85%;
}

.w-100{
  width: 100%;
}

.full-img{
  img{
    width: 100%;
  }
}

.mrg-auto{
  margin: 0 auto;
}

.pull-right{
  float: right !important;
}
.pull-left{
  float: left !important;
}

a.read-more{
  margin-top: 1rem;
  display: block;
  font-style: italic;
}

.shad-box{
  box-shadow: 0 0 10px $gray-400;
}

@media (min-width: 768px) {
  .static-psn{
    position: static !important;
  }
}

@media (max-width: 767px) {
  .static-psn{
    position: relative !important;
  }
}

.aft-none:after{
  display: none !important;
}

data{
  font-size: 0.8rem;
  padding-bottom: 1rem;
  display: block;
}

.card {
  text-align: left;
  margin: 2rem auto 0;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 7px #c1c4cb;
  img{
    height: auto;
    width: 100%;
  }
  .card-title {
    text-transform: uppercase;
    margin-bottom: 0.3rem;
  }
}

.container-pad{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.pagination{
  margin: 2rem 0 0;
    .page-item{
      margin: 0 3px;
      .page-link {
        padding: 0.25rem 0.8rem;
        font-size: 0.8rem;
        line-height: 24px;
      }
      &.disabled{
        color: $gray-300;
      }
    }
}

.gray-bg-15{
  background-color: $gray-100;
  margin: -1.5rem 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.row-redirect{
  @media (max-width: 768px) {
  flex-direction: column;
  }
  .col-4, .col-7, .col-5{
    @media (max-width: 768px) {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.soc-icon{
  color: $grey-ft-text;
  font-size: 30px;
}

.dropdown-divider{
  border-top: 1px solid $dropdown-divider-bg;
}

.fnt-12{
  font-size: 12px;
}

.fnt-14{
  font-size: 14px;
}

.fnt-18{
  font-size: 18px;
}

.fnt-20{
  font-size: 20px;
}

small, .small {
  font-size: 80%;
  font-weight: 400 !important;
}



//-------------------------------------

.accordion {
  border: 1px solid $gray-300;
  .card {
    margin: 0 auto;
    box-shadow: none;
    .card-header {
      background-color: $white;
      padding: 0;
      border-bottom: 0;
      h5 {
        border-top: 1px solid $gray-300;
        border-bottom: 1px solid $gray-300;
        border-left: 25px solid $white;
        &:hover, &.active {
          background-color: $secondary;
          border-color: $secondary;
          .btn {
            color: $white;
          }
        }
        .btn {
          line-height: 40px;
          text-align: left;
          color: $gray-600;
          padding: 0.5rem 0;
          font-size: 14px;
          display: block;
          text-decoration: none;
          width: 100%;
          border-radius: 0 !important;
          back
          &.btn-link:hover {
            text-decoration: none;
          }
        }
      }
    }
    &:first-child {
      .card-header {
        h5 {
          border-top: none;
        }
      }
    }
  }
}

.form-group{
  .mat-design{
    border: 0;
    border-bottom: 1px solid $gray-200;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }
}

::placeholder {
  color: $gray-300 !important;
  opacity: 1; /* Firefox */
  font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $gray-300 !important;
  font-size: 14px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $gray-300 !important;
  font-size: 14px;
}


//--MODAL window Styles--------------------------------------

.modal-content{
  padding: 1rem;
  width: 500px;
  .modal-header {
    border: 0;
    .close {
      padding: 0;
      margin: 0;
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 30px;
      font-weight: normal;
    }
  }

  .modal-footer{
    border: 0;
    justify-content: flex-start;
    flex-direction: column;
  }
}

// Form inputs styles------------------------------------

::placeholder {
  color: $gray-300 !important;
  opacity: 1; /* Firefox */
  font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: $gray-300 !important;
  font-size: 14px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: $gray-300 !important;
  font-size: 14px;
}


.has-float-label{
  label, > span{
    color: $gray-300;
    font-size: 16px;
    left: 5px;
    opacity: 1;
  }
  .form-control{
    padding-left: 5px;
    color: $gray-600;
  }
}

.has-float-label input:placeholder-shown:not(:focus) + *,
.has-float-label select:placeholder-shown:not(:focus) + *,
.has-float-label textarea:placeholder-shown:not(:focus) + *{
  font-size: 100%;
  opacity: 1;
  bottom: 5px;
  top: auto;
  left: 5px;
}
.has-float-label input,
.has-float-label select,
.has-float-label textarea {
  font-size: inherit;
  padding-top: 1em;
  margin-bottom: 2px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


