/*-header - navbar---------------------------------------*/

.header-bg{
  background-color: #fff;
  box-shadow: 0 3px 7px $gray-300;
  .container {

    @media (min-width: 992px) {
      max-width: 970px !important;
      padding: 0;
    }
    @media (min-width: 768px) {
      max-width: 760px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px !important;
      padding: 0;
    }
    .navbar{
      padding: 0;
      height: 80px;
      @media (max-width: 1359px) {
        height: 70px;
      }
      @media (max-width: 767px) {
        height: 55px !important;
      }
      .navbar-toggler {
        padding: 0;
        font-size: 1.6rem;
        line-height: 1;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        margin-right: 40px;
        height: 55px;
      }
      .navbar-brand {
        display: inline-block;
        padding: 0;
        font-size:0;
        margin-right: 1rem;
        line-height: 1;
        white-space: nowrap;
        width: 82px;
        height: 80%;
        @media (max-width: 767px) {
          padding: 0;
          margin-right: 0;
          line-height: 1;
          height: 40px;
        }
        img{
          height: 100%;
          @media (max-width: 767px) {
            height: 100%;
            width: auto;
          }
        }
      }
      .navbar-nav{
        .nav-item {
          .nav-link {
            color: $gray-600;
            line-height: 80px;
            padding: 0 1.6rem;
            @media (max-width: 1359px) {
              line-height: 70px;
            }
            @media (min-width: 1200px) {
              padding: 0 1.6rem !important;
            }
            @media (min-width: 992px) {
              padding: 0 1rem;
            }
            @media (min-width: 768px) {
              padding: 0 1rem;
            }
            &.active{
              color: #fff;
              background: linear-gradient(#a2cd3a, #86af23);
            }
          }
          .dropdown-menu{
            min-width: 70px;
            border: 0;
            border-radius: 0;
            padding: 0.5rem;
            .cont-size {
              padding: 0.5rem 5rem;
              @media (min-width: 768px) {
                padding: 0.5rem 0 0.5rem 2.5rem !important;
              }
              .dropdown-item {
                &.bullet{
                  display: inline-block;
                  width: 30%;
                  position: relative;
                  line-height: 60px;
                  padding-left: 30px;
                  color: $gray-600;
                  &:before{
                    display: block;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    top: 44%;
                    left: 0;
                    content: '';
                    background: linear-gradient($primary, $secondary);
                  }
                }
              }
            }
          }

        }
      }
      .right-menu{
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        width: 320px;
        //@media (min-width: 1200px) {
        //  width: 375px;
        //}
        @media (max-width: 992px) {
          width: 180px;
        }
        @media (max-width: 767px) {
          width: 60px !important;
        }
        &.order-4 {
          -webkit-box-ordinal-group: 5;
          -ms-flex-order: 4;
          order: 4;
          @media (max-width: 767px){
            -webkit-box-ordinal-group: 4;
            -ms-flex-order: 3;
            order: 3;
          }
        }
        /*-search box-----------------------------------------*/
        .form-inline {
          @media (max-width: 767px) {
            margin-top: 0 !important;
          }
          .dropdown {
            &.static-psn {
              @media (max-width: 767px) {
                position: static !important;
              }
              .icon_search.lens {
                font-size: 1.4rem;
                color: #353535;
                border-left: 1px solid $gray-600;
                border-right: 1px solid $gray-600;
                padding: 0.2rem 1rem;
                @media (min-width: 768px) {
                  font-size: 1.4rem;
                  color: #353535;
                  border-left: none;
                  border-right: none;
                  padding: 0.2rem 0.5rem;
                }
                @media (min-width: 992px) {
                  font-size: 1.4rem;
                  color: #353535;
                  border-left: 1px solid $gray-600;
                  border-right: 1px solid $gray-600;
                  padding: 0.2rem 1rem;
                }
                @media (max-width: 767px) {
                  font-size: 1.4rem;
                  color: $gray-600;
                  border-left: none;
                  border-right: none;
                  padding: 0;
                }
              }
              .search-box.show {
                height: 90px;
                background-color: rgba(249, 249, 249, 0.8);
                display: flex;
                justify-content: center;
                align-items: center;
                .search-input {
                  border-top: 0;
                  border-left: 1px solid $gray-600;
                  border-right: 0;
                  border-bottom: 0;
                  border-radius: 0;
                  font-size: 20px;
                  padding: 1.4rem 1rem;
                  background-color: transparent;
                  color: $gray-600;
                  outline: none;
                }
              }
              &.show{
                .icon_search.lens {
                  @media (max-width: 767px) {
                    position: relative;
                    z-index: 3000;
                    right: -33px;
                    color: $secondary;
                  }
                }
                .search-box.show{
                  @media (max-width: 767px){
                    font-size: 1rem;
                    padding: 0.8rem 0;
                    height: 55px;
                    top: -2px;
                    left: 0;
                    border: 0;
                    border-radius: 0;
                    background-color: #fff;
                  }
                  a{
                    line-height: 1;
                    .icon_close {
                      color: #353535;
                    }
                  }
                  .search-input {
                    @media (max-width: 767px) {
                      font-size: 1rem;
                      padding: 0 1rem;
                      height: 30px;
                      margin-left: 10px;
                      border-left: 1px solid #dadada;
                    }
                  }
                }
              }
            }

          }


        }
        .icon_user {
          font-size: 20px;
          @media (max-width: 767px) {
            font-size: 22px;
            color: $gray-600;
          }
        }
        /*-languages box-----------------------------------------*/
        .lang{
          padding: 0;
          .aft-none{
            color: $gray-600;
            line-height: 2.7rem;
            span{
              padding-right: 0.5rem;
            }
            i{
              font-size: 0.8rem;
              position: relative;
              z-index: 3000;
            }
          }
          &.show{
            .aft-none{
              .icon_arrow{
                color: $secondary;
              }
            }
          }
        }
        .lang-box{
          width: 78px;
          @media (max-width: 767px){
            text-align: center;
          }
          .lang-box-item{
            display: block;
            color: $gray-600;
            padding-left: 0.5rem;
            &.active{
              color: $secondary;
            }
          }
          &.dropdown-menu{
            &.show {
              display: block;
              width: 77px;
              -webkit-box-shadow: 0 4px 5px #7d7d7d;
              box-shadow: 0 4px 5px $gray-400;
              top: -1px;
              left: -16px;
              padding: 0.5rem;
              min-width: auto;
              border: 0;
              border-radius: 0;
            }
          }
        }
        .btn{
          font-size: 0.9rem;
          line-height: 1.5;
          border-radius: 1.4rem;
          padding: 0.375rem 1.8rem;
          @media (min-width: 1200px) {
            padding: 0.375rem 1.8rem !important;
          }
          @media (min-width: 992px) {
            padding: 0.375rem 1rem !important;
          }
          &.register{
            background-color: transparent;
            border-color: $gray-400;
            color: $gray-600;
          }
        }
      }
      /*navbar collapsed----------------------------------------*/
      .navbar-toggler{
        color: $gray-600;
        .icon_menu{
          display: none;
        }
        .icon_close{
          display: block;
          width: 26px;
          font-size: 20px;
        }
        &.collapsed{
          .icon_menu{
            display: block;
          }
          .icon_close{
            display: none;
          }
        }
      }
      .navbar-collapse{
        &.show {
          background-color: $grey-900;
          margin: 0 -15px;
          height: 100vh;
          .navbar-nav {
            padding: 1rem;
            .dropdown-divider {
              border-top: 1px solid #4b4e51;
            }
            .nav-item {
              .lang-box{
                text-align: center;
                .lang-box-item{
                  @media (max-width: 767px){
                    color: #fff;
                    border-right: 1px solid #4b4e51;
                    padding: 0 1rem;
                  }
                  &:last-child{
                    @media (max-width: 767px) {
                      border-right: none;
                    }
                  }
                  &.active{
                    background-color: transparent;
                    color: $primary;
                  }
                }
              }
              .nav-link {
                line-height: 2;
                color: #fff;
                padding: 0;
                &.dropdown-toggle::after {
                  display: inline-block;
                  margin-left: 0.255em;
                  vertical-align: middle !important;
                  content: "\E901";
                  line-height: 1;
                  font-family: 'UPay-icons' !important;
                  margin-top: -13px;
                  font-size: 12px;
                  color: #7d7d7d;
                  border: 0;
                }
                &.aft-none:after {
                  display: inline-block !important;
                }
                &.active{
                  background: transparent;
                  color: $primary;
                }
              }
              .dropdown-menu{
                &.bg-light{
                  background-color: transparent !important;
                  box-shadow: none !important;
                  .cont-size{
                    padding: 0;
                    .dropdown-item.bullet {
                      display: inline-block;
                      width: 100%;
                      position: relative;
                      line-height: 1.5;
                      padding-left: 0;
                      color: #fff;
                      &:before{
                        display: none;
                      }
                    }
                  }
                }
              }
              .btn {
                border: 1px solid $gray-400;
                font-size: 0.9rem;
                line-height: 1.5;
                border-radius: 1.4rem;
                padding: 0.375rem 1.8rem;
                color:#fff;
                background-color: transparent;
                margin-top: 20px;
              }
            }
          }
        }
        &.order-3 {
          -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
          order: 3;
          @media (max-width: 767px){
            -webkit-box-ordinal-group: 5;
            -ms-flex-order: 4;
            order: 4;
          }
        }
      }
    }
  }
}