
// services box -------------------------------------------

.services{
  background-color: $gray-100;
  padding-top: 4rem;
  padding-bottom: 3rem;
  background-image: url(../images/services-bg.png);
  background-position: right top;
  background-repeat: no-repeat;
}
.white-box{
  width: 85%;
  min-height: 260px;
  background-color: $white;
  margin: 2rem auto;
  -webkit-box-shadow: 0 0 25px #e0e0e0;
  box-shadow: 0 0 25px #e0e0e0;
  padding: 5rem 2rem 2rem 5rem;
  border-radius: 0.5rem;
  text-align: left;
  position: relative;
  @media (max-width: 768px) {
    width: 95%;
    margin: 1rem auto;
  }
  &:after{
    width: 90px;
    height: 96px;
    background: linear-gradient(#a2cd3a, #86af23);
    border-radius: 0.5rem 0 4rem 0;
    content: '';
    position: absolute;
    top: 0;
    left:0;
    z-index: 4;
  }
  &:before{
    position: absolute;
    top: 0;
    left:0;
    content: "\e904";
    color: $white;
    font-size: 2.4rem;
    width: 90px;
    height: 96px;
    padding: 1rem 1.5rem;
    z-index: 5;
    font-family: 'UPay-icons' !important;
  }
  &.uw-box{
    -webkit-box-shadow: 0 0 39px #cdcdcd;
    box-shadow: 0 0 39px #cdcdcd;
    &:before{
      position: absolute;
      top: 0;
      left:0;
      content: "\e923";
      color: $white;
      font-size: 2.6rem;
      width: 90px;
      height: 96px;
      padding: 1rem 1.4rem;
      z-index: 5;
      font-family: 'UPay-icons' !important;
    }
  }
  &.about{
    width: 100%;
    padding: 1.5rem;
    margin: auto;
    &:before, &:after{
      display: none;
    }
  }
}


//-upay block -------------------------------------------------*/

.use-upay{
  width: 100%;
  height: 325px;
  background-image: url("../images/adds-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3D4D75;
  text-align: center;
  margin-bottom: 3rem;
  padding: 4rem;
  @media (max-width: 768px) {
    padding: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  p{
    color: $white;
    font-size: 2.4rem;
    text-transform: uppercase;
    @media (max-width: 768px) {
      font-size: 1.7rem;
    }

  }
}

//-Upay mobile app box---------------------------

.upeymobile{
  .up-mob{
    list-style: none;
    margin-bottom: 0;
    padding-left: 2rem;
    li{
      list-style: none;
      margin-bottom: 2rem;
      max-width: 350px;
      h3{
        max-width: 350px;
        @media (max-width: 768px) {
          font-size: 1.5rem;
        }
      }
      .card-subtitle{
        text-transform: uppercase;
        font-weight: 600;
        color: $gray-600;
        &.active{
          color: $secondary;
        }
      }
      &.current{
        position: relative;
        &:before{
          position: absolute;
          content: '';
          width: 30px;
          height: 85px;
          border-left: 1px solid #e0e0e0;
          top: 0;
          left: -35px;
        }
        &:after{
          position: absolute;
          display: block;
          content: '';
          width: 30px;
          height: 50px;
          background-color: $white;
          font-size: 2.12rem;
          font-weight: 600;
          color: #d0d0d0;
          top: -8px;
          left: -43px;
        }
        &.c-1{
          &:after{
            content: '1';
          }
        }
        &.c-2{
          &:after{
            content: '2';
          }
        }
        &.c-3{
          &:after{
            content: '3';
          }
        }
        &.c-4{
          &:before{
            border-left: none;
          }
          &:after{
            content: '4';
          }
        }
      }
    }
  }
}

//-Upay applications box------------------------------

.upay-applications{
  width: 100%;
  height: 160px;
  background-image: url("../images/bg-3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3D4D75;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 2.5rem;
  color: $white;
  @media (max-width: 1024px) {
    padding-top: 2rem;
  }
  .col-6{
    .w-85{
      width: 100% !important;
    }
  }
  p{
    button{
      color: $white;
      border-color: $white;
      background-color: transparent;
      margin-right: 1rem;
      i{
        line-height: 30px;
        font-size: 30px;
      }
    }
  }
}

// news box ------------------------------------------------

.news{
  .news-item{
    text-align: left;
    margin: 3.5rem 0;
    @media (max-width: 768px) {
      margin: 1rem 0;
    }
    img{
      width: 100%;
    }
    data{
      font-size: small;
      margin: 0.8rem 0;
      display: block;
    }
    p{
      text-transform: uppercase;
    }
  }
}