.news-content{
  border-right: 1px solid $gray-300;
  padding-right: 1.2rem;
  @media (max-width: 768px){
    border-right: none;
    padding-right: 0;
  }
  .news-banner{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    img{
      width: 100%;
    }
  }
  .soc-icon{
    margin:0 0.5rem;
    color: $gray-300;
  }
  data{
    font-size: 1rem;
    color: $black;
  }

}

.news-list{
  .adds{
     padding-bottom: 0.5rem;
     border-bottom: 1px solid $gray-300;
    img{
      width: 100%;
    }
  }
  .card{
    flex-direction: row;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
    img{
      max-height: 100px;
      @media (max-width: 767px){
        max-height: 80px;
      }
    }
    .card-body{
      padding: 0 1rem;
      .card-title{
        display: none;
      }
      data{
        padding-bottom: 0.5rem;
      }
      p{
        text-transform: uppercase;
        line-height: 1.1;
        max-height: 70px;
        overflow: hidden;
      }
      .read-more{
        display: none;
      }
    }
  }
}