
.page-title{
  font-size: 22px;
}

.form-group{
  &.sr-group {
    &::before {
      display: block;
      content: $icon_search;
      font-family: "UPay-icons" !important;
      position: absolute;
      right: 1rem;
      top: 0.5rem;
      font-size: 24px;
      color: $gray-600;
      z-index: 10;
    }
    .search-input {
      background-color: #e6e7eb;
      height: 50px;
      font-size: 1.2rem;
      padding: 1rem;
      position: relative;
      border: 1px solid $gray-200;
    }
  }
}



.small-head{
  color: $gray-600;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $gray-300;
  margin-bottom: 2rem;
}

.title-content{
  font-size: 14px;
  dt{
    color: $secondary;
    padding-bottom: 0.5rem;
    font-weight: normal;
  }
  dd{
    padding-bottom: 1.5rem;
  }
}