/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  position: relative;
  margin-top: -1.5rem;
  background-color: $gray-100;
}
/* Since positioning the image, we need to help out the caption */

.carousel-caption {
  position: absolute;
  right: auto !important;
  top: 25%;
  z-index: 10;
  bottom: auto;
  left: auto !important;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #000 !important;
  text-align: left !important;
  @media (max-width: 768px) {
    text-align: center !important;
  }

}

/* Declare heights because of positioning of img element */
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-item {
  background-color: $gray-100;
  position: relative;
  display: none;
  //-ms-flex-align: center;
  //align-items: center;
  //justify-content: center;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
}

//.carousel-item > img {
//  width: 100%;
//  height: 100%;
//  min-height: 450px;
//  display: block;
//}

.carousel-control-prev {
    color: #000 !important;
}
.carousel-control-next{
    color: #000 !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  background-image: none;
  font-size: 27px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 1024px) {
  /* Bump up size of carousel content */
  .carousel-caption {
    top: 20%;
    h1 {
      font-size: 2.6rem;
    }
  }
  .carousel-item{
    height: 450px;
  }
}

@media (max-width: 768px) {
  /* Bump up size of carousel content */
    div.w-50{
      width: 100% !important;
    }
}




