.uwallet {
   .col-3, .col-6, .col-3{
     @media (max-width: 768px) {
       -webkit-box-flex: 0;
       -ms-flex: 0 0 100%;
       flex: 0 0 100%;
       max-width: 100%;
     }
     }
  .order-2{
    @media (max-width: 768px) {
      order: 0;
    }
  }
  .wallet-item {
    &.text-right{
      @media (max-width: 768px) {
        text-align: left !important;
      }
    }
    h4{
      @media (max-width: 768px) {
        display: inline-block;
        padding-left: 1rem;
        vertical-align: bottom;
      }
    }
    i {
      display: inline-block;
      width: 47px;
      height: 47px;
      border-radius: 4px;
      color: $white;
      font-size: 33px;
      padding: 0 7px;
      line-height: 47px;
      &.icon_pay {
        background-color: $secondary;
      }
      &.icon_transfer {
        background-color: $icon-box-2;
      }
      &.icon_topup {
        background-color: $icon-box-1;
      }
      &.icon_add-payment {
        background-color: $gray-300;
        color: $gray-600;
      }
    }
    &.marg-left-50 {
      margin-left: -50px;
      @media (max-width: 768px) {
        margin-left: 0;
      }
    }
    p {
      font-size: 0.8rem;
      margin-top: 0.5rem;
      margin-bottom: 1.5rem;
    }
  }
}

.tablinks-hr{
  border: 1px solid $gray-300;
  width: 100%;
  background-color: $white;
  .tablink-item{
    display: block;
    float: left;
    line-height: 60px;
    font-size: 1.2rem;
    text-align: center;
    border-bottom: 2px solid transparent;
    color: $gray-600;
    &:hover, &.active {
      border-bottom: 2px solid $secondary;
      text-decoration: none;
      color: $gray-600;
      font-weight: bold;
    }
  }
}

// mobile variant tabs-accordeon--
.accordion#accordionUwallet{
  padding: 0;
  .card {
    .card-header {
      padding: 0 1.2rem;
      .btn{
        i{
          font-size: 28px;
          color: $secondary;
          margin-right: 1.3rem;
        }
      }
      &:hover, &.active {
        h5{
          .btn{
            i{
              color: $white;
            }
          }
        }
      }
    }
  }
}



//--desktop variant tabs-tabpanels--
.tabs-panels{
  width: 100%;
}

.tabs{
  width: 22%;
  float: left;
  border: 1px solid $gray-300;
  .nav-link{
    border-bottom: 1px solid $gray-300;
    border-right: 25px solid $white;
    border-left: 25px solid $white;
    line-height: 40px;
    text-align: left;
    border-radius: 0;
    color: $gray-600;
    padding: 0.5rem 0;
    font-size: 14px;
    background-color: $white;
    @media (max-width: 1024px){
      text-align: center;
      font-size: 12px;
      line-height: 22px;
    }
    i{
      font-size: 28px;
      color: $secondary;
      margin-right: 1rem;
      @media (max-width: 1024px){
        margin-right: 0;
        font-size: 22px;
        display: block;
      }
    }
    &:hover, &.active {
      background-color: $secondary;
      color: $white;
      border-color: $secondary;
      i{
        color: $white;
      }
    }
    &:last-child{
      border-bottom: 0;
    }
  }
}
.tab-content{
  padding: 0 0 0 1.1rem;
  width: 78%;
  float: left;
  .tab-pane{
    border: 1px solid $gray-300;
    ul{
      @include clearfix();
      margin-bottom: 0;
      li{
        padding: 0;
        height: 80px;
        border-bottom: 1px solid $gray-300;
        border-right: 25px solid $white;
        border-left: 25px solid $white;
        text-align: center;
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
          display: inline-block;
          font-size: 14px;
          position: relative;
          text-align: left;
          min-height: 59px;
          line-height: 50px;
          @media (max-width: 768px) {
            min-height: 50px;
            line-height: 1.2;
          }
          img{
            position: absolute;
            left: 0;
            width: 59px;
            @media (max-width: 768px) {
              width: 50px;
            }
          }
          &:first-child{
            text-align: left;
            width:40%;
            padding-left: 60px;
          }
          &:first-child + span{
            width: 20%;
          }
          &:last-child{
            width:40%;
          }
          .icon_dram{
            font-size: 12px;
          }
        }
        &.head-li{
          height: 56px;
          background-color: $gray-200;
          border-right: 0;
          border-left: 0;
          justify-content: space-between;
          padding-left: 25px;
          padding-right: 25px;
          span{
            line-height: 56px;
            @media (max-width: 768px) {
              line-height: 1.2;
            }
            &:first-child{
              padding-left: 0;
              width:40%;
            }
            &:first-child + span{
              width: 20%;
            }
            &:last-child{
              width:40%;
            }
          }
        }
        &:last-child{
          border-bottom: 0;
        }
      }
    }
  }
}