<div class="l-event-container"
     #keyboardActionComponent
     (wheel.capture.once.passive)="onFireEvent($event)"
     (mouseenter)="onFireEvent($event)"
     (mouseleave)="onFireEvent($event)"
     (mousedown)="onFireEvent($event)"
     (mouseup)="onFireEvent($event)"
     (touchstart)="onTouchstart($event)"
     (touchend)="onTouchend($event)">


     <ng-content></ng-content>

</div>

<!--event.capture.once.passive makes event passive to avoid [violation]-->