<div class="popup-wrapper login-popup">
  <div class="flex col">
    <div class="flex center-left center-top logo">
      <iu-ui-img src="assets/img/logo.svg" alt="UPay-logo">
      </iu-ui-img>
    </div>

    <!--todo create ui lib input-->
    <div class="flex col form">
      <iu-ui-input placeholder="email/mobile"
                   (valueChange)="onUsernameChange($event)">
      </iu-ui-input>
      <iu-ui-input placeholder="password"
                   type="password"
                   (valueChange)="onPasswordChange($event)">

      </iu-ui-input>
    </div>

    <span class="forget-password">
      <iu-ui-button text="Forgot password?"
                    (click)="openPopup('forgot')">
      </iu-ui-button>
    </span>

    <div class="cta-btn">
      <iu-ui-button (click)="onSignIn()" text=" Sign in">
      </iu-ui-button>
    </div>

    <div class="flex center-left center-top extra">
      <iu-ui-text>
       Dont have an account yet?
      </iu-ui-text>
      <iu-ui-button text="Sign Up"
                    (click)="openPopup('signUp')">
      </iu-ui-button>
    </div>
  </div>
</div>
