@import '_variables';

textarea {
  resize: none;
  border: 1px solid @gray-200;
}

.files {
  min-height: 100px;

  .download, .upload {
    .center-top;
    padding: 15px;
    flex: 1;
    height: 100%;
  }

  .download {
    border-right: 1px solid @gray-200;
  }
}

:host ::ng-deep {
  button, a, .single-file {
    .btn;
    .btn-transparent;
    .btn-rounded;
     border: 1px solid @gray-200;

    &:hover {
      border: 1px solid @blue;
      color: @blue;
    }
  }

  .single-file {
    width: 50%;
    pointer-events: none;
    margin-left: auto;
  }

  i {
    font-size: 1.2rem;
    color: @blue;
  }
}
