<div class="popup-styles unfreeze-account-popup">
  <div class="popup-inner-wrapper title">Ապասառեցնել</div>
  <div class="popup-inner-wrapper flex col">
    <div class="flex col form">
      <textarea placeholder="Ապասառեցնելու հիմքը"
                   [(ngModel)]="unfreezeApplicationText">
      </textarea>
    </div>
    <!-- todo dont remove the comment: in actual unfreeze flow file upload is mandatory-->
<!--    <div class="flex center-top files">-->
<!--      <div class="download">-->
<!--        <iu-ui-download-link-with-icon link="assets/files/application_form.docx" text="Դիմումի ձև" iconClassName="icon_download"></iu-ui-download-link-with-icon>-->
<!--      </div>-->
<!--      <div class="upload flex col ">-->
<!--        <iu-ui-file-upload-->
<!--          iconClassName="icon icon_attach"-->
<!--          (fileUpload)="attachFile($event)"-->
<!--          accept=".png,.jpg,.jpeg"-->
<!--          text="Կցել">-->
<!--        </iu-ui-file-upload>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="uploaded-files">-->
<!--      <div class="single-file" *ngFor="let f of files">{{f}}</div>-->
<!--    </div>-->
    
    <div class="cta-btn">
      <iu-ui-button text="ՈՒղարկել հայտ"
                    (click)="unfreezeAccount()">
      </iu-ui-button>
    </div>
  </div>
</div>
