<header>
  <div class="app-container header">
    <div class="flex center-top header-flex">
      <!-- logo -->
      <iu-ui-link link="/">
        <iu-ui-img src="shared-assets/img/logo.svg" alt="UPay-logo">
        </iu-ui-img>
      </iu-ui-link>
      <!-- navigation -->
      <div class="left-nav">
        <iu-ui-navigation>
          <iu-ui-navigation-item *ngFor="let item of navigation['leftNav']" [item]="item">
            <span>{{ item.text | translate }}</span>
          </iu-ui-navigation-item>
        </iu-ui-navigation>
      </div>

      <!-- right block -->
      <div class="flex center-top float-right">
        <!--languages box -->
        <!--<app-language-picker></app-language-picker>-->
        <div class="right-nav" *ngIf="isAuth">
          <iu-ui-navigation>
            <iu-ui-navigation-item [item]="navigation.rightNav.balance">
              <span [ngClass]="navigation.rightNav.balance.text"><iu-ui-icon [type]="navigation.rightNav.balance.icon"></iu-ui-icon><span>{{balance}} {{'measureUnit.amd' | translate}}</span></span>
            </iu-ui-navigation-item>
            <iu-ui-navigation-item [item]="navigation.rightNav.basket">
              <span [ngClass]="navigation.rightNav.basket.text"><iu-ui-icon [type]="navigation.rightNav.basket.icon"></iu-ui-icon><span class="counterVisible" [ngClass]="basketCount > 0 ? 'vis' : ''">{{basketCount}}</span></span>
            </iu-ui-navigation-item>
          </iu-ui-navigation>
        </div>
        <!-- avatar -->
        <app-avatar *ngIf="isAuth"></app-avatar>
        <!--login-->
      </div>

    </div>
  </div>
</header>
